<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Send clarification request
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{ form_start(form) }}
            <div class="modal-body">
                {{ form_row(form.recipient) }}
                {{ form_row(form.subject) }}
                {{ form_row(form.message) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" name="submit" class="btn btn-primary">
                    <i class="fas fa-envelope"></i> Send
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
