{# problem \App\Entity\ContestProblem #}

<h1 class="mt-4 text-center">{{ contest.name | default('Contest') }} problems</h1>

{% if problems is empty %}
    <div class="alert alert-secondary">No problem texts available at this point.</div>
{% else %}
    <div class="container">
        <div class="row problem-list">
            {% for row in problems|batch(3, []) %}
                <div class="col-md-12">
                    <div class="card-deck my-md-3">
                        {% for problem in row %}
                            {% if problem is empty %}
                                <div class="card" style="border: none;"></div>
                            {% else %}
                                {% set numsamples = samples[problem.probid] %}
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="card-title">
                                            {{ problem | problemBadge }}
                                        </h2>
                                        <h3 class="card-subtitle mb-2 text-muted">
                                            {{ problem.problem.name }}
                                        </h3>
                                        {% if showLimits %}
                                            <h4 class="card-subtitle mb-2 text-muted">
                                                Limits: {{ problem.problem.timelimit }}
                                                second
                                                {%- if problem.problem.timelimit > 1 %}s{% endif %}
                                                {%- if timeFactorDiffers -%}
                                                    <sup>*</sup>
                                                {% endif %}
                                                /
                                                {{ ((problem.problem.memlimit | default(defaultMemoryLimit)) * 1024) | printSize }}
                                            </h4>
                                        {% endif %}

                                        {% if stats is defined %}
                                            <div class="mt-3">
                                                {% for correct in [true, false] %}
                                                    <div class="problem-stats d-flex justify-content-center">
                                                        {% for bucket in 0..stats.numBuckets - 1 %}
                                                            {% if correct %}
                                                                {% set index = 'correct' %}
                                                                {% set maxBucketSize = stats.maxBucketSizeCorrect %}
                                                            {% else %}
                                                                {% set index = 'incorrect' %}
                                                                {% set maxBucketSize = stats.maxBucketSizeIncorrect %}
                                                            {% endif %}
                                                            {% set stat = stats.problems[problem.problem.probid][index][bucket] %}
                                                            {% set count = stat.count %}
                                                            {% if maxBucketSize == 0 %}
                                                                {% set bucket = 0 %}
                                                            {% else %}
                                                                {% set bucket = (count / maxBucketSize * 9) | round(0, 'ceil') %}
                                                            {% endif %}
                                                            {% if count == 1 %}
                                                                {% set submissionText = 'submission' %}
                                                            {% else %}
                                                                {% set submissionText = 'submissions' %}
                                                            {% endif %}
                                                            {% if not contest.freezeData.showFinal and contest.freezetime and stat.end.timestamp >= contest.freezetime %}
                                                                {% set maxBucketSize = max(1, stats.maxBucketSizeCorrect, stats.maxBucketSizeIncorrect) %}
                                                                {% set bucket = (count / maxBucketSize * 9) | round(0, 'ceil') %}
                                                                {% set itemClass = 'frozen' ~ '-' ~ bucket %}
                                                                {% set label = count ~ ' ' ~ submissionText ~ ' in freeze' %}
                                                            {% else %}
                                                                {% set itemClass = index ~ '-' ~ bucket %}
                                                                {% set label = count ~ ' ' ~ index ~ ' ' ~ submissionText %}
                                                            {% endif %}
                                                            <div
                                                                class="problem-stats-item {{ itemClass }}"
                                                                data-toggle="tooltip"
                                                                data-placement="top"
                                                                data-html="true"
                                                                title="Between {{ stat.start.timestamp | printtime(null, contest) }} and {{ stat.end.timestamp | printtime(null, contest) }}:<br/>{{ label }}">
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div>
                                                <br/>
                                            </div>
                                        {% endif %}

                                        <div class="text-center">
                                            {% if problem.problem.problemtextType is not empty %}
                                                <a class="btn btn-secondary" role="button"
                                                   href="{{ path(problem_text_path, {'probId': problem.probid}) }}">
                                                    <i class="fas fa-file-{{ problem.problem.problemtextType }}"></i>
                                                    text
                                                </a>
                                            {% endif %}

                                            {% if numsamples > 0 %}
                                                <a class="btn btn-secondary" role="button"
                                                   href="{{ path(problem_sample_zip_path, {'probId': problem.probid}) }}">
                                                    <i class="fas fa-file-archive"></i> samples
                                                </a>
                                            {% endif %}

                                            {% if show_submit_button | default(false) %}
                                                {% if is_granted('ROLE_JURY') or (current_team_contest is not null and current_team_contest.freezeData.started) %}
                                                    <a class="justify-content-center" data-ajax-modal data-ajax-modal-after="initSubmitModal" href="{{ path('team_submit', {problem: problem.probid}) }}">
                                                        <span class="btn btn-success">
                                                            <i class="fas fa-cloud-upload-alt"></i> Submit
                                                        </span>
                                                    </a>
                                                {% else %}
                                                    <a class="justify-content-center">
                                                        <span class="btn btn-success disabled" disabled>
                                                            <i class="fas fa-cloud-upload-alt"></i> Submit
                                                        </span>
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        </div>

                                        {% if problem.problem.attachments | length > 0 %}
                                            <hr/>
                                            <ol class="text-center list-group list-group-flush">
                                                {% for attachment in problem.problem.attachments %}
                                                    <li class="list-group-item">
                                                        <a class="btn btn-outline-secondary" role="button"
                                                           href="{{ path(problem_attachment_path, {'probId': problem.probid, 'attachmentId': attachment.attachmentid}) }}">
                                                            <i class="{{ attachment.type | fileTypeIcon }}"></i> {{ attachment.name }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ol>
                                        {% endif %}

                                    </div>
                                </div>
                                <div class="w-100 d-none d-sm-block d-md-block d-lg-none"><!-- wrap every 2 on sm--></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if showLimits and timeFactorDiffers %}
            <div class="row">
                <div class="col-md-12 my-sm-3">
                    <div class=" alert alert-secondary" role="alert">
                        * language time factors apply
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}
