{% if static is not defined %}
    {% set static = false %}
{% endif %}

{% if ajax is defined and ajax and not static and public %}
    <div class="d-none">
        {% include 'partials/scoreboard_progress_bar.html.twig' with {contest: current_contest} %}
    </div>
{% endif %}

{% if current_contest is null %}
    <p class="nodata">No active contest</p>
{% else %}
    <div class="card">
        <div class="card-header" style="font-family: Roboto, sans-serif; display: flex;">
            <span style="font-weight: bold;">{{ current_contest.name }}</span>
            <span style="color: DimGray; margin-left: auto;">
                {% if scoreboard is null %}
                    {{ current_contest | printContestStart }}
                {% elseif scoreboard.freezeData.showFinal(jury) %}
                    {% if current_contest.finalizetime is empty %}
                        preliminary results - not final
                    {% else %}
                        final standings
                    {% endif %}
                {% elseif scoreboard.freezeData.stopped %}
                    contest over, waiting for results
                {% else %}
                    starts: {{ current_contest.starttime | printtime }} - ends: {{ current_contest.endtime | printtime }}
                {% endif %}
            </span>
        </div>

        {% if static %}
            {% include 'partials/scoreboard_progress_bar.html.twig' with {contest: current_contest} %}
        {% endif %}
    </div> {# card #}

    {% if scoreboard is null and not jury %}
        {# Display a list of teams by group. This is targeted for World Finals, but looks nice anyway #}
        {% for affiliationGroupRow in groupedAffiliations %}
            <br/><br/>
            <div class="card-deck">
                {% for category, affiliations in affiliationGroupRow %}
                    <div class="card" style="font-family: Roboto, sans-serif;">
                        <div class="card-header">{{ category }}</div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                {% for affiliation in affiliations %}
                                    <li class="list-group-item">
                                        {% set affiliationLogo = 'images/affiliations/' ~ affiliation.id ~ '.png' %}
                                        {% if affiliationLogo | assetExists %}
                                            <img src="{{ asset(affiliationLogo) }}" alt="{{ affiliation.name }}"
                                                 title="{{ affiliation.name }}" class="affiliation-logo"/>
                                        {% endif %}
                                        {{ affiliation.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
                {% if affiliationGroupRow | length < 3 %}
                    {% for i in (affiliationGroupRow | length + 1)..3 %}
                        <div class="card" style="border: none;"></div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    {% else %}

        {% if scoreboard.freezeData.showFrozen(false) %}
            <div class="alert alert-warning" role="alert" style="font-size: 80%;">
                {% if jury %}
                    <a href="{{ path('public_index') }}">The public scoreboard</a>
                    was frozen with {{ current_contest.minutesRemaining }} minutes remaining
                {% else %}
                    The scoreboard was frozen with {{ current_contest.minutesRemaining }} minutes remaining - solutions
                    submitted in the last {{ current_contest.minutesRemaining }} minutes of the contest {% if showPending %}are still shown as pending{% else %}are not shown{% endif %}.
                {% endif %}
            </div>
        {% endif %}

        {% if not static and
            (filterValues.affiliations | length > 1 or
             filterValues.countries | length > 1 or
             filterValues.categories | length > 1) %}
	<div class="dropdown">
            <button class="btn btn-outline-secondary btn-sm m-2 dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" id="filter-toggle">
                <i class="fas fa-filter"></i>
                {% if scoreFilter.filteredOn is empty %}
                    Filter
                {% else %}
                    Filtered ({{ scoreFilter.filteredOn }})
                {% endif %}
            </button>

            <div class="dropdown-menu" aria-labelledby="filter-toggle">
                <form method="get">
                    <div class="m-2 p-2 form-inline">
                        {% if filterValues.affiliations | length > 1 %}
                            <select class="form-control mr-2" multiple size="8" name="affiliations[]">
                                {% for affiliationId, affiliation in filterValues.affiliations %}
                                    <option {% if affiliationId in scoreFilter.affiliations %}selected{% endif %}
                                            value="{{ affiliationId }}">{{ affiliation }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                        {% if filterValues.countries | length > 1 %}
                            <select class="form-control mr-2" multiple size="8" name="countries[]">
                                {% for country in filterValues.countries %}
                                    <option {% if country in scoreFilter.countries %}selected{% endif %}
                                            value="{{ country }}">{{ alpha3_countries[country] }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                        {% if filterValues.categories | length > 1 %}
                            <select class="form-control mr-2" multiple size="8" name="categories[]">
                                {% for categoryId, category in filterValues.categories %}
                                    <option {% if categoryId in scoreFilter.categories %}selected{% endif %}
                                            value="{{ categoryId }}">{{ category }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    <input type="submit" class="btn btn-primary btn-sm align-top" name="filter" value="filter"/>
                    <input type="submit" class="btn btn-secondary btn-sm align-top" name="clear" value="clear"/>
                    </div>
                </form>
            </div>
        </div>
        {% else %} {# not static and filterValues*length>1 #}
            <br/>
        {% endif %} {# not static and filterValues*length>1 #}

        {% include 'partials/scoreboard_table.html.twig' with {displayRank: true, showLegends: true} %}

    {% endif %} {# not scoreboard is null and not jury #}

    <p id="lastmod">
        Last Update: {{ null | printtime('%a %d %b %Y %T %Z') }}<br/>
        using <a href="https://www.domjudge.org/" target="_top">DOMjudge</a>
    </p>
{% endif %}
