{% if limitToTeams is not defined %}
    {% set limitToTeams = null %}
    {% set limitToTeamIds = null %}
{% else %}
    {% set limitToTeamIds = [] %}
    {% for team in limitToTeams %}
        {% set limitToTeamIds = limitToTeamIds | merge([team.teamid]) %}
    {% endfor %}
{% endif %}
{% if showLegends is not defined %}
    {% set showLegends = false %}
{% endif %}
{% if static is not defined %}
    {% set static = false %}
{% endif %}
{% set showPoints = scoreboard.showPoints %}
{% set scoringScoreboard = scoreboard.isScoring %}
{% set usedCategories = scoreboard.usedCategories(limitToTeamIds) %}
{% set hasDifferentCategoryColors = scoreboard.categoryColors(limitToTeamIds) %}
{% set scores = scoreboard.scores | filter(score => limitToTeams is null or score.team.teamid in limitToTeamIds) %}
{% set problems = scoreboard.problems %}
{% set medalsEnabled = contest.medalsEnabled %}

{% if maxWidth > 0 %}
    <style>
        .forceWidth {
            max-width: {{ maxWidth }}px;
        }
    </style>
{% endif %}

<table id="scoreboard-table" class="table scoreboard">
	<thead>
		<tr class="scoreheader">
			<th class="dt-center" colspan="2">Rank</th>
			<th class="dt-center" colspan="3">Team</th>
			<th class="dt-center" colspan="2" data-dt-order="disable">Score</th>
            {% for problem in problems %}
                {% set link = null %}
                {% set target = '_self' %}
                {% if not static %}
                    {% if jury %}
                        {% set link = path('jury_problem', {'probId': problem.probid}) %}
                    {% elseif problem.problem.problemstatementType is not empty %}
                        {% if public %}
                            {% set link = path('public_problem_statement', {probId: problem.probid}) %}
                            {% set target = '_blank' %}
                        {% else %}
                            {% set link = path('team_problem_statement', {probId: problem.probid}) %}
                            {% set target = '_blank' %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                <th class="dt-center"
                    title="problem {{ problem.problem.name }}"
                    scope="col"
                    data-problem-external-id="{{ problem.externalid }}"
                    data-problem-name="{{ problem.problem.name | escape('html_attr') }}"
                    data-problem-badge="{{ problem | problemBadge | escape('html_attr') }}"
                >
                    <a {% if link %}href="{{ link }}"{% endif %} target="{{ target }}">
                        {{  problem | problemBadge }}
                        {% if showPoints and not scoringScoreboard %}
                            <br/>
                            <span class='problempoints'>
                                [{% if problem.points == 1 %}1 point{% else %}{{ problem.points }} points{% endif %}]
                            </span>
                        {% endif %}
                    </a>
                </th>
            {% endfor %}
		</tr>
	</thead>
</table>

<script>
$.ajax('/api/v4/contests/{{contest.externalid}}/teams').then((_teams) => {
/* $.ajax('/teams.json').then((_teams) => { */
    const teams = {};
    for (team of _teams) {
        teams[team.id] = team;
    }

    let sortCmp = (a, b) => ((a < b) ? -1 : ((a > b) ? 1 : 0));
    let sortProblem = (a, b) => {
        if (a.solved && b.solved) {
            return sortCmp(b.time, a.time);
        }
        if (a.solved) return 1;
        if (b.solved) return -1;
        return sortCmp(b.num_judged, a.num_judged);
    }
    $.extend( DataTable.ext.type.order, {
        "problem-asc": sortProblem,
        "problem-desc": (a, b) => sortProblem(b, a),
    } );

    let renderProblemCell = function (data, type, row, meta) {
        if (type === 'display') {
            let className = "";
            if (data.solved === true) {
                className = "score_correct"
                if (data.first_to_solve === true) {
                    className += " score_first";
                }
            } else if (data.num_pending > 0) {
                className = "score_pending"
            } else if (data.num_judged > 0) {
                className = "score_incorrect";
            }
            if (data.num_in_freeze > 0 && className != "score_pending") {
                className += " score_pending";
            }
            let html = `<a href="#" data-submissions-url="/public/submissions-data.json" data-team-id="1103716" data-problem-id="hastyhaul">
                <div class="${className}">`;
            if (data.solved) {
                html += data.time;
            } else {
                html += '<br/>';
            }
            if (data.num_judged > 0) {
                html += `<span>${data.num_judged} ${data.num_judged > 1 ? 'tries' : 'try'}</span>`
            }
            html += `
                </div>
            </a>`;
            return html;
        }

        return data;
    }

    new DataTable('#scoreboard-table', {
        autoWidth: false,
        aLengthMenu: [
            [25, 50, 100, 200, -1],
            [25, 50, 100, 200, "All"]
        ],
        iDisplayLength: 25,
        fixedHeader: true,
        ajax: {
            /* 'url': '/scoreboard.json', */
            'url': '/api/v4/contests/{{contest.externalid}}/scoreboard?allteams=false&strict=true',
            'dataSrc': 'rows'
        },
        responsive: {
            details: {
                display: DataTable.Responsive.display.childRowImmediate,
                renderer: function (api, rowIdx, columns) {
                    var data = $.map(columns, function (col, i) {
                        return col.hidden
                            ? `<table>
                                <tr data-dt-row="${col.rowIndex}" data-dt-column="${col.columnIndex}">
                                    <td>${col.title}</td>
                                </tr>
                                <tr data-dt-row="${col.rowIndex}" data-dt-column="${col.columnIndex}">
                                    <td>${col.data}</td>
                                </tr>
                            </table>`
                            : '';
                    }).join('');
    
                    return data ? $('<div class="w-100 d-flex justify-content-center flex-wrap"/>').append(data) : false;
                },
                type: '',
            }
        },
        columns: [
            {
                class: 'no-border',
                data: 'rank',
                render: function (data, type) {
                    if (type === 'display') {
                        /* TODO: move to backend */
                        if (data <= 4) {
                            return '<i class="fa fa-medal gold-medal" style="font-size: 1.5rem;"></i>';
                        }
                        if (data <= 8) {
                            return '<i class="fa fa-medal silver-medal" style="font-size: 1.5rem;"></i>';
                        }
                        if (data <= 12) {
                            return '<i class="fa fa-medal bronze-medal" style="font-size: 1.5rem;"></i>';
                        }
                    }
    
                    return '';
                }
            },
            {
                class: 'scorepl rank',
                data: 'rank'
            },
            {
                class: 'scoreaf cl_FFFFFF',
                data: 'team_id',
                render: function (data, type) {
                    const team = teams[data];
                    const country = countries[team.nationality];
                    if (!country) return '';

                    if (type === 'display') {
                        return `<a>
                            <img class="countryflag" loading="lazy" src="/flags/4x3/${country.iso2.toLowerCase()}.svg" alt="${team.nationality}" title="${country.country}">
                        </a>`;
                    }
                    if (type === 'filter') {
                        return `${country.country}\n${country.continent}`;
                    }
    
                    return data;
                }
            },
            {
                class: 'scoreaf cl_FFFFFF',
                data: 'team_id',
                render: function (data, type) {
                    const team = teams[data];
                    if (type === 'display') {
                        const alt = `${team.affiliation.slice(0, 5)}`; // UNUSED
                        return `<a href="/jury/affiliations/${team.organization_id}">
                            <img loading="lazy" class="affiliation-logo" src="/images/affiliations/${team.organization_id}.png" alt="" title="${team.affiliation}">
                        </a>`;
                    }
    
                    return data;
                }
            },
            {
                data: 'team_id',
                render: function (data, type) {
                    const team = teams[data];
                    if (type === 'display') {
                        return `<td class="scoretn cl_FFFFFF" title="${team.name}">
                            <a href="/jury/teams/${team.teamid}">
                                <span class="forceWidth">${team.name}</span>
                                <span class="univ forceWidth">${team.affiliation}</span>
                            </a>
                        </td>`;
                    }
                    if (type === 'filter') {
                        return `${team.name}\n${team.affiliation}`;
                    }
                    if (type === 'order') {
                        return team.name;
                    }
    
                    return data;
                }
            },
            {
                class: 'scorenc',
                data: 'score.num_solved',
            },
            {
                class: 'scorett',
                data: 'score.total_time',
            },
            {% for i,problem in problems %}
            {
                class: "score_cell",
                className: "min-tablet-l",
                data: 'problems.{{ i - 1 }}',
                render: renderProblemCell,
                type: 'problem',
            },
            {% endfor %}
        ]
    });
}).catch(e => {
    console.error(e);
});
</script>

<style>
#scoreboard-table {
  width: auto;
}
</style>

<table class="d-none d-md-table scoreboard desktop-scoreboard center {% if jury %}scoreboard_jury{% endif %}">

    {% set teamColspan = 3 %}
    {% if showAffiliationLogos %}
        {% set teamColspan = teamColspan + 1 %}
    {% endif %}
    {% if not public %}
        {% set teamColspan = teamColspan - 1 %}
    {% endif %}

    {# output table column groups (for the styles) #}
    <colgroup>
        {% if enable_ranking %}
            {% if medalsEnabled %}
                <col id="scoremedal"/>
            {% endif %}
            <col id="scorerank"/>
        {% endif %}
        {% if showFlags %}
            <col id="scoreflags"/>
        {% else %}
            <col/>
        {% endif %}
        {% if showAffiliationLogos %}
            <col id="scorelogos"/>
        {% endif %}
        {% if public %}
            <col id="scorehearts"/>
        {% endif %}
        <col id="scoreteamname"/>
    </colgroup>
    {% if enable_ranking %}
        <colgroup>
            <col id="scoresolv"/>
            {% if not scoringScoreboard %}
                <col id="scoretotal"/>
            {% endif %}
        </colgroup>
    {% endif %}
    <colgroup>
        {% if showTeamSubmissions or jury %}
            {% for problem in problems %}
                <col class="scoreprob"/>
            {% endfor %}
        {% endif %}
    </colgroup>
    <thead>
    <tr class="scoreheader" data-static="{{ static }}">
        {% if enable_ranking %}
            <th title="rank" scope="col" {% if medalsEnabled %}colspan="2"{% endif %}>rank</th>
        {% endif %}
        <th title="team name" scope="col" colspan="{{ teamColspan }}">team</th>
        {% if enable_ranking %}
            {% if scoringScoreboard %}
                <th title="points" colspan="1" scope="col">score</th>
            {% else %}
                <th title="# solved / penalty time" colspan="2" scope="col">score</th>
            {% endif %}
        {% endif %}
        {% if showTeamSubmissions or jury %}
            {% for problem in problems %}
                {% set link = null %}
                {% set target = '_self' %}
                {% if not static %}
                    {% if jury %}
                        {% set link = path('jury_problem', {'probId': problem.probid}) %}
                    {% elseif problem.problem.problemstatementType is not empty %}
                        {% if public %}
                            {% set link = path('public_problem_statement', {probId: problem.probid}) %}
                            {% set target = '_blank' %}
                        {% else %}
                            {% set link = path('team_problem_statement', {probId: problem.probid}) %}
                            {% set target = '_blank' %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                <th
                    title="problem {{ problem.problem.name }}"
                    scope="col"
                    data-problem-external-id="{{ problem.externalid }}"
                    data-problem-name="{{ problem.problem.name | escape('html_attr') }}"
                    data-problem-badge="{{ problem | problemBadge | escape('html_attr') }}"
                >
                    <a {% if link %}href="{{ link }}"{% endif %} target="{{ target }}">
                        {{  problem | problemBadge }}
                        {% if showPoints and not scoringScoreboard %}
                            <br/>
                            <span class='problempoints'>
                                [{% if problem.points == 1 %}1 point{% else %}{{ problem.points }} points{% endif %}]
                            </span>
                        {% endif %}
                    </a>
                </th>
            {% endfor %}
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% set previousSortOrder = -1 %}
    {% set previousTeam = null %}
    {% set backgroundColors = {"#FFFFFF": 1, '#FFFFE0': 1} %}
    {% set medalCount = 0 %}
    {% for score in scores %}
        {% set classes = [] %}
        {% if score.team.category.sortorder != previousSortOrder %}
            {% if previousSortOrder != -1 %}
                {# Output summary of previous sort order #}
                {% include 'partials/scoreboard_summary.html.twig' with {sortOrder: previousSortOrder} %}
            {% endif %}
            {% set classes = classes | merge(['sortorderswitch']) %}
            {% set previousSortOrder = score.team.category.sortorder %}
            {% set previousTeam = null %}
        {% endif %}

        {# process medal color #}
        {% set medalColor = '' %}
        {% if showLegends %}
            {% set medalColor = score.team | medalType(contest, scoreboard) %}
        {% endif %}

        {# check whether this is us, otherwise use category colour #}
        {% if myTeamId is defined and myTeamId == score.team.teamid %}
            {% set classes = classes | merge(['scorethisisme']) %}
            {% set color = '#FFFF99' %}
        {% else %}
            {% set color = score.team.category.color %}
        {% endif %}
        <tr class="{{ classes | join(' ') }}" data-team-id="{{ score.team.teamid }}" data-team-external-id="{{ score.team.externalid }}" data-team-name="{{ score.team.effectiveName | escape('html_attr') }}">
            {% if enable_ranking %}
                {% if medalsEnabled %}
                    <td class="no-border">
                        {% if medalColor != '' %}
                            <i class="fa fa-medal {{medalColor}}" style="font-size: 1.5rem;"></i>
                        {% endif %}
                    </td>
                {% endif %}
                <td class="scorepl rank">
                    {# Only print rank when score is different from the previous team #}
                    {% if not displayRank %}
                        ?
                    {% elseif previousTeam is null or scoreboard.scores[previousTeam.teamid].rank != score.rank %}
                        {{ score.rank }}
                    {% else %}
                    {% endif %}
                    {% set previousTeam = score.team %}
                </td>
            {% endif %}
            {% if color is null %}
                {% set color = "#FFFFFF" %}
                {% set colorClass = "_FFFFFF" %}
            {% else %}
                {% set colorClass = color | replace({"#": "_"}) %}
                {% set backgroundColors = backgroundColors | merge({(color): 1}) %}
            {% endif %}
            <td class="scoreaf cl{{ colorClass }}">
                {% if showFlags %}
                    {% if score.team.affiliation %}
                        {% set link = null %}
                        {% if jury %}
                            {% set link = path('jury_team_affiliation', {'affilId': score.team.affiliation.affilid}) %}
                        {% endif %}
                        <a {% if link %}href="{{ link }}"{% endif %}>
                            {{ score.team.affiliation.country|countryFlag }}
                        </a>
                    {% endif %}
                {% endif %}
            </td>
            {% if showAffiliationLogos %}
                <td class="scoreaf cl{{ colorClass }}">
                    {% if score.team.affiliation %}
                        {% set link = null %}
                        {% if jury %}
                            {% set link = path('jury_team_affiliation', {'affilId': score.team.affiliation.affilid}) %}
                        {% endif %}
                        <a {% if link %}href="{{ link }}"{% endif %}>
                            {% set affiliationId = score.team.affiliation.externalid %}
                            {% set affiliationImage = affiliationId | assetPath('affiliation') %}
                            {% if affiliationImage %}
                                <img loading="lazy" class="affiliation-logo"
                                     src="{{ asset(affiliationImage) }}" alt="{{ score.team.affiliation.name }}"
                                     title="{{ score.team.affiliation.name }}">
                            {% else %}
                                {{ affiliationId }}
                            {% endif %}
                        </a>
                    {% endif %}
                </td>
            {% endif %}
            {% if public %}
                <td class="scoreaf heart cl{{ colorClass }}"></td>
            {% endif %}
            <td class="scoretn cl{{ colorClass }}" title="{{ score.team.effectiveName }}">
                {% set link = null %}
                {% set extra = null %}
                {% if static %}
                    {% set link = '#' %}
                    {% set extra = 'data-bs-toggle="modal" data-bs-target="#team-modal-' ~ score.team.teamid ~ '"' %}
                {% else %}
                    {% if jury %}
                        {% set link = path('jury_team', {teamId: score.team.teamid}) %}
                    {% elseif public %}
                        {% set link = path('public_team', {teamId: score.team.teamid}) %}
                        {% set extra = 'data-ajax-modal' %}
                    {% else %}
                        {% set link = path('team_team', {teamId: score.team.teamid}) %}
                        {% set extra = 'data-ajax-modal' %}
                    {% endif %}
                {% endif %}
                <a {% if extra is not null %}{{ extra | raw }}{% endif %} {% if link is not null %}href="{{ link }}"{% endif %}>
                    <span class="forceWidth">
                        {% if usedCategories | length > 1 and scoreboard.bestInCategory(score.team, limitToTeamIds) %}
                            <span class="badge text-bg-warning category-best">
                            {{ score.team.category.name }}
                        </span>
                        {% endif %}
                        {{ score.team.effectiveName }}
                    </span>
                    {% if showAffiliations %}
                        <span class="univ forceWidth">
                            {% if score.team.affiliation %}
                                {{ score.team.affiliation.name }}
                            {% endif %}
                        </span>
                    {% endif %}
                </a>
            </td>
            {% set totalTime = score.totalTime %}
            {% if scoreInSeconds %}
                {% set totalTime = totalTime | printTimeRelative %}
            {% endif %}
            {% if enable_ranking %}
                {% set totalPoints = score.numPoints %}
                <td class="scorenc">{{ totalPoints }}</td>
                {% if not scoringScoreboard %}
                    {% if scoreboard.getRuntimeAsScoreTiebreaker() %}
                        <td class="scorett">{{ "%0.3f s" | format(score.totalRuntime/1000.0) }}</td>
                    {% else %}
                        <td class="scorett">{{ totalTime }}</td>
                    {% endif %}
                {% endif %}
            {% endif %}

            {% if showTeamSubmissions or jury %}
                {% for problem in problems %}
                    {# CSS class for correct/incorrect/neutral results #}
                    {% set scoreCssClass = 'score_neutral' %}
                    {% set matrixItem = scoreboard.matrix[score.team.teamid][problem.probid] %}
                    {% if matrixItem.isCorrect %}
                        {% set scoreCssClass = 'score_correct' %}
                        {% if enable_ranking %}
                            {% if not scoreboard.getRuntimeAsScoreTiebreaker() and scoreboard.solvedFirst(score.team, problem) %}
                                {% set scoreCssClass = scoreCssClass ~ ' score_first' %}
                            {% endif %}
                            {% if scoreboard.getRuntimeAsScoreTiebreaker() and scoreboard.isFastestSubmission(score.team, problem) %}
                                {% set scoreCssClass = scoreCssClass ~ ' score_first' %}
                            {% endif %}
                        {% endif %}
                    {% elseif showPending and matrixItem.numSubmissionsPending > 0 %}
                        {% set scoreCssClass = 'score_pending' %}
                    {% elseif matrixItem.numSubmissions > 0 %}
                        {% set scoreCssClass = 'score_incorrect' %}
                    {% endif %}
                    {% if jury and showPending and matrixItem.numSubmissionsInFreeze > 0 %}
                        {% if scoreCssClass != 'score_pending' %}
                            {% set scoreCssClass = scoreCssClass ~ ' score_pending' %}
                        {% endif %}
                    {% endif %}

                    {% set numSubmissions = matrixItem.numSubmissions %}
                    {% if showPending and matrixItem.numSubmissionsPending > 0 %}
                        {% set numSubmissions = numSubmissions ~ ' + ' ~ matrixItem.numSubmissionsPending %}
                    {% endif %}

                    {# If correct, print time scored. The format will vary depending on the scoreboard resolution setting #}
                    {% set time = '' %}
                    {% if matrixItem.isCorrect %}
                        {% set time = matrixItem.time %}
                        {% if scoreboard.getRuntimeAsScoreTiebreaker() %}
                            {% set time = "%0.3f s" | format(matrixItem.runtime / 1000.0) %}
                        {% elseif scoreInSeconds %}
                            {% set time = time | scoreTime | printTimeRelative %}
                            {% if matrixItem.numSubmissions > 1 %}
                                {% set time = time ~ ' + ' ~ (calculatePenaltyTime(true, matrixItem.numSubmissions) | printTimeRelative) %}
                            {% endif %}
                        {% else %}
                            {% set time = time | scoreTime %}
                        {% endif %}
                    {% endif %}

                    {% set link = null %}
                    {% set extra = null %}
                    {% if jury %}
                        {% set restrict = {problemId: problem.probid} %}
                        {% set link = path('jury_team', {teamId: score.team.teamid, restrict: restrict}) %}
                    {% elseif static %}
                        {% set link = '#' %}
                        {% set extra = 'data-submissions-url="' ~ path('public_submissions_data') ~ '"' %}
                        {% set extra = extra ~ ' data-team-id="' ~ score.team.externalid ~ '"' %}
                        {% set extra = extra ~ ' data-problem-id="' ~ problem.externalid ~ '"' %}
                    {% elseif public %}
                        {% set link = path('public_submissions', {teamId: score.team.externalid, problemId: problem.externalid}) %}
                        {% set extra = 'data-submissions-url="' ~ path('public_submissions_data_cell', {teamId: score.team.externalid, problemId: problem.externalid}) ~ '"' %}
                        {% set extra = extra ~ ' data-team-id="' ~ score.team.externalid ~ '"' %}
                        {% set extra = extra ~ ' data-problem-id="' ~ problem.externalid ~ '"' %}
                    {% endif %}

                    <td class="score_cell">
                        {% if numSubmissions != '0' %}
                            <a {% if link %}href="{{ link }}"{% endif %} {% if extra %}{{ extra | raw }}{% endif %}>
                                <div
                                    class="{{ scoreCssClass }}"
                                {% if scoringScoreboard %}
                                    title="{% if matrixItem.isCorrect %}{{ time }} mins{% endif %}"
                                {% endif %}
                                >
                                    {% if scoringScoreboard %}
                                        {% if matrixItem.isCorrect %}{{ matrixItem.points }}{% else %}&nbsp;{% endif %}
                                    {% else %}
                                        {% if matrixItem.isCorrect %}{{ time }}{% else %}&nbsp;{% endif %}
                                    {% endif %}
                                    <span>
                                        {% if numSubmissions is same as(1) %}
                                            1 try
                                        {% else %}
                                            {{ numSubmissions }} tries
                                        {% endif %}
                                    </span>
                                </div>
                            </a>
                        {% endif %}
                    </td>
                {% endfor %}
            {% endif %}
        </tr>
    {% endfor %}

    {# Output summary of last sort order #}
    {% include 'partials/scoreboard_summary.html.twig' with {sortOrder: previousSortOrder} %}
    </tbody>
</table>

<table class="d-md-none scoreboard mobile-scoreboard center {% if jury %}scoreboard_jury{% endif %}">
    {# output table column groups (for the styles) #}
    <colgroup>
        {% if enable_ranking %}
            <col id="scorerankmobile"/>
        {% endif %}
        {% if showFlags %}
            <col id="scoreflagsmobile"/>
        {% else %}
            <col/>
        {% endif %}
        {% if showAffiliationLogos %}
            <col id="scorelogosmobile"/>
        {% endif %}
        {% if public %}
            <col id="scoreheartmobile"/>
        {% endif %}
        <col id="scoreteamnamemobile"/>
    </colgroup>
    {% if enable_ranking %}
        <colgroup>
            <col id="scoresolvmobile"/>
        </colgroup>
    {% endif %}
    <thead>

    {% set teamColspan = 2 %}
    {% if showAffiliationLogos %}
        {% set teamColspan = teamColspan + 1 %}
    {% endif %}
    {% if public %}
        {% set teamColspan = teamColspan + 1 %}
    {% endif %}

    <tr class="scoreheader" data-static="{{ static }}" style="font-size: 75%;">
        {% if enable_ranking %}
            <th title="rank" scope="col">rank</th>
        {% endif %}
        <th title="team name" scope="col" colspan="{{ teamColspan }}">team</th>
        {% if enable_ranking %}
            <th title="# solved / penalty time" colspan="1" scope="col">score</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% set previousSortOrder = -1 %}
    {% set previousTeam = null %}
    {% set medalCount = 0 %}
    {% for score in scores %}
    {% set classes = [] %}
    {% if score.team.category.sortorder != previousSortOrder %}
        {% set classes = classes | merge(['sortorderswitch']) %}
        {% set previousSortOrder = score.team.category.sortorder %}
        {% set previousTeam = null %}
    {% endif %}

    {# process medal color #}
    {% set medalColor = '' %}
    {% if showLegends %}
        {% set medalColor = score.team | medalType(contest, scoreboard) %}
    {% endif %}

    {# check whether this is us, otherwise use category colour #}
    {% if myTeamId is defined and myTeamId == score.team.teamid %}
        {% set classes = classes | merge(['scorethisisme']) %}
        {% set color = '#FFFF99' %}
    {% else %}
        {% set color = score.team.category.color %}
    {% endif %}
    <tr
        class="{{ classes | join(' ') }}"
        data-team-id="{{ score.team.teamid }}"
        data-team-external-id="{{ score.team.externalid }}"
        data-team-name="{{ score.team.effectiveName | escape('html_attr') }}"
        style="border-bottom-width: 0; height: 28px;">
        {% if enable_ranking %}
            <td class="scorepl">
                {% if medalsEnabled and medalColor != '' %}
                    <i class="fa fa-medal {{medalColor}} d-block me-2" style="font-size: 1.5rem;"></i>
                {% endif %}
            </td>
        {% endif %}
        {% if color is null %}
            {% set color = "#FFFFFF" %}
            {% set colorClass = "_FFFFFF" %}
        {% else %}
            {% set colorClass = color | replace({"#": "_"}) %}
        {% endif %}
        <td class="scoreaf cl{{ colorClass }}">
            {% if showFlags %}
                {% if score.team.affiliation %}
                    {% set link = null %}
                    {% if jury %}
                        {% set link = path('jury_team_affiliation', {'affilId': score.team.affiliation.affilid}) %}
                    {% endif %}
                    <a {% if link %}href="{{ link }}"{% endif %}>
                        {{ score.team.affiliation.country|countryFlag }}
                    </a>
                {% endif %}
            {% endif %}
        </td>
        {% if showAffiliationLogos %}
            <td class="scoreaf cl{{ colorClass }}">
                {% if score.team.affiliation %}
                    {% set link = null %}
                    {% if jury %}
                        {% set link = path('jury_team_affiliation', {'affilId': score.team.affiliation.affilid}) %}
                    {% endif %}
                    <a {% if link %}href="{{ link }}"{% endif %}>
                        {% set affiliationId = score.team.affiliation.externalid %}
                        {% set affiliationImage = affiliationId | assetPath('affiliation') %}
                        {% if affiliationImage %}
                            <img loading="lazy" width="16px" height="16px"
                                 src="{{ asset(affiliationImage) }}" alt="{{ score.team.affiliation.name }}"
                                 title="{{ score.team.affiliation.name }}">
                        {% else %}
                            {{ affiliationId }}
                        {% endif %}
                    </a>
                {% endif %}
            </td>
        {% endif %}
        {% if public %}
            <td class="scoreaf heart cl{{ colorClass }}"></td>
        {% endif %}
        <td class="scoretn cl{{ colorClass }}" title="{{ score.team.effectiveName }}">
        {% set link = null %}
        {% set extra = null %}
        {% if static %}
            {% set link = '#' %}
            {% set extra = 'data-bs-toggle="modal" data-bs-target="#team-modal-' ~ score.team.teamid ~ '"' %}
        {% else %}
            {% if jury %}
                {% set link = path('jury_team', {teamId: score.team.teamid}) %}
            {% elseif public %}
                {% set link = path('public_team', {teamId: score.team.teamid}) %}
                {% set extra = 'data-ajax-modal' %}
            {% else %}
                {% set link = path('team_team', {teamId: score.team.teamid}) %}
                {% set extra = 'data-ajax-modal' %}
            {% endif %}
        {% endif %}
        <a {% if extra is not null %}{{ extra | raw }}{% endif %} {% if link is not null %}href="{{ link }}"{% endif %}>
                    <span class="forceWidth">
                        {% if false and usedCategories | length > 1 and scoreboard.bestInCategory(score.team, limitToTeamIds) %}
                            <span class="badge text-bg-warning category-best">
                            {{ score.team.category.name }}
                        </span>
                        {% endif %}
                        {{ score.team.effectiveName }}
                    </span>
            {% if showAffiliations %}
                <span class="univ forceWidth">
                            {% if score.team.affiliation %}
                                {{ score.team.affiliation.name }}
                            {% endif %}
                        </span>
            {% endif %}
        </a>
        </td>
        {% if enable_ranking %}
            {% set totalTime = score.totalTime %}
            {% if scoreInSeconds %}
                {% set totalTime = totalTime | printTimeRelative %}
            {% endif %}
            {% set totalPoints = score.numPoints %}
            <td class="scorenc" rowspan="2">{{ totalPoints }}<br/><span class="scorett" style="font-weight: normal;">{{ totalTime }}</span></td>
        {% endif %}
    </tr>
        <tr style="height: 32px;">
            <td>
                {# Only print rank when score is different from the previous team #}
                <span class="d-block me-2 rank">
                    {% if not displayRank %}
                        ?
                    {% elseif previousTeam is null or scoreboard.scores[previousTeam.teamid].rank != score.rank %}
                        {{ score.rank }}
                    {% else %}
                    {% endif %}
                </span>
                {% set previousTeam = score.team %}
            </td>
            {% if showAffiliationLogos %}
                {% set problemSpan = 3 %}
            {% else %}
                {% set problemSpan = 2 %}
            {% endif %}
            {% if public %}
                {% set problemSpan = problemSpan + 1 %}
            {% endif %}
            <td colspan="{{ problemSpan }}">
                {% for problem in problems %}
                    {% set matrixItem = scoreboard.matrix[score.team.teamid][problem.probid] %}
                    {{ problem | problemBadgeMaybe(matrixItem, score, static) }}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if static %}
    {% for score in scores %}
        {% embed 'partials/modal.html.twig' with {'modalId': 'team-modal-' ~ score.team.teamid} %}
            {% block title %}{{ score.team.effectiveName }}{% endblock %}
            {% block content %}
                {% include 'partials/team.html.twig' with {size: 6, team: score.team} %}
            {% endblock %}
        {% endembed %}
    {% endfor %}
{% endif %}

{% if showLegends %}
    <p><br/><br/></p>

    {# only print legend when there's more than one category #}
    {% if limitToTeamIds is null and usedCategories | length > 1 and hasDifferentCategoryColors %}
        <table id="categ_legend" class="scoreboard scorelegend {% if jury %}scoreboard_jury{% endif %}">
            <thead>
            <tr>
                <th scope="col">
                    {% set link = null %}
                    {% if jury %}
                        {% set link = path('jury_team_categories') %}
                    {% endif %}
                    <a {% if link %}href="{{ link }}"{% endif %}>Categories</a>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for category in scoreboard.categories | filter(category => usedCategories[category.categoryid] is defined) %}
                <tr {% if category.color %}class="cl{{ category.color | replace({"#": "_"}) }}"{% endif %}>
                    <td>
                        {% set link = null %}
                        {% if jury %}
                            {% set link = path('jury_team_category', {'categoryId': category.categoryid}) %}
                        {% endif %}
                        <a {% if link %}href="{{ link }}"{% endif %}>{{ category.name }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if showTeamSubmissions or jury %}
        {% if scoreboard.getRuntimeAsScoreTiebreaker() %}
            {% set cellColors = {first: 'Solved, fastest', correct: 'Solved', incorrect: 'Tried, incorrect', pending: 'Tried, pending', neutral: 'Untried'} %}
        {% else %}
            {% set cellColors = {first: 'Solved first', correct: 'Solved', incorrect: 'Tried, incorrect', pending: 'Tried, pending', neutral: 'Untried'} %}
        {% endif %}
        <table id="cell_legend" class="d-none d-md-table scoreboard scorelegend {% if jury %}scoreboard_jury{% endif %}">
            <thead>
            <tr>
                <th scope="col">Cell colours</th>
            </tr>
            </thead>
            <tbody>
            {% for color, description in cellColors %}
                {% if color != 'pending' or showPending %}
                    {% if color == 'first' %}
                        {% set color = "correct score_first" %}
                    {% endif %}
                    <tr class="score_{{ color }}">
                        <td>{{ description }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}

<script>
    document.querySelectorAll(".forceWidth:not(.toolong)").forEach(el => {
        if (el instanceof Element && el.scrollWidth > el.offsetWidth) {
            el.classList.add("toolong");
        }
    });
</script>
