{% set link = path('public_blog_post', { 'slug':post.slug }) %}
<div class="d-flex flex-column align-items-start align-items-md-start flex-md-row">
    <a href="{{ link }}" class="align-self-center align-self-md-start blog-post-list-thumbnail">
        <img src="{{ asset('media/images/' ~ post.thumbnailFileName) | imagine_filter('cache') }}"
             alt="{{ post.title }}"
             class="blog-post-list-thumbnail">
    </a>
    <div class="flex-grow-1 mt-1 ml-md-4">
        <h2><a class="text-body"
               href="{{ link }}">{{ post.title }}</a></h2>
        <p class="text-muted">
            {% if post.author %}{{ post.author }} - {% endif %}{{ post.publishtime|date }}
        </p>
        <p>{{ post.subtitle }}</p>
        <a href="{{ link }}" class="btn btn-info"><i class="fa-solid fa-book-open"></i> Číst dál</a>
    </div>
</div>
