{# Render a list of submissions for the scoreboard #}
{# @var submission \App\Entity\Submission #}

{% if submissions is empty %}
    <div class="alert alert-warning">No submissions</div>
{% else %}
    <table class="data-table table table-hover table-striped table-sm submissions-table">
        <thead class="thead-light">
        <tr>
            <th scope="col">time</th>
            <th scope="col">language</th>
            <th scope="col">result</th>
            {% if contest.getRuntimeAsScoreTiebreaker() %}
                <th scope="col">runtime</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for submission in submissions %}
            <tr>
                <td>
                    {{ submission.submittime | printtime(null, submission.contest) }}
                </td>
                <td class="langid">
                    {{ submission.language.langid }}
                </td>
                <td>
                    {% if submission.submittime >= submission.contest.endtime %}
                        {{ 'too-late' | printResult }}
                    {% elseif submission.contest.freezetime and submission.submittime >= submission.contest.freezetime and not contest.freezeData.showFinal %}
                        {{ '' | printResult }}
                    {% else %}
                        {% if submission.judgings.first is empty or submission.judgings.first.result is empty %}
                            {{ '' | printResult }}
                        {% elseif verificationRequired and not submission.judgings.first.verified %}
                            {{ '' | printResult }}
                        {% else %}
                            {{ submission.judgings.first.result | printResult }}
                        {% endif %}
                    {% endif %}
                </td>
                {% if contest.getRuntimeAsScoreTiebreaker() %}
                    <td>
                        {% if link and submission.getResult() == 'correct' %}
                            {{ "%0.3f s" | format(submission.judgings.first.getMaxRuntime()) }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
