{% set page_title = "Not Authenticated" %}

{% extends '@DOMjudgeMain/base.html.twig' %}

{% block body %}
	<h1>Not Authenticated</h1>

	<p>
		Please supply your credentials below, or contact a staff member for assistance.
	</p>
	{{ form_start(form) }}
	{{ form_errors(form, { 'global_errors': true }) }}
	{{ form_row(form.username) }}
	{{ form_row(form.password) }}
	{{ form_widget(form.login) }}
	{{ form_end(form) }}
{% endblock %}
