{% if not download %}
    <a href="{{ path('jury_html_export', {'type': 'results-icpc', 'download': true, 'sort_order': sortOrder}) }}">Download</a>
{% endif %}

<div id="xwikicontent">
    <style type="text/css">
        table {
            border-collapse: collapse;
            border: 1px solid #ccc;
            border-bottom: 0;
            width: 52.7em;
            margin-bottom: 2em;
        }

        body {
            font-family: verdana, arial, tahoma, sans-serif;
        }

        table th {
            text-align: center;
            background: #247eca;
            color: white;
            padding: 0em;
            border: outset 2px #eee8aa;
        }

        table td {
            border-bottom: 1px solid #DDD;
            padding: .0em .0em .0em .5em;
        }

        table tr td.rank {
            background: transparent;
            border: 2px outset #ffffff;
        }

        table tr.gold td.rank {
            background: #f9d923;
            border: outset 2px #ffd700;
        }

        table tr.silver td.rank {
            background: Silver;
            border: 2px outset silver;
        }

        table tr.bronze td.rank {
            background: #c08e55;
            border: outset 2px #c9960c;
        }

        table td.name {
            padding-left: 1.2em;
        }

        table th.name {
            padding-left: 3em;
        }

        td.rank, td.solved {
            text-align: center;
            padding: 0px;
        }

        td.time {
            text-align: right;
            padding-right: 0.5em;
        }

        td.lastTime {
            text-align: right;
            padding-right: 1.2em;
        }

        table td.firstSol {
            text-align: right;
            padding: 0 1em;
        }

        table tr.even td {
            background: #F7F7F7;
        }

        table tr:hover td {
            background: #c4defa !important;
        }

        table tr td.r12 {
            background: #fdf993;
            border: 2px outset #DCDCDC;
        }

        table tr td.r11 {
            background: #fddd99;
            border: 2px outset #DCDCDC;
        }

        table tr td.r10 {
            background: #e9d923;
            border: 2px outset #DCDCDC;
        }

        table tr td.r9 {
            background: #e1d963;
            border: 2px outset #DCDCDC;
        }

        table tr td.r8 {
            background: #DDD7AA;
            border: 2px outset #DCDCDC;
        }

        table tr td.r7 {
            background: #d2d2d2;
            border: 2px outset #DCDCDC;
        }

        table tr td.r6 {
            background: #DDCDBD;
            border: 2px outset #DCDCDC;
        }

        table tr td.r5 {
            background: #e6e6e6;
            border: 2px outset #DCDCDC;
        }

        table tr td.r4 {
            background: #eee;
            border: 2px outset #f3f3f3;
        }

        table tr td.r3 {
            background: #F7f7f7;
            border: 2px outset #f7f7f7;
        }

        #uniTable td {
            border: 1px solid #DDD;
        }

        div.tail {
            font-size: .8em;
            color: #888;
            width: 65.875em;
            border: 1px solid #ccc;
        }

        span.right {
            float: right;
        }

        @media print {
            table#rankTable {
                page-break-after: always;
            }

            .gold td.rank::before {
                content: "G ";
            }

            .silver td.rank::before {
                content: "S ";
            }

            .bronze td.rank::before {
                content: "B ";
            }
        }
    </style>


    <script type="text/javascript"><!--
        function zebraTable(id) {
            var table = document.getElementById(id);
            if (table == null) {
                return;
            } else {
                for (var i = 0; i < table.rows.length; i++) {
                    if (i & 1) {
                        table.rows[i].className = table.rows[i].className + " even";
                    } else {
                        table.rows[i].className = table.rows[i].className + " odd";
                    }
                }
            }
        }

        --></script>
    <table cellspacing="0" id="medalTable">
        <tbody>
        <tr>
            <th><strong>Place</strong></th>
            <th><strong>Name</strong></th>
            <th><strong>Solved</strong></th>
            <th><strong>Time</strong></th>
            <th><strong>Last solved</strong></th>
        </tr>
        {% for idx, row in awarded %}
            <tr class="row{{ idx + 1 }} row {{ row.class }}">
                <td class="rank">{{ row.rank }}</td>
                <td class="name">{{ row.team }}</td>
                <td class="solved r{{ row.solved }}">{{ row.solved }}</td>
                <td class="time">{{ row.total_time }}</td>
                <td class="lastTime">{{ row.max_time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table cellspacing="0" id="rankTable">
        <tbody>
        <tr>
            <th><strong>Place</strong></th>
            <th><strong>Name</strong></th>
            <th><strong>Solved</strong></th>
        </tr>
        {% for row in ranked %}
            <tr class="row row">
                <td class="rank">{{ row.rank }}</td>
                <td class="name">{{ row.team }}</td>
                <td class="solved r{{ row.solved }}">{{ row.solved }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table cellspacing="0" id="uniTable">
        <tbody>
        <tr>
            <th colspan="2">Honorable mention</th>
        </tr>
        {% for row in honorable|batch(2) %}
            <tr>
                {% for team in row %}
                    <td class="name">{{ team }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table cellspacing="0" id="regionTable">
        <tbody>
        <tr>
            <th>Region</th>
            <th>Champion</th>
        </tr>
        {% for row in regionWinners %}
            <tr>
                <td class="name">{{ row.group }}</td>
                <td class="name">{{ row.team }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table cellspacing="0" id="firstTable">
        <tbody>
        <tr>
            <th>Problem</th>
            <th>Team</th>
            <th>Time</th>
        </tr>
        {% for row in firstToSolve %}
            <tr>
                <td class="name">{{ row.problem_name }}</td>
                <td class="name">
                    {% if row.team is not null %}
                        {{ row.team }}
                    {% else %}
                        Not solved
                    {% endif %}
                </td>
                <td class="name">
                    {% if row.time is not null %}
                        {{ row.time }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        zebraTable('medalTable');
        zebraTable('rankTable');
        zebraTable('uniTable');
        zebraTable('regionTable');
        zebraTable('firstTable');
    </script>
</div>
