{% extends is_granted('ROLE_JURY') or is_granted('ROLE_BALLOON') or is_granted('ROLE_ADMIN') ? 'jury/base.html.twig' : 'team/base.html.twig' %}

{% block title %}Change password - {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-3">Change password</h1>

        <div class="row">
            <div class="col-md-6">
                {{ form_start(form) }}
                {{ form_row(form.currentPassword) }}
                {{ form_row(form.newPassword) }}
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                <a href="{{ path(redirect_route) }}" class="btn btn-secondary">Cancel</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
