<!DOCTYPE html>
<html lang="en">
<head>
  <!-- DOMjudge version {{DOMJUDGE_VERSION}} sftb-->
  <meta charset="{{DJ_CHARACTER_SET}}">
  <title>{% block title %}DOMjudge{% endblock %}</title>
  <link rel="icon" href="{{asset('favicon.ico') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{{asset("css/bootstrap.min.css")}}">
  <link rel="stylesheet" href="{{asset("css/fontawesome-all.min.css")}}">
  <script src="{{asset("js/jquery.min.js")}}"></script>
  <script src="{{asset("js/bootstrap.bundle.min.js")}}"></script>

  <script src="{{asset("js/domjudge.js")}}"></script>
  {% block extrahead %}{% endblock %}
</head>
<body style="padding-top: 4.5rem;">
  {% block body %}{% endblock %}

  {% block extrafooter %}{% endblock %}
  <script>
      var domjudge_base_url = "{{ app.request.getBaseURL() }}";
      $(function() {
          /* Show the notification options if the browser supports it */
          if ( 'Notification' in window ) {
              $('#notify_disable').click(disableNotifications);
              $('#notify_enable').click(enableNotifications);
              if ( getCookie('domjudge_notify')!=1 ) {
                  $('#notify_enable').removeClass('d-none');
              } else {
                  $('#notify_disable').removeClass('d-none');
              }
          }
          /* toggle refresh if set */
          {% if refresh is defined and refresh %}
            $('#refresh-navitem').on('click', function () {
                toggleRefresh('{{ refresh.url }}', {{ refresh.after }}, {{ refresh.ajax | default(0) }});
            });
          {% endif %}
          /* Enable page refresh if set if wanted by the page, and wanted by the user */
          {% if refresh is defined and refresh and refresh_flag %}
            enableRefresh('{{ refresh.url }}', {{ refresh.after }}, {{ refresh.ajax | default(0) }});
          {% endif %}

          updateMenuAlerts();
          setInterval(updateMenuAlerts, 20000);

          initializeAjaxModals();
      });
  </script>
  {% set myhost = app.request.getHost() %}
  {% if myhost == "domjudge-backup" %}
  <style>
    .navbar { background-color: darkred !important; }
  </style>
  {% elseif myhost == "domjudge-laptop" %}
  <style>
    .navbar { background-color: purple !important; }
  </style>
  {% elseif myhost == "localhost" %}
  <style>
    .navbar { background-color: forestgreen !important; }
  </style>
  {% endif %}
</body>
</html>
