<!DOCTYPE html>
<html lang="en">
<head>
  <!-- DOMjudge version {{DOMJUDGE_VERSION}} sft -->
  <title>{% block title %}DOMjudge{% endblock %}</title>
  <meta charset="{{DJ_CHARACTER_SET}}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="{{asset('images/favicon.png') }}">

  <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{asset('style.css')}}">
  <script src="{{asset('js/jquery.min.js')}}"></script>
  <script src="{{asset('js/bootstrap.min.js')}}"></script>

  <link rel="stylesheet" href="{{asset('style_jury.css')}}">
  <script src="{{asset('js/jscolor.js')}}"></script>
  <link rel="stylesheet" href="{{asset('token-input.css')}}">
  <script src="{{asset('js/jquery.tokeninput.min.js')}}"></script>
  <script src="{{asset('js/sorttable.js')}}"></script>
  <script src="{{asset('js/domjudge.js')}}"></script>

  {% block extrahead %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>
