<!DOCTYPE html>
<html lang="en">
<head>
  <!-- DOMjudge version {{DOMJUDGE_VERSION}} sftb-->
  <meta charset="{{DJ_CHARACTER_SET}}">
  <title>{% block title %}DOMjudge{% endblock %}</title>
  <link rel="icon" href="{{asset('images/favicon.png') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{asset("css/octicons/octicons.css")}}">

  <link rel="stylesheet" href="{{asset("css/bootstrap.min.css")}}">
  <script src="{{asset("js/jquery.min.js")}}"></script>
  <script src="{{asset("js/popper.min.js")}}"></script>
  <script src="{{asset("js/bootstrap.min.js")}}"></script>

  <script src="{{asset("js/domjudge.js")}}"></script>
  {% block extrahead %}{% endblock %}
</head>
<body style="padding-top: 4.5rem;">
  {% block body %}{% endblock %}

  {% block extrafooter %}{% endblock %}
  <script>
      $(function() {
          /* Show the notification options if the browser supports it */
          if ( 'Notification' in window ) {
              $('#notify').removeClass('d-none');
          }
          /* toggle refresh if set */
          {% if refresh is defined and refresh %}
            $('#refresh-navitem').on('click', function () {
                toggleRefresh('{{ refresh.url }}', {{ refresh.after }});
            });
          {% endif %}
          /* Enable page refresh if set if wanted by the page, and wanted by the user */
          {% if refresh is defined and refresh and refresh_flag %}
            enableRefresh('{{ refresh.url }}', {{ refresh.after }});
          {% endif %}
      });
  </script>
</body>
</html>
