{% use 'bootstrap_4_layout.html.twig' %}

{% block choice_widget_collapsed -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control custom-select')|trim}) -%}
    {{- parent() -}}
{%- endblock choice_widget_collapsed %}

{% block radio_widget -%}
    {% set parent_label_class = 'radio-custom' %}
    {{- parent() -}}
{%- endblock radio_widget %}

{% block checkbox_widget -%}
    {% set parent_label_class = 'checkbox-custom' %}
    {{- parent() -}}
{%- endblock checkbox_widget %}

{% block checkbox_radio_label -%}
    {%- if widget is defined -%}
        {% set parent_label_class = 'checkbox-custom radio-custom' %}
    {% endif %}
    {{- parent() -}}
{%- endblock checkbox_radio_label %}

{% block button_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('btn-primary'))|trim}) -%}
    {{- parent() -}}
{%- endblock button_widget %}

{% block bootstrap_file_widget -%}
    <div class="custom-file">
        {%- set attr = attr|merge({class: (attr.class|default('custom-file-input'))|trim}) -%}
        {{- block('form_widget_simple') -}}
        <label class="custom-file-label text-truncate text-muted" for="{{ id }}">No file selected</label>
    </div>
{%- endblock bootstrap_file_widget %}
