{% extends "base.html.twig" %}

{% block title %}{{ title | default('DOMjudge') }}{% endblock %}

{% block messages %}
    {{ parent() }}

    {% if app.session.flashBag.has('scoreboard_refresh') %}
        {% for message in app.session.flashBag.get('scoreboard_refresh') %}
            {% include 'jury/refresh_scoreboard.html.twig' %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block extrahead %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style_jury.css') }}">
{% endblock %}

{% block menu %}
    {% include 'jury/menu.html.twig' %}
{% endblock %}
{% block footer %}
    <script src="{{ asset('js/monaco/vs/loader.js') }}"></script>
    <script>
        {# A bit ugly to do the replace, but Symfony adds a version to any asset URLs so remove it again #}
        require.config({ paths: { vs: '{{ asset('js/monaco/vs') }}'.replace(/\?.*/, '') } });
        window.editorThemeFolder = '{{ asset('js/monaco/themes') }}'.replace(/\?.*/, '');
    </script>
    {% if previousNext is defined %}
        <script>
            {% if previousNext.previous %}
            window.previousEntity = '{{ previousNext.previous }}';
            {% endif %}
            {% if previousNext.next %}
            window.nextEntity = '{{ previousNext.next }}';
            {% endif %}
        </script>
    {% endif %}
    <script>
        $(function () {
            /* Show the notification options if the browser supports it */
            if ('Notification' in window) {
                $('#notify_disable').click(disableNotifications);
                $('#notify_enable').click(enableNotifications);
                if (getCookie('domjudge_notify') != 1) {
                    $('#notify_enable').removeClass('d-none');
                } else {
                    $('#notify_disable').removeClass('d-none');
                }
            }

            $('#keys_disable').click(disableKeys);
            $('#keys_enable').click(enableKeys);
            var keysCookie = getCookie('domjudge_keys');
            if (keysCookie != 1 && keysCookie != "") {
                $('#keys_enable').removeClass('d-none');
            } else {
                $('#keys_disable').removeClass('d-none');
            }

            updateMenuAlerts();
            setInterval(updateMenuAlerts, 20000);

            $('[data-bs-toggle="tooltip"]').tooltip();

            applyEditorTheme();

            $('[data-conditional-field]').each(function () {
                const $field = $(this);
                const $wrapper = $field.closest('div.mb-3');
                const conditionalFieldName = $field.data('conditional-field');
                const conditionalFieldRequiredValue = $field.data('conditional-field-value').toString();
                const $form = $field.closest('form');
                const formName = $form.attr('name');
                const fullConditionalFieldName = `${formName}_${conditionalFieldName}`;
                const $conditionalField = $field.closest('form').find(`#${fullConditionalFieldName}`);

                const toggleBasedOnConditional = function($field, $wrapper, $conditionalField, conditionalFieldRequiredValue) {
                    // Check if the conditional field has the value
                    const conditionalFieldValue = $conditionalField.val();
                    let matches;
                    // Check if the conditionalFieldValue is an array, for multi selects
                    if (conditionalFieldValue instanceof Array) {
                        matches = conditionalFieldValue.indexOf(conditionalFieldRequiredValue) !== -1;
                    } else {
                        matches = conditionalFieldValue === conditionalFieldRequiredValue;
                    }

                    if (matches) {
                        $wrapper.removeClass('d-none');
                        $field.attr('disabled', false);
                    } else {
                        $wrapper.addClass('d-none');
                        $field.attr('disabled', true);
                    }
                };

                toggleBasedOnConditional($field, $wrapper, $conditionalField, conditionalFieldRequiredValue);
                $conditionalField.on('change', () => {
                    toggleBasedOnConditional($field, $wrapper, $conditionalField, conditionalFieldRequiredValue);
                });
            });
        });

        initializeKeyboardShortcuts();
    </script>

    <div class="container d-none" id="keyhelp">
        <h1>Keyboard shortcuts</h1>

        <code>?</code> display this help, <code>Escape</code> to exit <br/>
        <br/>

        <code>j</code> go to the next item, e.g. next submission <br/>
        <code>k</code> go to the previous item, e.g. previous submission <br/>
        <br/>

        <code>d</code> <code>↵</code> switch diff viewer to no diff <br/>
        <code>d</code> <code>[a-zA-Z0-9_.-]+</code> <code>↵</code> switch to diff against a submission, e.g. <code>d42↵</code> shows diff against submission 42 <br/>
        <br/>

        <code>s</code> <code>↵</code> open the list of submissions <br/>
        <code>s</code> <code>[a-zA-Z0-9_.-]+</code> <code>↵</code> open a specific submission, e.g. <code>s42↵</code> to go to submission 42 <br/>
        <br/>

        <code>t</code> <code>↵</code> open the list of teams <br/>
        <code>t</code> <code>[a-zA-Z0-9_.-]+</code> <code>↵</code> open to a specific team <br/>
        <br/>

        <code>p</code> <code>↵</code> open the list of problems <br/>
        <code>p</code> <code>[a-zA-Z0-9_.-]+</code> <code>↵</code> open a specific problem <br/>
        <br/>

        <code>c</code> <code>↵</code> open the list of clarifications <br/>
        <code>c</code> <code>[a-zA-Z0-9_.-]+</code> <code>↵</code> open a specific clarification <br/>
        <br/>

        <code>Shift + j</code> <code>[a-zA-Z0-9_.-]+</code> <code>↵</code> open a specific judging <br/>
        <br/>

        <code>Shift + s</code> open the scoreboard<br/>
        <br/>
    </div>
{% endblock %}
