{% extends "jury/base.html.twig" %}
{% import _self as checkJudgings %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Judging verifier - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}

    <h1>Judging verifier</h1>

    <p>
        {{ numChecked }} submissions checked:
        {{ unexpected | length }} unexpected results,
        {% if verifyMultiple %}
            {{ multiple | length }} automatically verified (multiple outcomes),
        {% else %}
            {{ multiple | length }} to check manually,
        {% endif %}
        {{ verified | length }} automatically verified
        <br>
        {{ numUnchecked }} submissions not checked:
        {{ earlier | length }} verified earlier,
        {{ nomatch | length }} without magic string
    </p>

    {% macro verifyResults(id, header, results, collapse) %}
        {% if results is not empty %}
            <h2><a class="collapse-link" href="javascript:collapse('#detail{{ id }}')">{{ header }}</a></h2>
            <table id="detail{{ id }}" class="{% if collapse | default(false) %}d-none{% endif %} data-table table table-hover table-striped table-sm submissions-table table-full-clickable-cell">
                <tr>
                    <th></th><th>problem</th><th>file(s)</th>
                    <th>actual</th>
                    <th>expected (one of)</th>
                </tr>
                {% for submitId,result in results %}
                    {% set link = path('jury_submission', {'submitId': submitId}) %}
                    <tr>
                        <td><a href="{{ link }}">{{ submitId }}</a></td>
                        <td>
                            <a href="{{ link }}">
                                {% if result.contestProblem is defined %}
                                    {{ result.contestProblem | problemBadge }}
                                {% endif %}
                            </a>
                        </td>
                        <td>
                            <a href="{{ link }}">
                                {% if result.files is defined and result.files | length > 0 %}
                                    {% for file in result.files[:3] %}
                                        <code>{{ file.filename }}</code>
                                    {% endfor %}
                                {% endif %}
                            </a>
                        </td>
                        <td>
                            <a href="{{ link }}">
                                {% if result is defined and result.actual is defined %}
                                   {{ result.actual | printResult }}
                                {% endif %}
                            </a>
                        </td>
                        <td>
                            <a href="{{ link }}">
                                {% if result is defined and result.expected is defined %}
                                    {% for r in result.expected %}
                                        {{ r | printResult }}
                                        {% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endmacro %}

    {{ checkJudgings.verifyResults('unexpected', 'Unexpected results', unexpected) }}
    {% if verifyMultiple %}
        {{ checkJudgings.verifyResults('multiple', 'Automatically verified (multiple outcomes)', multiple, true) }}
    {% else %}
        {{ checkJudgings.verifyResults('multiple', 'Check manually', multiple) }}
        {% if multiple is not empty %}
            <form action="{{ path('jury_judging_verifier') }}" method="post">
                <input type="hidden" name="verify_multiple" value="1">
                <p>
                    Verify all multiple outcome submissions:
                    <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Verify</button>
                </p>
            </form>
        {% endif %}
    {% endif %}
    {{ checkJudgings.verifyResults('verified', 'Automatically verified', verified, true) }}
    {{ checkJudgings.verifyResults('earlier', 'Verified earlier', earlier, true) }}
    {{ checkJudgings.verifyResults('nomatch', 'Without magic string', nomatch, true) }}

    {% if problems != [] %}
        <h2>Problem runtime analytics</h2>
        You probably want to <a href="{{ path('jury_contest', {'contestId': contestId }) }}">rejudge</a>
        all submissions with a reasonable overshoot and
        {%- if not is_granted('ROLE_ADMIN') %} let an admin {% endif %}
        judge the
        {%- if is_granted('ROLE_ADMIN') %}<a href="{{ path('jury_contest_request_remaining', {'contestId': contestId}) }}">{% endif %}
          remaining testcases
        {%- if is_granted('ROLE_ADMIN') %}</a>{% endif %}.
        After this compare the maximum runtime for <code>Accepted</code>
        solutions and tune those against expected <code>Time Limit Exceeded</code> solutions.<br>
        {% for p in problems %}
            {% set link = path('analysis_problem', {'probid': p.externalId, 'view': 'hidden'}) %}
            <a href="{{ link }}">{{ p | problemBadge }}</a>
        {% endfor %}
    {% endif %}

{% endblock %}
