{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Clarifications - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}

    <h1>Clarifications</h1>

    {%- if current_contests is empty %}

        <div class="alert alert-danger">No active contest(s)</div>
    {%- else %}

        <a href="{{ path('jury_clarification_new') }}" class="btn btn-primary btn-sm">
                <i class="fas fa-envelope"></i> Send clarification
        </a>
        <br />
        <br />

        Filter:
        <div class="btn-group btn-group-toggle btn-group-sm mb-3" data-toggle="buttons">
            <label class="btn btn-secondary {% if currentFilter is null %}active{% endif %}">
                <input type="radio" name="filter" autocomplete="off" value="all"
                       {% if currentFilter is null %}checked{% endif %}> All
            </label>
            <label class="btn btn-secondary {% if currentFilter == 'new' %}active{% endif %}">
                <input type="radio" name="filter" autocomplete="off" value="new"
                       {% if currentFilter == 'new' %}checked{% endif %}> New
            </label>
            <label class="btn btn-secondary {% if currentFilter == 'old' %}active{% endif %}">
                <input type="radio" name="filter" autocomplete="off" value="old"
                       {% if currentFilter == 'old' %}checked{% endif %}> Old
            </label>
            <label class="btn btn-secondary {% if currentFilter == 'general' %}active{% endif %}">
                <input type="radio" name="filter" autocomplete="off" value="general"
                       {% if currentFilter == 'general' %}checked{% endif %}> General
            </label>
        </div>

        {% if queues | length > 0 %}
            Queue:
            <div class="btn-group btn-group-toggle btn-group-sm mb-3" data-toggle="buttons">
                <label class="btn btn-secondary {% if currentQueue is null %}active{% endif %}">
                    <input type="radio" name="queue" autocomplete="off" value="all"
                           {% if currentQueue is null %}checked{% endif %}> All
                </label>
                <label class="btn btn-secondary {% if currentQueue is not null and currentQueue == '' %}active{% endif %}">
                    <input type="radio" name="queue" autocomplete="off" value=""
                           {% if currentQueue is not null and currentQueue == '' %}checked{% endif %}> Unassigned
                </label>
                {%- for queue, name in queues %}
                    <label class="btn btn-secondary {% if currentQueue == queue %}active{% endif %}">
                        <input type="radio" name="queue" autocomplete="off" value="{{ queue }}"
                               {% if currentQueue == queue %}checked{% endif %}> {{ name }}
                    </label>
                {%- endfor %}
            </div>
        {% endif %}

        {% if currentFilter is null or currentFilter == 'new' %}
            <h3 id="newrequests">New requests:</h3>
            {%- if newClarifications | length == 0 %}
                <p class="nodata">No new clarification requests.</p>
            {%- else %}
                {%- include 'jury/partials/clarification_list.html.twig' with {clarifications: newClarifications} %}
            {%- endif %}
        {% endif %}

        {% if currentFilter is null or currentFilter == 'old' %}
            <h3 id="oldrequests">Old requests:</h3>
            {%- if oldClarifications | length == 0 %}
                <p class="nodata">No old clarification requests.</p>
            {%- else %}
                {%- include 'jury/partials/clarification_list.html.twig' with {clarifications: oldClarifications} %}
            {%- endif %}
        {% endif %}

        {% if currentFilter is null or currentFilter == 'general' %}
            <h3 id="clarifications">General clarifications:</h3>
            {%- if generalClarifications | length == 0 %}
                <p class="nodata">No general clarifications.</p>
            {%- else %}
                {%- include 'jury/partials/clarification_list.html.twig' with {clarifications: generalClarifications} %}
            {%- endif %}
        {% endif %}
    {%- endif %}

    <script>
        function doSwitch() {
            // Fallback the queue to all, since it might not be defined.
            window.location = '{{ path('jury_clarifications', {'queue': 'REPLACE_QUEUE', 'filter': 'REPLACE_FILTER'}) }}'
                .replace('REPLACE_QUEUE', $('input[name=queue]:checked').val())
                .replace('REPLACE_FILTER', $('input[name=filter]:checked').val())
                .replace('&amp;', '&');
        }
        $().ready(function () {
            var table = $('.data-table').DataTable({
                "paging": false,
                "ordering": true,
                "info": false,
                "autoWidth": true,
                "language": {
                    "searchPlaceholder": "filter table",
                    "search": "_INPUT_",
                },
                'aoColumnDefs': [
                    {aTargets: ['_all'], bSortable: true, bSearchable: true}
                ],
            });
            $('.qbut').on('change', function () {
                var icon = $("#qig" + $(this).attr('data-clarid') );
                icon.html('<i class="fas fa-spinner fa-spin"></i>');
                var parenttd = $(this).closest('td');
                var parenttr = $(this).closest('tr');
                var newname = $(this).closest('label').text().trim();
                $.post("{{ path('jury_clarification_change_queue', {'clarId': 12345}) }}".replace('12345', $(this).attr('data-clarid')),
                    {'queue': $(this).val()})
                    .done(function( data ) {
                        if ( data ) {
                            parenttd.attr('data-search', newname);
                            table.rows(parenttr).invalidate();
                            icon.html('<i class="fas fa-check"></i>');
                        } else {
                            icon.html('<i class="fas fa-times"></i>');
                        }
                    });
            });

            $('input[name=queue]').on('change', doSwitch);
            $('input[name=filter]').on('change', doSwitch);
        });
    </script>

{% endblock %}
