{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Finalize contest - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <h1>Finalize contest</h1>

    {% if blockers is not empty %}
        <div class="alert alert-danger">
            <h5 class="alert-heading">Contest can not yet be finalized</h5>
            <hr>
            <ul>
                {% for blocker in blockers %}
                    <li>{{ blocker }}</li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div class="col-md-5">
            <table class="table table-sm table-striped">
                <tr>
                    <th>Contest ID</th>
                    <td>c{{ contest.cid }}</td>
                </tr>
                <tr>
                    <th>Contest name</th>
                    <td>{{ contest.name }}</td>
                </tr>
                <tr>
                    <th>Started</th>
                    <td>{{ contest.starttime | printtime }}</td>
                </tr>
                <tr>
                    <th>Ended</th>
                    <td>{{ contest.endtime | printtime }}</td>
                </tr>
            </table>
        </div>

        {{ form_start(form) }}
        {{ form_row(form.b) }}
        {{ form_row(form.finalizecomment) }}
        {{ form_widget(form.finalize) }}
        {{ button(path('jury_contest', {'contestId': contest.cid}), 'Cancel', 'secondary') }}
        {{ form_end(form) }}
    {% endif %}

{% endblock %}
