{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Add contest - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.select2_extrahead() }}
    {{ macros.jscolor_extrahead() }}
{% endblock %}

{% block content %}

    <h1>Add contest</h1>

    {% include 'jury/partials/contest_form.html.twig' %}

    {{ macros.collection_scripts() }}

{% endblock %}
