{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Edit contest {{ contest.externalid }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.select2_extrahead() }}
    {{ macros.coloris_extrahead() }}
    {{ macros.toggle_extrahead() }}
{% endblock %}

{% block content %}

    <div class="contest-form">
        <div class="page-header-bar">
            <h1>Edit contest #{{ contest.cid }} ({{ contest.name }} / {{ contest.externalid }})</h1>
        </div>

        {% include 'jury/partials/contest_form.html.twig' %}

        {{ macros.collection_scripts() }}
    </div>

{% endblock %}
