{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Contest {{ contest.cid }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}

    <h1>Contest {{ contest.name }}</h1>

    {% if isActive %}
        <div class="alert alert-success">
            This is an active contest
        </div>
    {% endif %}
    {% if not contest.enabled %}
        <div class="alert alert-danger">
            This contest is disabled
        </div>
    {% endif %}
    {% if contest.finalizetime is not empty %}
        <div class="alert alert-info">
            This contest is final
        </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-4">
            <table class="table table-sm table-striped">
                <tr>
                    <th>CID</th>
                    <td>c{{ contest.cid }}</td>
                </tr>
                {% if showExternalId(contest) %}
                    <tr>
                        <th>External ID</th>
                        <td>{{ contest.externalid }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Short name</th>
                    <td>{{ contest.shortname }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ contest.name }}</td>
                </tr>
                <tr>
                    <th>Activate time</th>
                    <td>{{ contest.activatetimeString }}</td>
                </tr>
                <tr>
                    <th>Start time</th>
                    <td>
                        {% if contest.starttimeEnabled %}
                            {{ contest.starttimeString }}
                        {% else %}
                            <span class="ignore">{{ contest.starttimeString }}</span> <em>delayed</em>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Scoreboard freeze</th>
                    <td>{{ contest.freezetimeString|default('-') }}</td>
                </tr>
                <tr>
                    <th>End time</th>
                    <td>{{ contest.endtimeString }}</td>
                </tr>
                <tr>
                    <th>Scoreboard unfreeze</th>
                    <td>{{ contest.unfreezetimeString|default('-') }}</td>
                </tr>
                <tr>
                    <th>Deactivate time</th>
                    <td>{{ contest.deactivatetimeString }}</td>
                </tr>
                <tr>
                    <th>Process balloons</th>
                    <td>{{ contest.processBalloons | printYesNo }}</td>
                </tr>
                <tr>
                    <th>Publicly visible</th>
                    <td>{{ contest.public | printYesNo }}</td>
                </tr>
                <tr>
                    <th>Open to all teams</th>
                    <td>{{ contest.openToAllTeams | printYesNo }}</td>
                </tr>
                <tr>
                    <th>Teams</th>
                    <td>
                        {% if contest.openToAllTeams %}
                            <em>all teams</em>
                        {% else %}
                            {% for team in contest.teams %}
                                <a href="{{ path('jury_team', {'teamId': team.teamid}) }}">
                                    {{ team.name }} (t{{ team.teamid }})
                                </a>
                                <br>
                            {% endfor %}
                            {% for category in contest.teamCategories %}
                                All teams from
                                <a href="{{ path('jury_team_category', {'categoryId': category.categoryid}) }}">
                                    {{ category.name }}
                                </a>
                                <br>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    {% if contest.finalizetime %}
        <h2>Finalized</h2>

        <div class="row">
            <div class="col-lg-4">
                <table class="table table-sm table-striped">
                    <tr>
                        <th>Finalized at</th>
                        <td>{{ contest.finalizetime | printtime('%Y-%m-%d %H:%M:%S (%Z)') }}</td>
                    </tr>
                    <tr>
                        <th>B</th>
                        <td>{{ contest.b }}</td>
                    </tr>
                    <tr>
                        <th>Comment</th>
                        <td>{{ contest.finalizecomment | nl2br }}</td>
                    </tr>
                </table>
            </div>
        </div>
    {% endif %}

    <p>
        {%- if is_granted('ROLE_ADMIN') -%}
            {{ button(path('jury_contest_edit', {'contestId': contest.cid}), 'Edit', 'primary', 'edit') }}
            {{ button(path('jury_contest_delete', {'contestId': contest.cid}), 'Delete', 'danger', 'trash-alt', true) }}
        {% endif %}
        {% if contest.finalizetime %}
            {{ button(path('jury_contest_finalize', {'contestId': contest.cid}), 'Update finalization', 'secondary', 'lock') }}
        {% else %}
            {{ button(path('jury_contest_finalize', {'contestId': contest.cid}), 'Finalize this contest', 'secondary', 'lock') }}
        {% endif %}
        {% include 'jury/partials/rejudge_form.html.twig' with {table: 'contest', id: contest.cid, buttonClass: 'btn-secondary'} %}
    </p>

    {% if allowRemovedIntervals %}
        <h2>Removed intervals</h2>
        {% if not is_granted('ROLE_ADMIN') and contest.removedIntervals is empty %}
            <p class="nodata">None.</p>
        {% else %}
            {% if removedIntervalForm is defined %}
                {{ form_start(removedIntervalForm) }}
            {% endif %}
            <div class="row">
                <div class="col-lg-6">
                    <table class="table data-table table-sm table-striped table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>From</th>
                            <th></th>
                            <th>To</th>
                            <th>Duration</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for removedInterval in removedIntervals %}
                            <tr>
                                <td>{{ removedInterval.intervalid }}</td>
                                <td>{{ removedInterval.starttimeString }}</td>
                                <td><i class="fas fa-arrow-right"></i></td>
                                <td>{{ removedInterval.endtimeString }}</td>
                                <td>{{ removedInterval.starttime | printtimediff(removedInterval.endtime) }}</td>
                                <td>
                                    <button class="btn btn-sm btn-danger remove-interval-button" type="button"
                                            data-submit-url="{{ path('jury_contest_remove_interval', {'contestId': contest.cid, 'intervalId': removedInterval.intervalid}) }}">
                                        <i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <tr>
                                <td>new</td>
                                <td>
                                    {{ form_errors(removedIntervalForm.starttimeString) }}
                                    {{ form_widget(removedIntervalForm.starttimeString) }}
                                </td>
                                <td><i class="fas fa-arrow-right"></i></td>
                                <td>
                                    {{ form_errors(removedIntervalForm.endtimeString) }}
                                    {{ form_widget(removedIntervalForm.endtimeString) }}
                                </td>
                                <td></td>
                                <td>{{ form_widget(removedIntervalForm.add) }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if removedIntervalForm is defined %}
                <small class="text-muted">Use the format <b><tt>YYYY-MM-DD HH:MM:SS[.uuuuuu] timezone</tt></b> for
                    start/end times.
                </small>
                {{ form_end(removedIntervalForm) }}
            {% endif %}
        {% endif %}
    {% endif %}

    <h2 class="mt-2">Problems</h2>

    {% if problems is empty %}
        <p class="nodata">No problems added yet</p>
    {% else %}
        <div class="row">
            <div class="col-lg-6">
                <table class="table data-table table-sm table-striped table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Shortname</th>
                        <th>Points</th>
                        <th>Allow<br>submit</th>
                        <th>Allow<br>judge</th>
                        <th>Color</th>
                        <th>Lazy eval</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for problem in problems %}
                        <tr>
                            {% set link = path('jury_problem', {'probId': problem.probid}) %}
                            <td><a href="{{ link }}">p{{ problem.probid }}</a></td>
                            <td><a href="{{ link }}">{{ problem.problem.name }}</a></td>
                            <td><a href="{{ link }}">{{ problem.shortname }}</a></td>
                            <td><a href="{{ link }}">{{ problem.points }}</a></td>
                            <td><a href="{{ link }}">{{ problem.allowSubmit | printYesNo }}</a></td>
                            <td><a href="{{ link }}">{{ problem.allowJudge | printYesNo }}</a></td>
                            {% if problem.color is empty %}
                                <td><a href="{{ link }}">&nbsp;</a></td>
                            {% else %}
                                <td title="{{ problem.color }}">
                                    <a href="{{ link }}">
                                        <div class="circle" style="background-color: {{ problem.color }}"></div>
                                    </a>
                                </td>
                            {% endif %}
                            <td>
                                <a href="{{ link }}">
                                    {% if problem.lazyEvalResults is not null %}
                                        {{ problem.lazyEvalResults | printYesNo }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </a>
                            </td>
                            <td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('jury_contest_problem_delete', {'contestId': contest.cid, 'probId': problem.probid}) }}" data-ajax-modal>
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    <script>
        $(function () {
            $('.remove-interval-button').on('click', function () {
                if (confirm('Really delete interval?')) {
                    var $form = $('<form method="post" />');
                    $form.attr('action', $(this).data('submit-url'));
                    $form.submit();
                }
                return false;
            });
        });
    </script>

{% endblock %}
