{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Contests - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}
    <h1>Contests</h1>

    <h3>Current contests</h3>

    {% for contest in current_contests %}
        {# TODO: at some point use real Symfony forms here? Is maybe hard because of all the submit buttons... #}
        <form action="{{ path('jury_contests') }}" method="post">
            <input type="hidden" name="contest" value="{{ contest.cid }}"/>
            <div class="row mb-4">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            {{ contest.name }} ({{ contest.shortname }} - c{{ contest.cid }})
                        </div>
                        <div class="card-body">
                            {% if not contest.starttimeEnabled and contest.finalizetime is not empty %}
                                <div class="alert alert-warning">
                                    <strong>Warning:</strong> start time is undefined, but contest is finalized!
                                </div>
                            {% endif %}
                            <table class="table table-hover">
                                <tbody>
                                {% for type, data in contest.juryTimeData %}
                                    <tr>
                                        <td class="{{ data.class|default('') }}">
                                            {% if data.icon is defined %}
                                                <i class="fas fa-{{ data.icon }}"></i>
                                            {% endif %}
                                        </td>
                                        <td class="{{ data.class|default('') }}"><b>{{ data.label }}:</b></td>
                                        <td class="{{ data.class|default('') }}">{{ data.time }}</td>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <td>
                                                {% if data.show_button %}
                                                    <input type="submit" class="btn btn-primary btn-sm"
                                                           name="donow[{{ type }}]" value="{{ type }} now"/>
                                                {% endif %}
                                                {% if data.extra_button is defined %}
                                                    <input type="submit" class="btn btn-primary btn-sm"
                                                           name="donow[{{ data.extra_button.type }}]"
                                                           value="{{ data.extra_button.label }}"/>
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% else %}
        {% if upcoming_contest is empty %}
            <div class="alert alert-danger">
                No upcoming contest
            </div>
        {% else %}
            <div class="alert alert-warning">
                <strong>No active contest.</strong> Upcoming:<br/>
                <p>
                    <i>{{ upcoming_contest.name }} ({{ upcoming_contest.shortname }})</i>;
                    active from {{ upcoming_contest.activatetime | printtime('%a %d %b %Y %T %Z') }}
                </p>
                <form action="{{ path('jury_contests') }}" method="post">
                    <input type="hidden" name="contest" value="{{ upcoming_contest.cid }}"/>
                    <input type="submit" class="btn btn-primary" name="donow[activate]" value="Activate now"/>
                </form>
            </div>
        {% endif %}
    {% endfor %}

    <h3>All available contests</h3>

    {{ macros.table(contests_table, table_fields, num_actions) }}

    {% if is_granted('ROLE_ADMIN') %}
        <p>
            {{ button(path('jury_contest_add'), 'Add new contest', 'primary', 'plus') }}
        </p>
    {% endif %}

{% endblock %}
