{% extends "partials/modal.html.twig" %}

{% block title %}
    {% if count > 1 %}
        Delete {{ count }} {{ type }}s
    {% else %}
        Delete {{ type }} {{ primaryKey }} - "{{ description }}"
    {% endif %}
{% endblock %}

{% block content %}

    {% if isError %}
        <div class="alert alert-danger">
            <strong>Error: {{ messages.0 }}</strong>
        </div>
    {% else %}
        {% if count > 1 %}
            <p>You're about to delete the following {{ count }} {{ type }}s:</p>
            <ul>
                {% for desc in description|split(',') %}
                    <li>{{ desc|trim }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You're about to delete {{ type }} {{ primaryKey }} "{{ description }}".</p>
        {% endif %}

        {% if messages is not empty %}
            <p>
                <strong>Warning, this will:</strong>
            </p>
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>Are you sure?</p>
    {% endif %}

{% endblock %}

{% block closeButtonText %}
    {% if isError %}OK{% else %}Cancel{% endif %}
{% endblock %}

{% block buttonText %}Delete{% endblock %}
