{% extends "jury/base.html.twig" %}

{% block title %}Content of executable {{ executable.execid }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    <script src="{{ asset('js/ace/ace.js') }}"></script>
    <script src="{{ asset('js/ace/ext-modelist.js') }}"></script>
{% endblock %}

{% block content %}

    <h1>Content of executable <code>{{ executable.execid }}</code></h1>

    {% if skippedBinary is not empty %}
        <div class="alert alert-warning">
            We exclude these files from editing since we could not detect their encoding (e.g. they are binary files):
            <ul>
                {% for file in skippedBinary %}
                    <li><code>{{ file }}</code></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {{ form_start(form) }}

    {% if not filenames %}
        <p class="nodata">No files in this executable.</p>
    {% else %}
        <ul class="nav nav-tabs source-tab-nav" role="tablist">
            {%- for idx, filename in filenames %}
                <li class="nav-item">
                    <a class="nav-link {% if (selected is null and loop.first) or selected == idx %}active{% endif %}" data-toggle="tab"
                       href="#source-{{ idx }}" role="tab"><code>{{ filename }}</code>{%  if (executableBits[idx]) %} <sub>x-bit</sub>{% endif %}</a>
                </li>
            {%- endfor %}
        </ul>
        <div class="tab-content source-tab">
            {%- for idx, filename in filenames %}
                <div class="tab-pane fade {% if (selected is null and loop.first) or selected == idx %}show active{% endif %}" id="source-{{ idx }}"
                     role="tabpanel">
                    <div class="mb-1">
                        <a class="btn btn-secondary btn-sm"
                           href="{{ path('jury_executable_download_single', {execId: executable.execid, rank: ranks[idx]}) }}">
                            <i class="fas fa-download"></i> Download
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-secondary btn-sm"
                               data-ajax-modal
                               href="{{ path('jury_executable_delete_single', {execId: executable.execid, rankToDelete: ranks[idx]}) }}">
                                <i class="fas fa-trash"></i> Delete
                            </a>
                        {% endif %}
                    </div>

                    {{ files[idx] | codeEditor(idx, null, is_granted('ROLE_ADMIN'), 'form_source' ~ idx, aceFilenames[idx]) }}
                    <script>
                        $(function () {
                            $('#form_source{{ idx }}').closest('.form-group').hide();
                        });
                    </script>
                </div>
            {%- endfor %}
        </div>

        <div class="row">
            <div class="col-lg-4">
                {{ form_widget(form) }}
            </div>
        </div>
        {{ form_end(form) }}
    {% endif %}

{% endblock %}
