{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Executables - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}

    <h1>Executables</h1>

    {{ macros.table(executables, table_fields, {'ordering': 'false'}) }}

    {% if is_granted('ROLE_ADMIN') %}
        <p>
            {{ button(path('jury_executable_add'), 'Add new executable', 'primary', 'plus') }}
        </p>
    {% endif %}


    <h1>Enabled executables</h1>
    {{ macros.table(executables_enabled, table_fields, {'ordering': 'false'}) }}

    <h1>Disabled executables</h1>
    {{ macros.table(executables_disabled, table_fields, {'ordering': 'false'}) }}

    {% for type, val in executables2 %}
        <h1>{{ type }} executables</h1>
        {{ macros.table(val, table_fields, {'ordering': 'false'}) }}
    {% endfor %}

{% endblock %}
