{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.select2_extrahead() }}
{% endblock %}

{% block title %}Resolve internal error - {{ parent() }}{% endblock %}

{% block content %}

    <h1>Resolving internal error...</h1>

    <div class="row">
        <div class="col-lg-12">
            {{ macros.progress_bar('Resolving internal error. This might take a while...') }}
        </div>
    </div>

{% endblock %}

{% block extrafooter %}
    {{ macros.progress_loader(url) }}
{% endblock %}
