{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Edit language {{ language.langid }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.select2_extrahead() }}
    {{ macros.toggle_extrahead() }}
{% endblock %}

{% block content %}

    <div class="contest-form">
        <div class="page-header-bar">
            <h1>Edit language {{ language.name }} ({{ language.externalid }})</h1>
        </div>

        {% include 'jury/partials/language_form.html.twig' %}
    </div>

{% endblock %}
