{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Problems - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}

    {% if current_contest %}
        <h1>Problems in contest {{ current_contest.name }}</h1>
        {% if problems_current is empty %}
            <em>There are no problems in this contest.</em>
        {% else %}
            {{ macros.table(problems_current, table_fields) }}
        {% endif %}
    {% endif %}

    {% if problems_other is not empty %}
        <h1>Problems in other contests</h1>

        {{ macros.table(problems_other, table_fields) }}
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <p class="mt-4">
            {% include 'jury/partials/_delete_button.html.twig' with {'entities': problems_current} %}
            {{ button(path('jury_problem_add'), 'Add new problem', 'primary', 'plus') }}
            {{ button(path('jury_import_export', {'_fragment':'problemarchive'}), 'Import problem', 'primary', 'upload') }}
        </p>
    {% endif %}


{% endblock %}

{% block extrafooter %}
    {{ parent() }}
    <script src="{{ asset('js/multi-delete.js') }}"></script>
    <script>
        $(function() {
            initializeMultiDelete({
                buttonSelector: '#delete-selected-button',
                checkboxClass: 'problem-checkbox',
                deleteUrl: '{{ path('jury_problem_delete_multiple') }}'
            });
        });
    </script>
{% endblock %}
