{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Problem {{ problem.probid }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}

    <h1>Problem {{ problem.name }}</h1>

    <div class="row">
        <div class="col-lg-4">
            <table class="table table-sm table-striped">
                <tr>
                    <th>ID</th>
                    <td>p{{ problem.probid }}</td>
                </tr>
                {% if showExternalId(problem) %}
                    <tr>
                        <th>External ID</th>
                        <td>{{ problem.externalid }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Name</th>
                    <td>{{ problem.name }}</td>
                </tr>
                <tr>
                    <th>Testcases</th>
                    <td>
                        {% if problem.testcases is empty %}
                            <em>no testcases</em>
                        {% else %}
                            {{ problem.testcases.count }}
                        {% endif %}
                        <a href="{{ path('jury_problem_testcases', {'probId': problem.probid}) }}">details / edit</a>
                    </td>
                </tr>
                <tr>
                    <th>Timelimit</th>
                    <td>{{ problem.timelimit }} sec</td>
                </tr>
                <tr>
                    <th>Memory limit</th>
                    <td>
                        {% if problem.memlimit == null %}
                            {{ defaultMemoryLimit }} kB (default)
                        {% else %}
                            {{ problem.memlimit }} kB
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Output limit</th>
                    <td>
                        {% if problem.outputlimit == null %}
                            {{ defaultOutputLimit }} kB (default)
                        {% else %}
                            {{ problem.outputlimit }} kB
                        {% endif %}
                    </td>
                </tr>
                {% if problem.problemtextType is not empty %}
                    <tr>
                        <th>Problem text</th>
                        <td>
                            <a href="{{ path('jury_problem_text', {'probId': problem.probid}) }}">
                                <i title="view problem description"
                                   class="fas fa-file-{{ problem.problemtextType }}"></i>
                            </a>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Run script</th>
                    <td class="filename">
                        {% if problem.runExecutable is not empty %}
                            <a href="{{ path('jury_executable', {'execId': problem.runExecutable.execid}) }}">{{ problem.runExecutable.execid }}</a>
                        {% else %}
                            <a href="{{ path('jury_executable', {'execId': defaultRunExecutable}) }}">{{ defaultRunExecutable }}</a>
                            (default)
                        {% endif %}
                    </td>
                </tr>
		{% if problem.combinedRunCompare %}
                  <tr>
                     <th>Compare script</th>
                     <td>Run script combines run and compare script.</td>
                  </tr>
                {% else %}
                  <tr>
                      <th>Compare script</th>
                      <td class="filename">
                          {% if problem.compareExecutable is not empty %}
                              <a href="{{ path('jury_executable', {'execId': problem.compareExecutable.execid}) }}">{{ problem.compareExecutable.execid }}</a>
                          {% else %}
                              <a href="{{ path('jury_executable', {'execId': defaultCompareExecutable}) }}">{{ defaultCompareExecutable }}</a>
                              (default)
                          {% endif %}
                      </td>
                  </tr>
                {% endif %}
                {% if problem.specialCompareArgs is not empty %}
                    <tr>
                        <th>Compare script arguments</th>
                        <td class="filename">{{ problem.specialCompareArgs }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>

    <p>
        {%- if is_granted('ROLE_ADMIN') -%}
            {{ button(path('jury_problem_edit', {'probId': problem.probid}), 'Edit', 'primary', 'edit') }}
            {{ button(path('jury_problem_delete', {'probId': problem.probid}), 'Delete', 'danger', 'trash-alt', true) }}
        {% endif %}
        {% include 'jury/partials/rejudge_form.html.twig' with {table: 'problem', id: problem.probid, buttonClass: 'btn-secondary'} %}
    </p>

    <h2>Contests</h2>

    {% if problem.contestProblems is empty %}
        <p class="nodata">No contests defined</p>
    {% else %}
        <div class="row">
            <div class="col-md-6">
                <table class="data-table table table-hover table-striped table-sm">
                    <thead class="thead-light">
                    <tr>
                        <th>CID</th>
                        <th>Contest<br/>shortname</th>
                        <th>Contest<br/>name</th>
                        <th>Problem<br/>shortname</th>
                        <th>Allow<br/>submit</th>
                        <th>Allow<br/>judge</th>
                        <th>Colour</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contestProblem in problem.contestProblems %}
                        {% set link = path('jury_contest', {'contestId': contestProblem.cid}) %}
                        <tr>
                            <td><a href="{{ link }}">c{{ contestProblem.cid }}</a></td>
                            <td><a href="{{ link }}">{{ contestProblem.contest.shortname }}</a></td>
                            <td><a href="{{ link }}">{{ contestProblem.contest.name }}</a></td>
                            <td><a href="{{ link }}">{{ contestProblem.shortname }}</a></td>
                            <td><a href="{{ link }}">{{ contestProblem.allowSubmit | printYesNo }}</a></td>
                            <td><a href="{{ link }}">{{ contestProblem.allowJudge | printYesNo }}</a></td>
                            {% if contestProblem.color is empty %}
                                <td><a href="{{ link }}">&nbsp;</a></td>
                            {% else %}
                                <td title="{{ contestProblem.color }}">
                                    <a href="{{ link }}">
                                        <div class="circle" style="background-color: {{ contestProblem.color }}"></div>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    <h2>Submissions for {{ problem.name }}</h2>

    <div data-ajax-refresh-target>
        {%- include 'jury/partials/submission_list.html.twig' with {showTestcases: false} %}
    </div>

{% endblock %}
