{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Problems - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}

    {% if current_contest %}
        <h1>Problems in contest {{ current_contest.name }}</h1>
        {% if problems_current is empty %}
            <em>There are no problems in this contest.</em>
        {% else %}
            {{ macros.table(problems_current, table_fields) }}
        {% endif %}
    {% endif %}

    {% if problems_other is not empty %}
        <h1>Problems in other contests</h1>

        {{ macros.table(problems_other, table_fields) }}
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <p class="mt-4">
            {% if problems_current is not empty or problems_other is not empty %}
                <button type="button" class="btn btn-danger me-2" id="delete-selected-button" disabled><i class="fas fa-trash-alt"></i> Delete selected</button>
            {% endif %}
            {{ button(path('jury_problem_add'), 'Add new problem', 'primary', 'plus') }}
            {{ button(path('jury_import_export', {'_fragment':'problemarchive'}), 'Import problem', 'primary', 'upload') }}
        </p>
    {% endif %}


{% endblock %}

{% block extrafooter %}
    {{ parent() }}
    <script>
        $(function() {
            var $deleteButton = $('#delete-selected-button');

            function toggleDeleteButton() {
                var checkedCount = $('.problem-checkbox:checked').length;
                $deleteButton.prop('disabled', checkedCount === 0);
            }

            // Use delegated events to handle clicks on checkboxes, as DataTables might redraw the table.
            $(document).on('change', '.problem-checkbox', function() {
                var table = $(this).closest('table');
                var $tableCheckboxes = table.find('.problem-checkbox');
                var $selectAllInTable = table.find('.select-all');
                $selectAllInTable.prop('checked', $tableCheckboxes.length > 0 && $tableCheckboxes.length === $tableCheckboxes.filter(':checked').length);
                toggleDeleteButton();
            });

            $(document).on('change', '.select-all', function() {
                var table = $(this).closest('table');
                table.find('.problem-checkbox').prop('checked', $(this).is(':checked'));
                toggleDeleteButton();
            });

            // Initial state on page load.
            toggleDeleteButton();

            $deleteButton.on('click', function () {
                var ids = $('.problem-checkbox:checked').map(function () {
                    return 'ids[]=' + $(this).val();
                }).get();
                if (ids.length === 0) return;

                var url = "{{ path('jury_problem_delete_multiple') }}" + '?' + ids.join('&');

                // Create a temporary link and click it to trigger the existing AJAX modal logic.
                var $tempLink = $('<a>', {
                    'href': url,
                    'data-ajax-modal': ''
                }).hide().appendTo('body');

                $tempLink.trigger('click');
                $tempLink.remove();
            });
        });
    </script>
{% endblock %}
