{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Refresh cache - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}

    <h1>Refresh cache</h1>

    {% if doRefresh %}
        <div id="refresh-status"></div>
    {% else %}
        <div class="alert alert-warning">
            <h5 class="alert-heading">Significant database impact</h5>
            <hr>
            <p>
                Refreshing the scoreboard cache can have a significant impact on the database load,
                and is not necessary in normal operating circumstances.
                <br/><br/>
                Refresh scoreboard cache for
                {% if current_contest is not empty %}
                    {{ current_contest.shortname }}
                {% else %}
                    all active contests
                {% endif %}
                now?
            </p>
            <form action="{{ path('jury_refresh_cache') }}" method="post">
                {% if current_contest is not empty %}
                    <input type="hidden" name="cid" value="{{ current_contest.cid }}"/>
                {% endif %}
                <button type="submit" class="btn btn-danger" name="refresh">
                    <i class="fas fa-sync-alt"></i> Refresh now!
                </button>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block extrafooter %}
    <script>
        $(function () {
            var $status = $('div#refresh-status');
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '{{ (path('jury_refresh_cache')) }}', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

            xhr.onprogress = function (e) {
                $status.html(e.currentTarget.response);

                // Scroll page to bottom of div to keep showing progress
                $('html, body').animate({scrollTop: $status.offset().top + $status.height()}, 0);
            };

            xhr.send({% if current_contest is not empty %}'cid={{ current_contest.cid }}'{% endif %});
        });
    </script>
{% endblock %}
