{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Rejudgings - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}

    <h1>Rejudgings</h1>

    {% if rejudgings is empty %}
        <div class="alert alert-warning">No rejudgings defined</div>
    {% else %}
        {{ macros.table(rejudgings, table_fields, 0) }}
    {% endif %}

    <p>
        {{ button(path('jury_rejudging_add'), 'Add new rejudging', 'primary', 'plus') }}
    </p>

{% endblock %}
