{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Rejudging r{{ rejudging.rejudgingid }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
    {{ macros.select2_extrahead() }}
{% endblock %}

{% block content %}

    <h1>Rejudging r{{ rejudging.rejudgingid }} {% if not rejudging.valid %}(canceled){% endif %}</h1>

    <div class="row">
        <div class="col-lg-4">
            <table class="table table-sm table-striped">
                <tr>
                    <th>Reason</th>
                    <td>
                        {% if rejudging.reason is empty %}
                            <span class="nodata">none</span>
                        {% else %}
                            {{ rejudging.reason }}
                        {% endif %}
                    </td>
                </tr>
                {% if rejudging.startUser %}
                    <tr>
                        <th>Issued by</th>
                        <td>
                            <a href="{{ path('jury_user', {'userId': rejudging.startUser.userid}) }}">
                                {{ rejudging.startUser.name }}
                            </a>
                        </td>
                    </tr>
                {% endif %}
                {% if rejudging.endtime %}
                    <tr>
                        <th>{% if rejudging.valid %}Accepted{% else %}Canceled{% endif %} by</th>
                        <td>
                            {% if rejudging.autoapply %}
                                automatically applied
                            {% elseif rejudging.repeat %}
                                part of a repeated judging
                            {% else %}
                                <a href="{{ path('jury_user', {'userId': rejudging.finishUser.userid}) }}">
                                    {{ rejudging.finishUser.name }}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Start time</th>
                    <td>
                        {% if rejudging.starttime %}
                            <span title="{{ rejudging.starttime | printtime('Y-m-d H:i:s (T)') }}">
                                {{ rejudging.starttime | printtime }}
                            </span>
                        {% else %}
                            <span class="nodata">-</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Apply time</th>
                    <td>
                        {% if rejudging.endtime %}
                            <span title="{{ rejudging.endtime | printtime('Y-m-d H:i:s (T)') }}">
                                {{ rejudging.endtime | printtime }}
                            </span>
                        {% else %}
                            <span class="nodata">-</span>
                        {% endif %}
                    </td>
                </tr>
                <tr {% if todo <= 0 %}class="d-none"{% endif %}>
                    <th>Queued</th>
                    <td><span data-todo>{{ todo }}</span> unfinished judgings</td>
                </tr>
                {% if repetitions %}
                    <tr>
                        <th>Repetitions</th>
                        <td>
                            {% for rep in repetitions %}
                                <a href="{{ path('jury_rejudging', {rejudgingId: rep}) }}">
                                    r{{ rep }}<br/>
                                </a>
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>

    <div data-rejudging-buttons>
        {% include 'jury/partials/rejudging_buttons.html.twig' %}
    </div>

    {% if rejudging.autoapply and not rejudging.endtime %}
         <br/>
         <div class="alert alert-warning">Judgings in this rejudging will be applied automatically.</div>
    {% endif %}

    <div data-rejudging-matrix>
        {% include 'jury/partials/rejudging_matrix.html.twig' %}
    </div>

    {% if stats %}
        <h2>Statistics over repeated rejudgings</h2>
        <h4>Runtime spread</h4>
            <table class="table table-sm table-striped">
                <tr><th>submission/testcase</th><th>spread</th><th>#judgings</th><th>result</th></tr>
		{% for spread in stats.runtime_spread %}
		    <tr>
                        <td>s{{ spread.submitid }}/tc{{ spread.rank }}</td>
                        <td>{{ spread.spread | number_format(3) }}s</td>
                        <td>{{ spread.count }}</td>
                        <td>{{ spread.verdict | printResult }}</td>
		    </tr>
		{% endfor %}
	    </table>
        {% if stats.judging_runs_differ %}
            <h4>Judging Run Differences</h4>
            <ul>
                {% for diff in stats.judging_runs_differ %}
                    <li>s{{ diff }}</li>
                {% endfor %}
            </ul>
            {% if stats.judging_runs_differ_overflow > 0 %}
                <em>Left out {{ stats.judging_runs_differ_overflow }} submissions with different judging results.</em>
            {% endif %}
        {% endif %}
        {% if stats.judgehost_stats | length > 1 %}
            <h4>Judgehost stats</h4>
            <table class="table table-sm table-striped">
                <tr><th>Judgehost</th><th>#judgings</th><th>avg. runtime</th><th>std.dev.</th><th>avg. duration</th></tr>
                {% for judgehost in stats.judgehost_stats %}
                    <tr>
                        <td>{{ judgehost.judgehost | printHost }}</td>
                        <td>{{ judgehost.njudged }}</td>
                        <td>{{ judgehost.avgrun | number_format(3) }}s</td>
                        <td>{{ judgehost.stddev | number_format(3) }}</td>
                        <td>{{ judgehost.avgduration | number_format(3) }}s</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if stats.judgings %}
            <h4>Judging verdicts</h4>
            <table class="table table-sm table-striped">
                <tr><th>jID</th><th>rID</th><th>Judgehost</th><th>duration (incl. compile)</th><th>verdict</th></tr>
                {% for judging in stats.judgings %}
                    <tr>
                        <td>j{{ judging.judgingid }}</td>
                        <td>r{{ judging.rejudgingid }}</td>
                        <td>{{ judging.hostname | printHost }}</td>
                        <td>{{ judging.duration | number_format(3) }}</td>
                        <td>{{ judging.result | printResult }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endif %}

    <h2 class="mt-4">Details</h2>

    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group btn-group-toggle btn-group-sm input-group-sm" data-toggle="buttons">
            <div class="input-group-prepend">
                <div class="input-group-text listtoggles">Show:</div>
            </div>
            {%- for idx, type in viewTypes %}

                <label class="btn btn-secondary {% if idx == view %}active{% endif %}">
                    <input type="radio" name="viewtype" autocomplete="off" value="{{ type }}"
                           {% if idx == view %}checked{% endif %}> {{ type }}
                </label>
            {%- endfor %}
        </div>&nbsp;
        {% if rejudging.repeat %}
            <div class="btn-group-toggle btn-group-sm" data-toggle="buttons">
                <label class="btn btn-outline-secondary {% if showStatistics %}active{% endif %}">
                    <input type="checkbox" id="statistics-toggle" {% if showStatistics %}checked{% endif %} autocomplete="off">
                    <i class="fas fa-list-ol"></i> Statistics
                </label>
            </div>
        {% endif %}
    </div>

    <form action="{{ path('jury_rejudging', {rejudgingId: rejudging.rejudgingid}) }}" method="get">
        <input type="hidden" name="view" value="{{ viewTypes[view] }}"/>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="oldverdict">Old verdict</label>
                <select style="width: 100%" class="select2 form-control" name="oldverdict" id="oldverdict">
                    <option value="all" {% if oldverdict == 'all' %}selected{% endif %}>all</option>
                    {%- for verdict, abbreviation in verdicts %}
                        <option value="{{ verdict }}" {% if oldverdict == verdict %}selected{% endif %}>
                            {{ verdict }}
                        </option>
                    {%- endfor %}

                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="newverdict">New verdict</label>
                <select style="width: 100%" class="select2 form-control" name="newverdict" id="newverdict">
                    <option value="all" {% if newverdict == 'all' %}selected{% endif %}>all</option>
                    {%- for verdict, abbreviation in verdicts %}
                        <option value="{{ verdict }}" {% if newverdict == verdict %}selected{% endif %}>
                            {{ verdict }}
                        </option>
                    {%- endfor %}

                </select>
            </div>
            <div class="form-group col-md-2">
                <label>&nbsp;</label>
                <input class="btn btn-primary form-control" type="submit" value="Filter"/>
            </div>
            <div class="form-group col-md-2">
                <label>&nbsp;</label>
                <a href="{{ path('jury_rejudging', {rejudgingId: rejudging.rejudgingid, view: viewTypes[view]}) }}"
                   class="btn btn-secondary form-control">Clear</a>
            </div>
        </div>
    </form>

    <div data-ajax-refresh-target data-ajax-refresh-after="updateMatrix">
        {% include 'jury/partials/rejudging_submissions.html.twig' %}
    </div>

{% endblock %}

{% block extrafooter %}
    <script>
        $(function () {
            $('input[name=viewtype]').on('change', function () {
                window.location = '{{ path('jury_rejudging', {rejudgingId: rejudging.rejudgingid, view: 'REPLACE_ME', oldverdict: oldverdict, newverdict: newverdict, show_statistics: showStatistics}) }}'.replace('REPLACE_ME', $(this).val()).replaceAll('&amp;', '&');
            });

            $('#statistics-toggle').on('change', function () {
                window.location = '{{ path('jury_rejudging', {rejudgingId: rejudging.rejudgingid, view: viewTypes[view], oldverdict: oldverdict, newverdict: newverdict, show_statistics: 'REPLACE_ME'}) }}'.replace('REPLACE_ME', $(this).is(':checked')).replaceAll('&amp;', '&');
            });

            $('.select2').select2();

            window.updateMatrix = function () {
                var $matrixData = $('[data-new-rejudging-matrix]');
                var $matrix = $('[data-rejudging-matrix]');
                $matrix.html($matrixData.children());

                var $buttonData = $('[data-new-rejudging-buttons]');
                var $button = $('[data-rejudging-buttons]');
                $button.html($buttonData.children());

                var todo = $('[data-new-todo]').text();
                var $todo = $('[data-todo]');
                $todo.text(todo);
                if (parseInt(todo) <= 0) {
                    $todo.closest('tr').addClass('d-none');
                } else {
                    $todo.closest('tr').removeClass('d-none');
                }
            }
        });
    </script>
{% endblock %}
