{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Source {{ submission.externalid }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% set editor_id = "diffw" ~ submission.externalid %}
    <h1>
        Source
        <span class="d-none d-md-inline">
            code for submission
        </span>
        <a href="{{ path('jury_submission', {contestId: submission.contest.externalid, submitId: submission.externalid}) }}">{{ submission.externalid }}</a>
        <span class="d-none d-md-inline">
            {%- if submission.originalSubmission %}
                (resubmit of
                <a href="{{ path('jury_submission', {contestId: submission.originalSubmission.contest.externalid, submitId: submission.originalSubmission.externalid}) }}">{{ submission.originalSubmission.externalid }}</a>)
            {%- endif %}
            {% if submission.resubmissions is not empty %}
                (resubmitted as
                {%- for resubmission in submission.resubmissions %}
                    <a href="{{ path('jury_submission', {contestId: resubmission.contest.externalid, submitId: resubmission.externalid}) }}">{{ resubmission.externalid }}</a>
                    {%- if not loop.last -%},{%- endif -%}
                {%- endfor -%}
                )
            {% endif %}
        </span>
        <span class="diff-title" id="{{editor_id}}-title-diff">
            and diff to
            <span class="d-none d-md-inline">
                <span class="diff-tag"></span> submission
            </span>
            <a class="diff-link" href="#"></a>
        </span>
    </h1>

    {%- if submission.entryPoint %}
        <p><b>Entry point</b>: {{ submission.entryPoint }}</p>
    {%- endif %}

    {%- include 'jury/partials/submission_diff.html.twig' with {editor_id: editor_id} %}
{% endblock %}
