{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Edit source of s{{ submission.submitid }} - {{ parent() }}{% endblock %}

{% block content %}

    <h1>
        Edit submission
        <a href="{{ path('jury_submission', {submitId: submission.submitid}) }}">s{{ submission.submitid }}</a>
        source files
    </h1>

    <ul class="nav nav-tabs source-tab-nav align-items-end">
        {%- for file in files %}

            <li class="nav-item">
                <a class="nav-link {% if (selected is null and loop.first) or selected == file.rank %}active{% endif %}"
                   data-bs-toggle="tab" href="#source-{{ file.rank }}" role="tab">{{ file.filename }}</a>
            </li>
        {%- endfor %}

        <li class="nav-item flex-grow-1 text-end mb-1">
            <a class="btn btn-success btn-sm" data-ajax-modal data-ajax-modal-after="transferSourceToModal" href="{{ path('jury_submission_edit_source', {submission: submission.submitid}) }}">
                <i class="fas fa-cloud-upload-alt"></i> Submit
            </a>
        </li>
    </ul>

    <script>
    function transferSourceToModal(elem) {
        const editors = monaco.editor.getEditors();
        const idx = {{ files | keys | json_encode }}
        for (let i = 0; i < editors.length; i++) {
            const tab = editors[i].getDomNode().parentElement.parentElement;
            const rank = tab.dataset.rank;
            if (rank !== undefined && tab.id === `source-${rank}`) {
                const input = $(`#form_source${rank}`);
                input.val(editors[i].getValue());
                // Hide the source in the modal
                input.closest('div.mb-3').hide();
            }
        }
    }
    </script>
    <div class="tab-content source-tab">
        {%- for idx, file in files %}

            <div class="tab-pane fade {% if (selected is null and loop.first) or selected == file.rank %}show active{% endif %}"
                 id="source-{{ file.rank }}" data-rank="{{ file.rank }}" role="tabpanel">
                {{ file.sourcecode | codeEditor(idx, submission.language.editorLanguage, true) }}
            </div>
        {%- endfor %}

    </div>

{% endblock %}
