{% extends "jury/base.html.twig" %}

{% block title %}Edit source of s{{ submission.submitid }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    <script src="{{ asset('js/ace/ace.js') }}"></script>
{% endblock %}

{% block content %}

    <h1>
        Edit submission
        <a href="{{ path('jury_submission', {submitId: submission.submitid}) }}">s{{ submission.submitid }}</a>
        source files
    </h1>

    {{ form_start(form) }}

    <ul class="nav nav-tabs source-tab-nav">
        {%- for file in files %}

            <li class="nav-item">
                <a class="nav-link {% if (selected is null and loop.first) or selected == file.rank %}active{% endif %}"
                   data-toggle="tab" href="#source-{{ file.rank }}" role="tab">{{ file.filename }}</a>
            </li>
        {%- endfor %}

    </ul>
    <div class="tab-content source-tab">
        {%- for idx, file in files %}

            <div class="tab-pane fade {% if (selected is null and loop.first) or selected == file.rank %}show active{% endif %}"
                 id="source-{{ file.rank }}" role="tabpanel">
                {{ file.sourcecode | codeEditor(idx, submission.language.aceLanguage, true, 'form_source' ~ file.rank) }}
                <script>
                    $(function () {
                        $('#form_source{{ file.rank }}').closest('.form-group').hide();
                    });
                </script>
            </div>
        {%- endfor %}

    </div>

    <div class="row">
        <div class="col-lg-4">
            {{ form_widget(form) }}
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
