{# @var \App\Entity\ExternalJudgement externalJudgement #}
{% extends "jury/base.html.twig" %}

{% block title %}Submission s{{ submission.submitid }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/nv.d3.min.css') }}">
    <script src="{{ asset('js/d3.min.js') }}"></script>
    <script src="{{ asset('js/nv.d3.min.js') }}"></script>
    <script src="{{ asset('js/FileSaver.min.js') }}"></script>
    <style>
        .judging-table td a, .judging-table td a:hover {
            display: block;
            text-decoration: none;
            color: inherit;
        }

        .judging-table tr.disabled td a {
            color: silver
        }
    </style>
{% endblock %}

{% block content %}

    {% if submission.externalJudgements.empty %}
        {% set externalJudgement = null %}
    {% else %}
        {% set externalJudgement = submission.externalJudgements.first %}
    {% endif %}

    {% if claimWarning %}
        <div class="alert alert-warning">
            {{ claimWarning }}
        </div>
    {% endif %}

    <div class="mb-3">
        <h1 style="display: inline;">
            Submission {{ submission.submitid }}
            {% if submission.originalSubmission %}
                {% set origSubmissionUrl = path('jury_submission', {submitId: submission.originalSubmission.submitid}) %}
                (resubmit of <a href="{{ origSubmissionUrl }}">s{{ submission.originalSubmission.submitid }}</a>)
            {% endif %}
            {% if submission.resubmissions is not empty %}
                (resubmitted as
                {%- for resubmission in submission.resubmissions -%}
                    {% set resubmissionUrl = path('jury_submission', {submitId: resubmission.submitid}) %}
                    <a href="{{ resubmissionUrl }}">s{{ resubmission.submitid }}</a>
                    {%- if not loop.last -%},{%- endif -%}
                {%- endfor -%}
                )
            {% endif %}
            {% if not submission.valid %}
                (ignored)
            {% endif %}
        </h1>
        {% if is_granted('ROLE_ADMIN') %}
            {% if submission.valid %}
                {% set action = 'ignore' %}
            {% else %}
                {% set action = 'unignore' %}
            {% endif %}
            <form action="{{ path('jury_submission_update_status', {'submitId': submission.submitid}) }}" method="post"
                  style="display: inline; ">
                <input type="hidden" name="valid" value="{% if submission.valid %}0{% else %}1{% endif %}"/>
                <input type="submit" class="btn btn-outline-secondary btn-sm"
                       value="{{ action | upper }} this submission"
                       onclick="return confirm('Really {{ action }} submission s{{ submission.submitid }}?');"/>
            </form>
        {% endif %}

        {% include 'jury/partials/rejudge_form.html.twig' with {table: 'submission', id: submission.submitid} %}
    </div>

    {% if not submission.valid %}
        <div class="alert alert-danger">This submission is not used during scoreboard calculations.</div>
    {% endif %}

    {% if not submission.contestProblem %}
        <div class="alert alert-danger">
            This submission is for a problem that is not part (anymore) of the contest of the submission.
        </div>
    {% endif %}

    {# Condensed submission info on a single line with icons #}
    <div class="submission-summary mb-2">
        <span>
            <i class="fas fa-users" title="Team:"></i>
            <a href="{{ path('jury_team', {teamId: submission.teamid, cid: submission.cid}) }}">
                {{ submission.team.effectiveName }} (t{{ submission.teamid }})
            </a>
        </span>

        <span>
            <i class="fas fa-trophy" title="Contest:"></i>
            <a href="{{ path('jury_contest', {'contestId': submission.cid}) }}">
                {{ submission.contest.shortname }}
            </a>
        </span>

        <span>
            <i class="fas fa-book-open" title="Problem:"></i>
            <a href="{{ path('jury_problem', {'probId': submission.probid}) }}">
                {% if submission.contestProblem %}
                    {{ submission.contestProblem.shortname }}: {{ submission.problem.name }}
                {% else %}
                    {{ submission.problem.name }}
                {% endif %}
            </a>
        </span>

        <span>
            <i class="fas fa-comments" title="Language:"></i>
            <a href="{{ path('jury_language', {'langId': submission.langid}) }}">
                {{ submission.language.name }}
            </a>
        </span>

        <span>
            <i class="fas fa-clock" title="Submittime:"></i>
            <span title="{{ submission.submittime | printtime('%Y-%m-%d %H:%M:%S (%Z)') }}">
                {{ submission.submittime | printtime(null, submission.contest) }}
            </span>
        </span>

        <span>
            <i class="fas fa-stopwatch" title="Allowed runtime:"></i>
            {{ submission.problem.timelimit * submission.language.timeFactor }}s
        </span>

        <span>
            <i class="fas fa-code" title="Source code:"></i>
            <a href="{{ path('jury_submission_source', {submission: submission.submitid}) }}">
                View source code
            </a>
        </span>

        {% if external_ccs_submission_url is not empty %}
            <span>
                <i class="fas fa-link" title="External link:"></i>
                <a href="{{ submission | externalCcsUrl }}" target="_blank">
                    View in external CCS
                </a>
            </span>
        {% endif %}
    </div>

    {% if submission.externalid %}
        <div class="mb-2">
            External ID:
            {% if external_ccs_submission_url is empty %}
                {{- submission.externalid -}}
            {% else %}
                <a href="{{ submission | externalCcsUrl }}" target="_blank">
                    {{- submission.externalid -}}
                </a>
            {%- endif -%}
            {%- if externalJudgement is not null -%}
                , {{ externalJudgement.result | printValidJuryResult }}
            {% endif %}
        </div>
    {% endif %}

    {% if externalJudgement is not null and externalJudgement.result is not empty and selectedJudging is not null and selectedJudging.result is not empty and externalJudgement.result != selectedJudging.result %}
        <div class="alert alert-danger">
            <strong>Results differ!</strong>
            <hr>
            <p>
                This submission was judged as
                {% if external_ccs_submission_url is empty %}
                    {{ externalJudgement.result | printValidJuryResult }} by the external CCS
                {% else %}
                    <a href="{{ submission | externalCcsUrl }}" target="_blank">
                        {{ externalJudgement.result | printValidJuryResult }} by the external CCS
                    </a>
                {% endif -%}
                , but as {{ selectedJudging.result | printValidJuryResult }}
                by DOMjudge.
            </p>
        </div>

        {% include 'jury/partials/verify_form.html.twig' with {
            label: 'Shadow difference verified',
            judging: externalJudgement,
            form_action: path('jury_shadow_difference_verify', {extjudgementid: externalJudgement.extjudgementid}),
            show_form: true,
            show_icat: false} %}
    {% endif %}

    {% if not sameTestcaseIds and selectedJudging is not null and selectedJudging.result is not empty %}
        <div class="alert alert-danger">The problem's testcases have changed since this judging has been performed. We recommend rejudging the whole problem.</div>
    {% endif %}

    {% if judgings | length > 1 or (judgings | length == 1 and selectedJudging is null) %}
        <h2>Judgings</h2>
        <table class="judging-table table table-striped table-hover table-sm" style="width: auto;">
            <thead>
            <tr>
                <td></td>
                <th scope="col">ID</th>
                <th scope="col">start</th>
                <th scope="col">max runtime</th>
                <th scope="col">judgehost</th>
                <th scope="col">result</th>
                <th scope="col">rejudging</th>
            </tr>
            </thead>
            <tbody>
            {% for judging in judgings %}
                {% set link = path('jury_submission', {submitId: submission.submitid, jid: judging.judgingid}) %}
                <tr {% if not judging.valid %}class="disabled"{% endif %}>
                    <td>
                        <a href="{{ link }}">
                            {% if selectedJudging is not null and selectedJudging.judgingid == judging.judgingid %}
                                <i class="fas fa-long-arrow-alt-right"></i>
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </a>
                    </td>
                    <td><a href="{{ link }}">j{{ judging.judgingid }}</a></td>
                    <td><a href="{{ link }}">{{ judging.starttime | printtime(null, submission.contest) }}</a></td>
                    <td>
                        <a href="{{ link }}">
                            {% if maxRunTimes[judging.judgingId] is not null %}
                                {{ maxRunTimes[judging.judgingId] }}s
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{{ link }}">
                            {% if judging.judgehost is not null %}
                                {{ judging.judgehost.hostname | printHost }}
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{{ link }}">
                            {{ judging.result | printResult(judging.valid, true) }}
                            {% if judging.stillBusy %}
                                (&hellip;)
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{{ link }}">
                            {% if judging.rejudging is not null %}
                                r{{ judging.rejudgingid }} ({{ judging.rejudging.reason }})
                            {% endif %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if selectedJudging is null %}
        <div class="alert alert-warning">Not (re)judged yet</div>

        {% if unjudgableReasons is not empty %}
            {% for reason in unjudgableReasons %}
                <div class="alert alert-danger">{{ reason }}</div>
            {% endfor %}
        {% endif %}
    {% endif %}

    {% if selectedJudging is not null or externalJudgement is not null %}

        {% include 'jury/partials/submission_graph.html.twig' %}

        {% if selectedJudging is not null %}

            {# Show judging information #}
            <div class="mb-2">
                <h2 style="display: inline;">
                    Judging j{{ selectedJudging.judgingid }}
                    {% if selectedJudging.rejudging %}
                        (rejudging
                        <a href="{{ path('jury_rejudging', {rejudgingId: selectedJudging.rejudgingid}) }}">
                            r{{ selectedJudging.rejudgingid }}</a>, reason: {{ selectedJudging.rejudging.reason }})
                    {% elseif not selectedJudging.valid %}
                        (Invalid)
                    {% endif %}
                </h2>
                &nbsp;
                {% if not selectedJudging.verified %}
                    <form action="{{ path('jury_submission', {submitId: submission.submitid, jid: selectedJudging.judgingid}) }}"
                          method="post" style="display: inline;">
                        {% if selectedJudging.juryMember is not empty %}
                            (claimed by {{ selectedJudging.juryMember }})
                            <input type="hidden" name="forceclaim" value="1"/>
                        {% endif %}
                        {% if app.user.username == selectedJudging.juryMember %}
                            <input type="submit" value="unclaim" name="unclaim" class="btn btn-outline-secondary btn-sm"/>
                        {% else %}
                            <input type="submit" value="claim" name="claim" class="btn btn-outline-secondary btn-sm"/>
                        {% endif %}
                    </form>
                {% endif %}
            </div>
        {% endif %}

        <div class="mb-2">
            <div>
                Result:
                {% if selectedJudging is null or selectedJudging.result is empty %}
                    {%- if submission.judgehost %}
                        {{- '' | printValidJuryResult -}}
                    {%- else %}
                        {{- 'queued' | printValidJuryResult -}}
                    {%- endif %}
                {%- else %}
                    {{- selectedJudging.result | printValidJuryResult -}}
                {%- endif %}
                {%- if submission.stillBusy -%}
                    (&hellip;)
                {%- endif -%}
                {%- if lastJudging is not null -%}
                    {% set lastSubmissionLink = path('jury_submission', {submitId: lastSubmission.submitid}) %}{#-
                -#}<span class="lastresult">
                    (<a href="{{ lastSubmissionLink }}">s{{ lastSubmission.submitid }}</a>: {{ lastJudging.result }}){#-
                -#}</span>
                {%- endif -%}
                {%- if externalJudgement is not null %}
                    (external: {{ externalJudgement.result | printValidJuryResult }})
                {%- endif %}
                {%- if selectedJudging is not null -%}
                    , Judgehost:
                    {% set judgehostLink = path('jury_judgehost', {hostname: selectedJudging.judgehost.hostname}) %}
                    <a href="{{ judgehostLink }}">{{ selectedJudging.judgehost.hostname | printHost }}</a>,
                    <span class="judgetime">Judging started: {{ selectedJudging.starttime | printtime('%H:%M:%S') }}
                        {%- if selectedJudging.endtime -%}
                            , finished in {{ selectedJudging.starttime | printtimediff(selectedJudging.endtime) }}s
                        {%- elseif selectedJudging.valid or selectedJudging.rejudging -%}
                            &nbsp;[still judging - busy {{ selectedJudging.starttime | printtimediff }}]
                        {%- else -%}
                            &nbsp;[aborted]
                        {%- endif -%}
                    </span>
                {% endif -%}
                {%- if externalJudgement is not null %}
                    <span class="judgetime">(external judging started: {{ externalJudgement.starttime | printtime('%H:%M:%S') }}
                        {%- if externalJudgement.endtime -%}
                            , finished in {{ externalJudgement.starttime | printtimediff(externalJudgement.endtime) }}s
                        {%- else -%}
                            &nbsp;[still judging - busy {{ externalJudgement.starttime | printtimediff }}]
                        {%- endif -%}
                    )</span>
                {%- endif -%}
                {%- if selectedJudging is not null and selectedJudging.result != 'compiler-error' -%}
                    , max/sum runtime:
                    {{ selectedJudging.maxRuntime | number_format(2, '.', '') }}/{{ selectedJudging.sumRuntime | number_format(2, '.', '') }}s
                    {%- if lastJudging is not null -%}
                        <span class="lastruntime">
                        (<a href="{{ lastSubmissionLink }}">s{{ lastSubmission.submitid }}</a>:
                            {{ lastJudging.maxRuntime | number_format(2, '.', '') }}{#-
                        -#}/{{ lastJudging.sumRuntime | number_format(2, '.', '') }}s)
                    </span>
                    {%- endif -%}
                {% endif -%}
                {%- if externalJudgement is not null and externalJudgement.result != 'compiler-error' and externalJudgement.result != null -%}
                    , external max/sum runtime:
                    {{ externalJudgement.maxRuntime | number_format(2, '.', '') }}/{{ externalJudgement.sumRuntime | number_format(2, '.', '') }}s
                {% endif %}
            </div>

            {# Display testcase results #}
            {% if externalJudgement is not null or (selectedJudging is not null and selectedJudging.result != 'compiler-error') %}
                <table>
                    <tr>
                        <td>testcase runs:</td>
                        <td>
                            {% if selectedJudging is null %}
                                {% set judgingDone = false %}
                            {% else %}
                                {% set judgingDone = selectedJudging.endtime is not empty %}
                            {% endif %}
                            {{ runs | displayTestcaseResults(judgingDone) }}
                        </td>
                    </tr>
                    {% if lastJudging is not null %}
                        <tr class="lasttcruns">
                            <td>
                                <a href="{{ lastSubmissionLink }}">s{{ lastSubmission.submitid }}</a> runs:
                            </td>
                            <td>
                                {{ lastRuns | displayTestcaseResults(lastJudging.endtime is not empty) }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if externalJudgement is not null %}
                        <tr>
                            <td>external runs:</td>
                            <td>
                                {{ externalRuns | displayTestcaseResults(externalJudgement.endtime is not empty, true) }}
                            </td>
                        </tr>
                    {% endif %}
                </table>

                {# Show JS toggle of previous submission results #}
                {% if lastJudging is not null %}
                    <span class="testcases_prev">
                    <a href="javascript:togglelastruns();">show/hide</a>
                    results of previous <a href="{{ lastSubmissionLink }}">submission s{{ lastSubmission.submitid }}</a>
                        {% if lastJudging.verifyComment %}
                            <span class="prevsubmit">(verify comment: '{{ lastJudging.verifyComment }}')</span>
                        {% endif %}
                </span>
                {% endif %}
            {% endif %}
        </div>

        <script>
            $(function () {
                togglelastruns();
            });
        </script>

        {# Show verify info, but only when a result is known #}
        {% if selectedJudging is not null and selectedJudging.result is not empty %}
            {% include 'jury/partials/verify_form.html.twig' with {
                label: 'Verified',
                judging: selectedJudging,
                form_action: path('jury_judging_verify', {judgingId: selectedJudging.judgingid}),
                show_form: not (verificationRequired and selectedJudging.verified and selectedJudging.valid),
                show_icat: true} %}
            {% if submission.contestProblem %}
                <script>
                    $(function () {
                        $('#post-to-icat').on('click', function () {
                            postVerifyCommentToICAT(
                                '{{ icat_url }}/insert_entry.php',
                                '{{ app.user.username }}',
                                '{{ submission.teamid }}',
                                '{{ submission.contestProblem.shortname }}',
                                '{{ submission.externalid }}'
                            );
                            alert('Comment posted to iCAT.');
                            return false;
                        });
                    });
                </script>
            {% endif %}
        {% elseif selectedJudging is not null %}
            <div class="alert alert-warning">Judging is not ready yet!</div>
        {% endif %}

        {# Display compile output #}
        {% set color = '#6666FF' %}
        {% set message = 'not finished yet' %}
        {% set output = null %}
        {% if selectedJudging is not null %}
            {% set output = selectedJudging.outputCompile(true) %}
        {% endif %}
        {% if output is not null %}
            {% if selectedJudging.result == 'compiler-error' %}
                {% set color = 'red' %}
                {% set message = 'unsuccessful' %}
            {% else %}
                {% set color = '#1daa1d' %}
                {% set message = 'successful' %}
                {% if output is not empty %}
                    {% set message = message ~ ' (with ' ~ (output | lineCount) ~ ' line(s) of output)' %}
                {% endif %}
            {% endif %}
        {% endif %}
        {% set header = 'Compilation <span style="color: ' ~ color ~ ';">' ~ message ~ '</span>' %}
        <h3>
            {% if output is not empty %}
                <a class="collapse-link" href="javascript:collapse('#detailcompile')">
                    {{ header | raw }}
                </a>
            {% else %}
                {{ header | raw }}
            {% endif %}
        </h3>
        {% if output is empty %}
            <p class="nodata{% if selectedJudging is null or selectedJudging.result != 'compiler-error' %} d-none{% endif %}"
                id="detailcompile">There were no compiler errors or warnings.</p>
        {% else %}
            <pre class="output_text {% if selectedJudging is null or selectedJudging.result != 'compiler-error' %} d-none{% endif %}"
                id="detailcompile">{{ output }}</pre>
        {% endif %}

        {% if externalJudgement is not null or (selectedJudging is not null and selectedJudging.result != 'compiler-error') %}
            {# Show run info. Only when compilation was successful or we have an external judgement #}
            {% for runIdx, run in runs %}
                {% set externalRun = null %}
                {% if externalRuns[runIdx] is defined %}
                    {% set externalRun = externalRuns[runIdx] %}
                {% endif %}
                <div id="run-{{run.rank}}"
                     style="margin-bottom: 20px;"
                     class="card run {% if run.firstJudgingRun and run.firstJudgingRun.runresult == 'correct' %}run_correct{% endif %}">
                    <div class="card-header">
                        Run #{{ run.rank }}
                        {% if run.origInputFilename is not null %}
                            | <span style="font-family:monospace;">{{ run.origInputFilename }}.in</span>
                        {% else %}
                            {% if run.description is not null %}
                                | {{ run.description }}
                            {% endif %}
                        {% endif %}
                        {% if run.firstJudgingRun is not null %}
                            |
                            <span class="sol {% if run.firstJudgingRun.runresult == 'correct' %}sol_correct{% else %}sol_incorrect{% endif %}">
                                {{ run.firstJudgingRun.runresult }}
                            </span>
                            {% if run.firstJudgingRun.runresult == 'timelimit' %}
                                {% if runsOutput[runIdx].terminated %}
                                    <b>(terminated)</b>
                                {% else %}
                                    <b>(finished late)</b>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if externalRun is not null and externalRun.firstExternalRun is not null %}
                            {% if externalRun.firstExternalRun is not null %}
                                (external:
                                <span class="sol {% if externalRun.firstExternalRun.result == 'correct' %}sol_correct{% else %}sol_incorrect{% endif %}">
                                    {{ externalRun.firstExternalRun.result }}{#-
                                -#}</span>{#-
                                -#})
                            {% endif %}
                        {% endif %}
                        <span style="float: right;">
                            <a href="{{ path('jury_problem_testcase_fetch', {'probId': submission.probid, 'rank': run.rank, 'type': 'input'}) }}">
                                <button class="btn btn-sm btn-outline-secondary" >
                                    <i class="fas fa-download"></i>
                                    Input
                                </button>
                            </a>
                            <a href="{{ path('jury_problem_testcase_fetch', {'probId': submission.probid, 'rank': run.rank, 'type': 'output'}) }}">
                                <button class="btn btn-sm btn-outline-secondary" >
                                    <i class="fas fa-download"></i>
                                    Reference Output
                                </button>
                            </a>
                            {% if run.firstJudgingRun is not null %}
                                <a href="{{ path('jury_submission_team_output', {'submission': submission.submitid, 'run': run.firstJudgingRun.runid, 'contest': submission.cid}) }}">
                                    <button class="btn btn-sm btn-outline-secondary" >
                                        <i class="fas fa-download"></i>
                                        Team Output
                                    </button>
                                </a>
                            {% endif %}
                        </span>
                    </div>
                    <div class="card-body">
                    {% if run.firstJudgingRun is not null %}
                    <span style="display:inline; margin-left: 5px;">
		        <i class="fas fa-stopwatch" title="runtime"></i>
                        {{ runsOutput[runIdx].cpu_time }}s CPU
                        {% if runsOutput[runIdx].metadata is not null %}
                            , {{ runsOutput[runIdx].wall_time }}s wall,
		            <i class="fas fa-memory" title="RAM"></i>
                            {{ runsOutput[runIdx].memory }}
		            <i class="far fa-question-circle" title="exit-code"></i>
                            exit code:
                            {{ runsOutput[runIdx].exitcode }}{% if runsOutput[runIdx].signal > 0 %},
                                signal: {{ runsOutput[runIdx].signal }}
                            {% endif %}
                            <button class="btn btn-sm btn-outline-secondary" data-toggle="collapse"
                                    data-target="#collapseExample-{{ runIdx }}"
                                    aria-expanded="false">
                                show complete metadata
                            </button>
                            <div class="collapse" id="collapseExample-{{ runIdx }}">
                                  <div class="card card-body output_text">{{ runsOutput[runIdx].metadata }}</div>
                            </div>
                        {% endif %}
                    </span>
                    {% endif %}
                    {% if run.description is not null %}
                        <p><em>
                            {{ run.description(true) | descriptionExpand }}
                        </em></p>
                    {% endif %}
                    {% if runsOutput[runIdx].image_thumb %}
                        <span style="float:right; border: 3px solid #438ec3; margin: 5px; padding: 5px;">
                            {% set imgUrl = path('jury_problem_testcase_fetch', {'probId': submission.probid, 'rank': run.rank, 'type': 'image'}) %}
                            <a href="{{ imgUrl }}">
                                <img src="data:image/{{ run.imageType }};base64,{{ runsOutput[runIdx].image_thumb | base64 }}"/>
                            </a>
                        </span>
                    {% endif %}

                    {% set runDone = false %}
                    {% if run is not null and run.firstJudgingRun is not null and run.firstJudgingRun.runresult is not null %}
                        {% set runDone = true %}
                    {% endif %}
                    {% if not runDone %}
                        <p class="nodata">
                            {% if selectedJudging is not null and selectedJudging.result %}
                                Run not used for final result.
                            {% else %}
                                Run not started/finished yet.
                            {% endif %}
                        </p>
                    {% else %}
                        {% if run.firstJudgingRun is not null and run.firstJudgingRun.runresult is not null %}
                            {% if combinedRunCompare %}
                                <h5>Validator output</h5>
                                {% if runsOutput[runIdx].output_diff is empty %}
                                    <p class="nodata">There was no validator output.</p>
                                {% else %}
                                    <pre class="output_text">{{ runsOutput[runIdx].output_diff | parseRunDiff }}</pre>
                                {% endif %}
                            {% else %}
                                <h5>Diff output</h5>
                                {% if runsOutput[runIdx].output_diff is empty %}
                                    <p class="nodata">There was no diff output.</p>
                                {% else %}
                                    <pre class="output_text">{{ runsOutput[runIdx].output_diff | parseRunDiff }}</pre>
                                {% endif %}

                                {% if run.firstJudgingRun.runresult != 'correct' %}
                                    {{ runsOutput[runIdx] | runDiff }}
                                {% endif %}
                            {% endif %}

                            {% if combinedRunCompare %}
                                <h5>Validator/Submission interaction</h5>
                                {% if runsOutput[runIdx].output_run is empty %}
                                    <p class="nodata">There was no interaction log.</p>
                                {% else %}
                                    {{ runsOutput[runIdx].output_run | interactiveLog }}
                                {% endif %}
                            {% else %}
                                <h5>Program output</h5>
                                {% if runsOutput[runIdx].output_run is empty %}
                                    <p class="nodata">There was no program output.</p>
                                {% else %}
                                    <pre class="output_text">{{ runsOutput[runIdx].output_run | parseRunDiff }}</pre>
                                {% endif %}
                            {% endif %}

                            <h5>Program error output</h5>
                            {% if runsOutput[runIdx].output_error is empty %}
                                <p class="nodata">There was no stderr output.</p>
                            {% else %}
                                <pre class="output_text">{{ runsOutput[runIdx].output_error | parseRunDiff }}</pre>
                            {% endif %}

                            <h5>Judging system output (info/debug/errors)</h5>
                            {% if runsOutput[runIdx].output_system is empty %}
                                <p class="nodata">There was no judging system output.</p>
                            {% else %}
                                <pre class="output_text">{{ runsOutput[runIdx].output_system | parseRunDiff }}</pre>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    </div>
                </div>
            {% endfor %}

            <script>
                function display_correctruns(show) {
                    elements = document.getElementsByClassName('run_correct');
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].style.display = show ? 'block' : 'none';
                    }
                }

                display_correctruns(false);
            </script>
        {% endif %} {# selectedJudging.result != 'compiler-error' #}

    {% endif %} {# selectedJudging is not null or externalJudgement is not null #}

{% endblock %}
