{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Source s{{ submission.submitid }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% set editor_id = "diffw" ~ submission.submitid %}
    <h1>
        Source code for submission
        <a href="{{ path('jury_submission', {submitId: submission.submitid}) }}">s{{ submission.submitid }}</a>
        {%- if submission.originalSubmission %}
            (resubmit of
            <a href="{{ path('jury_submission', {submitId: submission.originalSubmission.submitid}) }}">s{{ submission.originalSubmission.submitid }}</a>)
        {%- endif %}
        {% if submission.resubmissions is not empty %}
            (resubmitted as
            {%- for resubmission in submission.resubmissions %}
                <a href="{{ path('jury_submission', {submitId: resubmission.originalSubmission.submitid}) }}">s{{ resubmission.submitid }}</a>
                {%- if not loop.last -%},{%- endif -%}
            {%- endfor -%}
            )
        {% endif %}

        <span class="diff-title" id="{{editor_id}}-title-diff">
            and diff to <span class="diff-tag"></span> submission
            <a class="diff-link" href="#"></a>
        </span>
    </h1>

    {%- if submission.entryPoint %}
        <p><b>Entry point</b>: {{ submission.entryPoint }}</p>
    {%- endif %}

    {%- include 'jury/partials/submission_diff.html.twig' with {editor_id: editor_id} %}
{% endblock %}
