{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Teams - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}

    <h1>Teams</h1>

    {{ macros.table(teams, table_fields, num_actions) }}

    {%- if is_granted('ROLE_ADMIN') %}

        <p>
            {{ button(path('jury_team_add'), 'Add new team', 'primary', 'plus') }}
        </p>
    {%- endif %}
{% endblock %}
