{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Affiliation {{ teamAffiliation.affilid }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}

    <h1>Affiliation: {{ teamAffiliation.name }}</h1>

    <div class="row">
        <div class="col-lg-4">
            <table class="table table-sm table-striped">
                <tr>
                    <th>ID</th>
                    <td>{{ teamAffiliation.affilid }}</td>
                </tr>
                {% if showExternalId(teamAffiliation) %}
                    <tr>
                        <th>External ID</th>
                        <td>{{ teamAffiliation.externalid }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Shortname</th>
                    <td>{{ teamAffiliation.shortname }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ teamAffiliation.name }}</td>
                </tr>
                <tr>
                    <th>Logo</th>
                    <td class="affiliation-logo">
                        {% set affiliationId = teamAffiliation.affilid %}
                        {% if showExternalId(teamAffiliation) %}
                            {% set affiliationId = teamAffiliation.externalid %}
                        {% endif %}
                        {% set affiliationLogo = 'images/affiliations/' ~ affiliationId ~ '.png' %}
                        {% if affiliationLogo | assetExists %}
                            <img src="{{ asset(affiliationLogo) }}" alt="{{ teamAffiliation.shortname }}"
                                 title="{{ teamAffiliation.shortname }}" class="affiliation-logo"/>
                        {% else %}
                            Not available
                        {% endif %}
                    </td>
                </tr>
                {% if showFlags and teamAffiliation and teamAffiliation.country %}
                    <tr>
                        <th>Country</th>
                        <td>
                            {% if teamAffiliation.country is not empty %}
                                {% set countryFlag = 'images/countries/' ~ teamAffiliation.country ~ '.png' %}
                                {% if countryFlag | assetExists %}
                                    <img src="{{ asset(countryFlag) }}" alt="{{ alpha3_countries[teamAffiliation.country] }}"
                                         title="{{ alpha3_countries[teamAffiliation.country] }}" class="countryflag"/>
                                {% endif %}
                            {% endif %}
                            {{ alpha3_countries[teamAffiliation.country] }}
                        </td>
                    </tr>
                {% endif %}
                {% if teamAffiliation.comments is not empty %}
                    <tr>
                        <th>Comments</th>
                        <td>{{ teamAffiliation.comments }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>

    {%- if is_granted('ROLE_ADMIN') -%}
        <p>
            {{ button(path('jury_team_affiliation_edit', {'affilId': teamAffiliation.affilid}), 'Edit', 'primary', 'edit') }}
            {{ button(path('jury_team_affiliation_delete', {'affilId': teamAffiliation.affilid}), 'Delete', 'danger', 'trash-alt', true) }}
        </p>
    {% endif %}

    <h2>Teams from {{ teamAffiliation.name }}</h2>
    {% if teamAffiliation.teams is empty %}
        <p class="nodata">no teams</p>
    {% else %}
        <div class="row">
            <div class="col-lg-4">
                <table class="data-table table table-sm table-striped table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Teamname</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for team in teamAffiliation.teams %}
                        <tr>
                            <td>
                                <a href="{{ path('jury_team', {'teamId': team.teamid}) }}">{{ team.teamid }}</a>
                            </td>
                            <td>
                                <a href="{{ path('jury_team', {'teamId': team.teamid}) }}">{{ team.name }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if scoreboard is defined %}
            <div data-ajax-refresh-target>
                {% include 'partials/scoreboard_table.html.twig' with {displayRank: true, jury: true} %}
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
