{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Edit team {{ team.externalid }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.select2_extrahead() }}
    {{ macros.toggle_extrahead() }}
{% endblock %}

{% block content %}

    <div class="contest-form">
        <div class="page-header-bar">
            <h1>Edit team {{ team.effectiveName }} ({{ team.externalid }})</h1>
        </div>

        {% include 'jury/partials/team_form.html.twig' %}
    </div>

{% endblock %}
