{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Affiliations - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}

    <h1>Affiliations</h1>

    {{ macros.table(team_affiliations, table_fields, num_actions) }}

    {%- if is_granted('ROLE_ADMIN') %}

        <p>
            {{ button(path('jury_team_affiliation_add'), 'Add new affiliation', 'primary', 'plus') }}
        </p>
    {%- endif %}

{% endblock %}
