{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Edit team {{ team.externalid }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.select2_extrahead() }}
{% endblock %}

{% block content %}

    <h1>Edit team {{ team.teamid }}</h1>

    {% include 'jury/partials/team_form.html.twig' %}

{% endblock %}
