{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Edit affiliation {{ teamAffiliation.externalid }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.select2_extrahead() }}
{% endblock %}

{% block content %}

    <div class="contest-form">
        <div class="page-header-bar">
            <h1>Edit affiliation {{ teamAffiliation.name }} ({{ teamAffiliation.externalid }})</h1>
        </div>

        {% include 'jury/partials/team_affiliation_form.html.twig' %}
    </div>

{% endblock %}
