{% extends "jury/base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Category {{ teamCategory.externalid }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
    {{ macros.toggle_extrahead() }}
    {{ knp_pagination_rel_links(submissions) }}
{% endblock %}

{% block content %}

    {% macro section_header(icon, title) %}
    <tr class="contest-form-section-header">
        <td colspan="2"><i class="fas fa-{{ icon }} me-2"></i>{{ title }}</td>
    </tr>
    {% endmacro %}

    <h1>Category {{ teamCategory.name }}</h1>

    <div class="row">
        <div class="col-lg-5">
            <table class="table table-sm contest-fields-table">
                <tbody>
                    {{ _self.section_header('tag', 'Identity') }}
                    <tr>
                        <th>ID</th>
                        <td>{{ teamCategory.externalid }}</td>
                    </tr>
                    <tr>
                        <th>ICPC ID</th>
                        <td>{{ teamCategory.icpcid ?: '-' }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ teamCategory.name }}</td>
                    </tr>

                    {{ _self.section_header('palette', 'Display') }}
                    <tr>
                        <th>Types</th>
                        <td>
                            {% if teamCategory.typeHumanNames %}
                                <ul class="mb-0">
                                    {% for typeName in teamCategory.typeHumanNames %}
                                        <li>{{ typeName }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Sortorder</th>
                        <td>{{ teamCategory.sortorder ?? '-' }}</td>
                    </tr>
                    <tr>
                        <th>Color</th>
                        <td>
                            {% if teamCategory.color %}
                                <span style="background-color: {{ teamCategory.color }}; padding: 2px 8px;">{{ teamCategory.color }}</span>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>CSS Class</th>
                        <td>
                            {% if teamCategory.cssClass %}
                                <code>{{ teamCategory.cssClass }}</code>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>

                    {{ _self.section_header('eye', 'Access') }}
                    <tr>
                        <th>Visible</th>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                {% include 'jury/partials/team_category_toggle.html.twig' with {route: 'jury_team_category_toggle_visible', value: teamCategory.visible} %}
                            {% else %}
                                {{ teamCategory.visible | printYesNo }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Allow self-registration</th>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                {% include 'jury/partials/team_category_toggle.html.twig' with {route: 'jury_team_category_toggle_self_registration', value: teamCategory.allowSelfRegistration} %}
                            {% else %}
                                {{ teamCategory.allowSelfRegistration | printYesNo }}
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="button-row">
        {%- if is_granted('ROLE_ADMIN') -%}
            {{ button(path('jury_team_category_edit', {'categoryId': teamCategory.externalid}), 'Edit', 'primary', 'edit') }}
            {{ button(path('jury_team_category_delete', {'categoryId': teamCategory.externalid}), 'Delete', 'danger', 'trash-alt', true) }}
            {{ button(path('jury_team_category_request_remaining', {'categoryId': teamCategory.externalid}), 'Judge remaining testcases', 'secondary', 'gavel') }}
        {% endif %}
    </div>

    <h3>Teams</h3>
    {% if teamCategory.teams is empty %}
        <p class="nodata">no teams</p>
    {% else %}
        <div class="row">
            <div class="col-lg-4">
                <table class="data-table table table-sm table-striped table-hover">
                    <thead>
                    <tr>
                        <th style="text-align: right;">ID</th>
                        <th>Teamname</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for team in teamCategory.teams %}
                        <tr>
                            <td style="text-align: right">
                                <a href="{{ path('jury_team', {'teamId': team.externalid}) }}">{{ team | entityIdBadge }}</a>
                            </td>
                            <td>
                                <a href="{{ path('jury_team', {'teamId': team.externalid}) }}">{{ team.effectiveName }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <h3>Submissions</h3>

        <div data-ajax-refresh-target>
            {%- include 'jury/partials/submission_list.html.twig' with {showTestcases: false} %}
        </div>
    {% endif %}

{% endblock %}

{% block extrafooter %}
    {{ macros.toggle_autosubmit_extrafooter() }}
{% endblock %}
