{% extends 'team/base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %}View clarifications for problem {{ problem.name }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.mathjax_head() }}
{% endblock %}

{% block extrahead %}
    {{ parent() }}
    <style>
        .data-table td a, .data-table td a:hover {
            display: block;
            text-decoration: none;
            color: inherit;
            padding: 3px 5px;
        }

        .data-table tr {
            border-bottom: 1px solid silver;
        }

        .data-table tr:hover {
            background: #ffffcc !important;
        }
    </style>
{% endblock %}

{% block content %}
    <h2 class="text-center mt-4">Clarifications for {{ problem | problemBadgeForContest }} {{ problem.name }}</h2>

    {% if clarifications is empty %}
        <p class="nodata">No clarifications.</p>
    {% else %}
        {% include 'team/partials/clarification_list.html.twig' with {clarifications: clarifications} %}
    {% endif %}
{% endblock %}
