{% extends "team/base.html.twig" %}

{% block title %}Allowed Languages{% endblock %}

{% block content %}
    <h1 class="mt-4 text-center">Allowed Languages</h1>

        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-2">
    {% for langarray in languages %}
        {% set lang = langarray['language'] %}
        {% set problems = langarray['problems'] %}
                <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">
                            <code>{{ lang.name }}</code>
                            <span style="font-size:50%; font-weight: normal;"> with
                                extension{% if lang.extensions|length > 1 %}s{% endif %}:
                            {% for ext in lang.extensions %}
                                <code>.{{ ext }}</code>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                            </span>
                        </h2>
                        {% if limited %}
                            <span class="output_test">
                                {% for problem in problems %}
                                    {{ problem | problemBadge }}
                                {% endfor %}
                            </span>
                        {% endif %}
                    </div>
                    {% if lang.compilerVersion and lang.compilerVersionCommand %}
                        <pre class="output_text" style="background-color: rgba(0,121,54,.1);">$ {{ lang.compilerVersionCommand }}</pre>
                        <pre class="output_text">{{ lang.compilerVersion }}</pre>
                    {% endif %}
                    {% if lang.runnerVersion and lang.runnerVersionCommand %}
                        <pre class="output_text" style="background-color: rgba(0,121,54,.1);">$ {{ lang.runnerVersionCommand }}</pre>
                        <pre class="output_text">{{ lang.runnerVersion }}</pre>
                    {% endif %}

                </div>
                </div>
    {% endfor %}
            </div>
        </div>
{% endblock %}
