<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand hidden-sm-down" href="{{ path('team_index') }}">DOMjudge</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuDefault"
            aria-controls="menuDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    {% set current_route = app.request.attributes.get('_route') %}

    <div class="collapse navbar-collapse" id="menuDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if current_route in ['team_index', 'team_clarification', 'team_clarification_add', 'team_submission'] %}active{% endif %}">
                <a class="nav-link" href="{{ path('team_index') }}"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item {% if current_route == 'team_problems' %}active{% endif %}">
                {% if is_granted('ROLE_JURY') or current_team_contest.freezeData.started %}
                    <a class="nav-link" href="{{ path('team_problems') }}">
                        <i class="fas fa-book-open"></i> Problemset
                    </a>
                {% else %}
                    <a class="nav-link disabled"><i class="fas fa-book-open"></i> Problemset</a>
                {% endif %}
            </li>
            {% if have_printing %}
                <li class="nav-item {% if current_route == 'team_print' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('team_print') }}"><i class="fas fa-file-alt"></i> Print</a>
                </li>
            {% endif %}
            <li class="nav-item {% if current_route in ['team_scoreboard', 'team_team'] %}active{% endif %}">
                <a class="nav-link" href="{{ path('team_scoreboard') }}"><i class="fas fa-list-ol"></i> Scoreboard</a>
            </li>

            {% if is_granted('ROLE_JURY') or is_granted('ROLE_BALLOON') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('jury_index') }}"><i class="fas fa-arrow-right"></i> Jury</a>
                </li>
            {% endif %}
        </ul>

        <div id="submitbut">
            {% if is_granted('ROLE_JURY') or current_team_contest.freezeData.started %}
                <a class="nav-link justify-content-center" data-ajax-modal data-ajax-modal-after="initSubmitModal" href="{{ path('team_submit') }}">
                    <button type="button" class="btn btn-success btn-sm">
                        <i class="fas fa-cloud-upload-alt"></i> Submit
                    </button>
                </a>
            {% else %}
                <a class="nav-link justify-content-center">
                    <button type="button" class="btn btn-success btn-sm disabled" disabled>
                        <i class="fas fa-cloud-upload-alt"></i> Submit
                    </button>
                </a>
            {% endif %}
        </div>

        {% include 'partials/menu_login_logout_button.html.twig' with {confirmLogout: true} %}

        <ul class="navbar-nav">
            {% if current_team_contests | length > 1 %}
                {% include 'partials/menu_change_contest.html.twig' with {contest: current_team_contest, contests: current_team_contests, change_path: 'team_change_contest', show_no_contest: false} %}
            {% endif %}
        </ul>

        {% include 'partials/menu_countdown.html.twig' with {contest: current_team_contest} %}
    </div>
</nav>
{% include 'partials/scoreboard_progress_bar.html.twig' with {margin: -9, contest: current_team_contest} %}
