<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Submit
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% if current_team_contest is empty or (not is_granted('ROLE_JURY') and not current_team_contest.freezeData.started) %}
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert">Contest has not yet started - cannot submit.</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            {% else %}
                {{ form_start(form) }}
                <div class="modal-body">
                    {{ form_row(form.code) }}
                    {{ form_row(form.problem) }}
                    {{ form_row(form.language) }}
                    <div class="form-group" data-entry-point>
                        {{ form_label(form.entry_point) }}
                        {{ form_widget(form.entry_point) }}
                        {{ form_help(form.entry_point) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn-success btn">
                        <i class="fas fa-cloud-upload-alt"></i> Submit
                    </button>
                </div>
                {{ form_end(form) }}
            {% endif %}
        </div>
    </div>
</div>
