<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Submit {% if problem is not null %}problem {{ problem.name }}{% endif %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% if current_team_contest is empty or (not is_granted('ROLE_JURY') and not current_team_contest.freezeData.started) %}
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert">Contest has not yet started - cannot submit.</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            {% elseif not current_team_contest.allowSubmit %}
                <div class="modal-body">
                    {% include 'partials/alert.html.twig' with {'type': 'danger', 'message': 'Submissions (temporarily) disabled.'} %}
                </div>
            {% else %}
                {{ form_start(form) }}
                <div class="modal-body">
                    {{ form_row(form.code) }}
                    <div class="alert alert-warning" id="files_not_modified" style="display:none;"></div>
                    {{ form_row(form.problem) }}
                    {{ form_row(form.language) }}
                    <div class="form-group" data-entry-point>
                        {{ form_label(form.entry_point) }}
                        {{ form_widget(form.entry_point) }}
                        {{ form_help(form.entry_point) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn-success btn">
                        <i class="fas fa-cloud-upload-alt"></i> Submit
                    </button>
                </div>
                {{ form_end(form) }}
            {% endif %}
        </div>
    </div>

    <script>
        const fileInput = document.getElementById('submit_problem_code');
        fileInput.addEventListener('change', (event) => {
            const five_minutes_in_ms = 5 * 60 * 1000;
            const now = Date.now();
            const filesNotModified = document.getElementById('files_not_modified');
            filesNotModified.style.display = 'none';

            var atLeastOneFileRecent = false;
            var fileInfoHtml = '';
            const files = event.target.files;
            for (let file of files) {
                const date = new Date(file.lastModified);
                const ago = humanReadableTimeDiff((now - date)/1000) + ' ago';
                if (date > now - five_minutes_in_ms) {
                    atLeastOneFileRecent = true;
                }
                size = humanReadableBytes(file.size);
                fileInfoHtml += `<li><span class="filename">${file.name}</span>, ${size}, last modified ${ago}</li>`;
            }
            if (!atLeastOneFileRecent) {
                filesNotModified.style.display = 'block';
                filesNotModified.innerHTML =
                    'None of the selected files has been recently modified:' +
                    '<ul>' + fileInfoHtml + '</ul>';
            }
        });
    </script>
</div>
