{% extends 'team/base.html.twig' %}

{% block title %}Editor ({{ language.name }}) for {{ problem.name }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    <style>
        .data-table td a, .data-table td a:hover {
            display: block;
            text-decoration: none;
            color: inherit;
            padding: 3px 5px;
        }

        .data-table tr {
            border-bottom: 1px solid silver;
        }

        .data-table tr:hover {
            background: #ffffcc !important;
        }

        @media only screen and (min-width: 768px) {
            #problemText .modal-dialog {
                max-width: 90vw;
            }
        }
    </style>
    <script src="{{ asset('js/ace/ace.js') }}"></script>
{% endblock %}

{% block content %}

    <!-- problem text modal -->
    <div class="modal fade" id="problemText" tabindex="-1" role="dialog" aria-labelledby="problemTextModal" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="btn btn-outline-secondary" href="{{ path('team_problem_text', {'probId': problem.probid}) }}" download>
                        <i class="fa-solid fa-download"></i>
                    </a>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe src="{{ path('team_problem_text', {'probId': problem.probid}) }}"
                            style="width:100%;height:80vh;border: none;"
                            allowfullscreen
                    ></iframe>
                </div>
            </div>
        </div>
    </div>

    {{ form_start(form) }}

    <ul class="nav mt-3 mb-2">
        <!-- Left side buttons -->
        <li class="nav-item">
            <button type="button"
                    class="btn btn-outline-secondary"
                    data-toggle="modal"
                    data-target="#problemText">
                <i class="fas fa-file-{{ problem.problemtextType }}"></i>
                Specification
            </button>
        </li>

        <!-- Spacer to push the right buttons to the end -->
        <li class="nav-item ml-auto"></li>

        <!-- Right side buttons -->
        <li class="nav-item my-1 mr-2">
            {{ form_widget(form.save) }}
        </li>
        <li class="nav-item my-1">
            {{ form_widget(form.submit) }}
        </li>
    </ul>

    <ul class="nav nav-tabs source-tab-nav">
        {%- for file in files %}
            <li class="nav-item">
                <a class="nav-link {% if (selected is null and loop.first) or selected == file.rank %}active{% endif %}"
                   data-toggle="tab" href="#source-{{ file.rank }}" role="tab">{{ file.filename }}</a>
            </li>
        {%- endfor %}
    </ul>

    <div class="tab-content source-tab">
        {%- for idx, file in files %}
            <div class="tab-pane fade {% if (selected is null and loop.first) or selected == file.rank %}show active{% endif %}"
                 id="source-{{ file.rank }}" role="tabpanel">
                {{ file.sourcecode | codeEditor(idx, submission.language.aceLanguage, true, 'form_source' ~ file.rank) }}
                <script>
                    $(function () {
                        $('#form_source{{ file.rank }}').closest('.form-group').hide();
                    });
                </script>
            </div>
        {%- endfor %}
    </div>

    {{ form_end(form) }}

    {% if scoreboard is defined %}
        <div data-ajax-refresh-target data-ajax-refresh-after="initializeScoreboard" class="mt-3">
            {% include 'team/partials/team_editor_status.html.twig' %}
        </div>
        <div class="text-right">
            Refreshes automatically each {{ refresh.after }} seconds
        </div>
    {% endif %}
{% endblock %}

{% block extrafooter %}
    <script>
        var scoreboardUrl = '{{ refresh.url ?? null }}';

        $(function () {
            window.initializeScoreboard = function () {
                var $newProgress = $('[data-ajax-refresh-target] > .d-none > [data-progress-bar]');
                if ($newProgress.length) {
                    var $oldProgress = $('body > [data-progress-bar]');
                    $oldProgress.html($newProgress.children());
                    $newProgress.parent().remove();
                }
            };
        });
    </script>
{% endblock %}
