{% extends 'team/base.html.twig' %}

{% block title %}Editor ({{ language.name }}) for {{ problem.name }} - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    <style>
        .data-table td a, .data-table td a:hover {
            display: block;
            text-decoration: none;
            color: inherit;
            /*padding: 3px 5px;*/
        }

        .data-table tr {
            border-bottom: 1px solid silver;
        }

        .data-table tr:hover {
            background: #ffffcc !important;
        }

        @media only screen and (min-width: 768px) {
            #problemText .modal-dialog {
                max-width: 90vw;
            }
        }
    </style>
    <script src="{{ asset('js/ace/ace.js') }}"></script>
{% endblock %}

{% block content %}

    {% if current_team_contest is not empty and not current_team_contest.allowSubmit %}
        <div data-flash-messages>
            {% include 'partials/alert.html.twig' with {'type': 'danger', 'message': 'Submissions disabled.\nPlease switch to the active contest using trophy icon in the top navigation.'} %}

            {% set available_contests_cids = current_team_contests | keys %}
            {% set problem_available_contests = problem.getContestProblems | filter(
                contest_problem => contest_problem.contest.cid in available_contests_cids and contest_problem.contest.allowSubmit
            ) %}

            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {% if problem_available_contests is not empty %}
                    This problem is now available in the following contests

                    <ul class="list-unstyled ms-4 mt-1 mb-1">
                        {% for contest_problem in problem_available_contests %}
                            {% set contest = contest_problem.contest %}
                            <li>
                                <a href="{{ path('team_problems', {'cid': contest.cid}) }}">
                                    <i class="fas fa-book-open"></i> {{ contest.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    This problem is no longer available in any contest.
                {% endif %}

                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}

    <!-- problem text modal -->
    <div class="modal fade" id="problemText" tabindex="-1" role="dialog" aria-labelledby="problemTextModal" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="btn btn-outline-secondary" href="{{ path('team_problem_statement', {'probId': problem.probid}) }}" download>
                        <i class="fa-solid fa-download"></i>
                    </a>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe src="{{ path('team_problem_statement', {'probId': problem.probid}) }}"
                            style="width:100%;height:80vh;border: none;"
                            allowfullscreen
                    ></iframe>
                </div>
            </div>
        </div>
    </div>

    {{ form_start(form, {'attr': {'id': 'teamEditorForm'}}) }}

    <ul class="nav mt-3 mb-2">
        <!-- Left side buttons -->
        <li class="nav-item">
            <button type="button"
                    class="btn btn-outline-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#problemText">
                <i class="fas fa-file-{{ problem.problemstatementType }}"></i>
                Problem
            </button>
        </li>

        <!-- Spacer to push the right buttons to the end -->
        <li class="nav-item ms-auto"></li>

        <!-- Right side buttons -->
        <li class="nav-item my-1 me-2">
            {{ form_widget(form.save) }}
        </li>
        <li class="nav-item my-1">
            {{ form_widget(form.submit) }}
        </li>
    </ul>

    <ul class="nav nav-tabs source-tab-nav">
        {%- for file in files %}
            <li class="nav-item">
                <a class="nav-link {% if (selected is null and loop.first) or selected == file.rank %}active{% endif %}"
                   data-bs-toggle="tab" href="#source-{{ file.rank }}" role="tab">{{ file.filename }}</a>
            </li>
        {%- endfor %}
    </ul>

    <div class="tab-content source-tab">
        {%- for idx, file in files %}
            <div class="tab-pane fade {% if (selected is null and loop.first) or selected == file.rank %}show active{% endif %}"
                 id="source-{{ file.rank }}" role="tabpanel">
                {{ file.sourcecode | codeEditor(idx, submission.language.aceLanguage, true, 'form_source' ~ file.rank) }}
                <script>
                    $(function () {
                        $('#form_source{{ file.rank }}').closest('div.mb-3').hide();
                    });
                </script>
            </div>
        {%- endfor %}
    </div>

    {{ form_end(form) }}

    {% if scoreboard is defined %}
        <div data-ajax-refresh-target data-ajax-refresh-after="initializeScoreboard" class="mt-3">
            {% include 'team/partials/team_editor_status.html.twig' %}
        </div>
        <div class="text-end">
            Refreshes automatically each {{ refresh.after }} seconds
        </div>
    {% endif %}
{% endblock %}

{% block extrafooter %}
    <script>
        var scoreboardUrl = '{{ refresh.url ?? null }}';

        $(function () {
            window.initializeScoreboard = function () {
                var $newProgress = $('[data-ajax-refresh-target] > .d-none > [data-progress-bar]');
                if ($newProgress.length) {
                    var $oldProgress = $('body > [data-progress-bar]');
                    $oldProgress.html($newProgress.children());
                    $newProgress.parent().remove();
                }
            };
        });
    </script>

    <script>
        // https://stackoverflow.com/questions/38879742/is-it-possible-to-display-a-custom-message-in-the-beforeunload-popup

        var teamEditorFormChanged = false,
            teamEditorFormSubmitted = false;

        document.querySelectorAll('#teamEditorForm input, #teamEditorForm select, #teamEditorForm textarea').forEach(function (input) {
            input.addEventListener('change', function () {
                teamEditorFormChanged = true;
            });
        });

        document.querySelectorAll('#teamEditorForm button[type=submit]').forEach(function (button) {
            button.addEventListener('click', function () {
                teamEditorFormSubmitted = true;
            });
        });

        window.addEventListener('beforeunload', function (e) {
            if (!teamEditorFormChanged || teamEditorFormSubmitted) {
                return undefined;
            }

            var confirmationMessage = 'It looks like you have been editing something. ' +
                'If you leave before saving, your changes will be lost.';
            (e || window.event).returnValue = confirmationMessage;
            return confirmationMessage;
        });
    </script>
{% endblock %}
