<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
	<!-- DOMjudge version {{ domjudge_version }} -->
	<meta charset="utf-8"/>
	<title>{% if page_title is defined %} {{ page_title }}{% endif %}</title>
	<link rel="icon" href="{{ asset('bundles/domjudgemain/images/favicon.png') }}" type="image/png" />
	<link rel="stylesheet" href="{{ asset('bundles/domjudgemain/css/style.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('bundles/domjudgemain/css/octicons/octicons.css') }}" />
	<script type="text/javascript" src="{{ asset('bundles/domjudgemain/js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/domjudgemain/js/domjudge.js') }}"></script>
</head>
<body>
	{% block menu %}{% endblock %}
	{% block clock %}
		<div id="menutopright">
			<div id="clock">
				<span id="timeleft">
					{% if currentContest is defined %}
						{% if currentContest.isCurrentlyRunning %}
							time left: {{ timediff(null, currentContest.endTime) }}
						{% elseif currentContest.isActiveButNotStarted %}
							time to start: {{ timediff(null, currentContest.startTime) }}
						{% endif %}
					{% endif %}
				</span>
				{% if currentContest is defined %}
					{% set activateTime = -1 %}
					{% set startTime = -1 %}
					{% set endTime = -1 %}
					{% if currentContest.activateTime is not null %}{% set activateTime = currentContest.activateTime %}{% endif %}
					{% if currentContest.startTime is not null %}{% set startTime = currentContest.startTime %}{% endif %}
					{% if currentContest.endTime is not null %}{% set endTime = currentContest.endTime %}{% endif %}
					<script type="text/javascript">
						var initial = {{ date().timestamp }};
						var activatetime = {{ activateTime }};
						var starttime = {{ startTime }};
						var endtime = {{ endTime }};
						var offset = 0;
						var date = new Date(initial*1000);
						var timeleftelt = document.getElementById("timeleft");

						setInterval(function(){updateClock();},1000);
						updateClock();
					</script>
				{% endif %}
				{% if app.user is not null %}
					<div id="username">
						logged in as {{ app.user.username }}
						<a href="{{ path('logout') }}">x</a>
					</div>
				{% endif %}
			</div>
		</div>
	{% endblock %}
	{% block body %}{% endblock %}
</body>
</html>
