{# Set jury to false by default. The jury's base.html.twig overrides this #}
{% if isJury is not defined %}
	{% set isJury = false %}
{% endif %}

<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
	<!-- DOMjudge version {{ domjudge_version }} -->
	<meta charset="utf-8"/>
	<title>{% if pageTitle is defined %} {{ pageTitle | raw }}{% endif %}</title>
	<link rel="icon" href="{{ asset('bundles/domjudgemain/images/favicon.png') }}" type="image/png" />
	<link rel="stylesheet" href="{{ asset('bundles/domjudgemain/css/style.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('bundles/domjudgemain/css/octicons/octicons.css') }}" />
	{% block stylesheets %}{% endblock %}
	<script type="text/javascript" src="{{ asset('bundles/domjudgemain/js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/domjudgemain/js/domjudge.js') }}"></script>
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
</head>
<body>
	{% block menu %}{% endblock %}
	{% block clock %}
		<div id="menutopright">
			<div id="clock">
				<span id="timeleft">
					{% if currentContest is defined and currentContest is not null %}
						{% if currentContest.isCurrentlyRunning %}
							time left: {{ formatTimeDiff(null, currentContest.endTime) }}
						{% elseif currentContest.isActiveButNotStarted %}
							time to start: {{ formatTimeDiff(null, currentContest.startTime) }}
						{% endif %}
					{% endif %}
				</span>
				{% if currentContest is defined and currentContest is not null %}
					{% set activateTime = -1 %}
					{% set startTime = -1 %}
					{% set endTime = -1 %}
					{% if currentContest.activateTime is not null %}{% set activateTime = currentContest.activateTime %}{% endif %}
					{% if currentContest.startTime is not null %}{% set startTime = currentContest.startTime %}{% endif %}
					{% if currentContest.endTime is not null %}{% set endTime = currentContest.endTime %}{% endif %}
					<script type="text/javascript">
						var initial = {{ date().timestamp }};
						var activatetime = {{ activateTime }};
						var starttime = {{ startTime }};
						var endtime = {{ endTime }};
						var offset = 0;
						var date = new Date(initial*1000);
						var timeleftelt = document.getElementById("timeleft");

						setInterval(function(){updateClock();},1000);
						updateClock();
					</script>
				{% endif %}
				{% if activeContests is defined and (isJury or activeContests | length > 1) %}
					{% set selectedContestId = -1 %}
					{% if currentContest is defined and currentContest is not null %}
						{% set selectedContestId = currentContest.cid %}
					{% endif %}
					<div id="selectcontest">
						<select id="changecontest">
							{% if isJury %}
								<option {% if selectedContestId == -1 %}selected{% endif %} value="-1">- No contest</option>
							{% endif %}
							{% for contest in activeContests %}
								<option {% if selectedContestId == contest.cid %}selected{% endif %} value="{{ contest.cid }}">{{ contest.shortName }}</option>
							{% endfor %}
						</select>
					</div>
					<script type="text/javascript">
						$(function() {
							$('#changecontest').on('change', function() {
								window.location = Routing.generate('change_contest', { contest: $(this).val() });
							});
						});
					</script>
				{% endif %}
				{% if app.user is not null %}
					<div id="username">
						logged in as {{ app.user.username }}
						<a href="{{ path('logout') }}">x</a>
					</div>
				{% endif %}
			</div>
		</div>
	{% endblock %}
	{% if pageTitle is defined and noPageHeader is not defined %}
		<h1>{{ pageTitle }}</h1>
	{% endif %}
	{% block body %}{% endblock %}
</body>
</html>
