{{ form_start(form) }}

<table class="table table-sm table-striped judgehosts">
    <thead>
    <tr>
        <th>{{ form_label(form.judgehosts.vars.prototype.hostname) }}</th>
        <th>{{ form_label(form.judgehosts.vars.prototype.active) }}</th>
        <th>{{ form_label(form.judgehosts.vars.prototype.restriction) }}</th>
        {% if allow_delete %}
            <th></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for judgehost in form.judgehosts %}
        <tr>
            <td>{{ form_widget(judgehost.hostname) }}</td>
            <td>{{ form_widget(judgehost.active) }}</td>
            <td>{{ form_widget(judgehost.restriction) }}</td>
            {% if allow_delete %}
                <td>
                    <button type="button" data-delete class="btn btn-danger">Delete</button>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if allow_add %}
    <script type="text/html" data-prototype>
        <tr>
            <td>{{ form_widget(form.judgehosts.vars.prototype.hostname) }}</td>
            <td>{{ form_widget(form.judgehosts.vars.prototype.active) }}</td>
            <td>{{ form_widget(form.judgehosts.vars.prototype.restriction) }}</td>
            <td>
                <button type="button" data-delete class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </script>
    <button type="button" data-add class="btn btn-secondary">Add a judgehost</button>
{% endif %}
{{ form_widget(form.save) }}

{{ form_end(form) }}
