{% set includeSubject = true %}
{% if subject is defined and not subject %}
    {% set includeSubject = false %}
{% endif %}

<div class="table-wrapper">
    <table class="data-table table table-hover table-sm" style="width:100%;">
        <thead class="thead-light">
        <tr>
            <th scope="col">time</th>
            {% if includeSubject %}
                <th scope="col">subject</th>
            {% endif %}
            <th scope="col">to</th>
            <th scope="col">text</th>
        </tr>
        </thead>
        <tbody>
        {%- for clarification in clarifications %}
            {%- set link = path('team_clarification', {clarId: clarification.clarid}) %}

            <tr class="{% if team.unreadClarifications.contains(clarification) %}unseen{% endif %}">
                <td>
                    <a data-ajax-modal data-ajax-modal-after="markSeen" href="{{ link }}">
                        {{ clarification.submittime | printtime(null, clarification.contest) }}
                    </a>
                </td>

                {% if includeSubject %}
                    <td>
                        <a data-ajax-modal data-ajax-modal-after="markSeen" href="{{ link }}">
                            {%- if clarification.problem -%}
                                {{ clarification.contestProblem | problemBadge -}}
                            {%- elseif clarification.category -%}
                                {{- categories[clarification.category]|default('general') -}}
                            {%- else -%}
                                general
                            {%- endif -%}
                        </a>
                    </td>
                {% endif %}

                <td>
                    {%- if clarification.sender is null and clarification.recipient is not null %}
                        you
                    {%- else %}
                        all
                    {%- endif -%}
                </td>

                <td class="clarification-text">
                    <a data-ajax-modal data-ajax-modal-after="markSeen" href="{{ link }}">
                        <i>{{ clarification.summary
                            | markdown_to_html
                            | replace({'<p>': '', '</p>': ''})
                            | sanitize_html('app.clarification_sanitizer')
                            | raw
                            }}</i>
                    </a>
                    <script>
                        MathJax.typeset([document.getElementsByClassName('card-body')]);
                    </script>
                </td>
            </tr>
        {%- endfor %}

        </tbody>
    </table>
</div>
