{% if contest is empty %}
    <h1 id="teamwelcome" class="text-center">Welcome team <span id="teamwelcometeam">{{ team.effectiveName }}</span>!</h1>
    <h2 id="contestnotstarted" class="text-center">There's no active contest for you (yet).</h2>
{% elseif not contest.freezeData.started %}
    <h1 id="teamwelcome" class="text-center">Welcome team <span id="teamwelcometeam">{{ team.effectiveName }}</span>!</h1>
    <h2 id="contestnotstarted" class="text-center">
        Contest {{ contest | printContestStart }}
    </h2>
{% else %}

<div class="row equal mt-3">
    <div class="col-sm-6">
        <div class="card mb-3">
            <div class="card-header">
                Submissions
            </div>
            <div class="card-body">
                {% include 'team/partials/submission_list.html.twig' %}
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                Clarifications
            </div>
            <div class="card-body">
                {% if clarifications is empty %}
                    <p class="nodata">No clarifications.</p>
                {% else %}
                    {% include 'team/partials/clarification_list.html.twig' with {clarifications: clarifications} %}
                {% endif %}
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                Clarification Requests
            </div>
            <div class="card-body">
                {% if clarificationRequests is empty %}
                    <p class="nodata">No clarification request.</p>
                {% else %}
                    {% include 'team/partials/clarification_list.html.twig' with {clarifications: clarificationRequests} %}
                {% endif %}
            </div>
            <div class="card-footer">
                <a href="{{ path('team_clarification_add') }}" class="btn btn-secondary btn-sm" data-ajax-modal data-ajax-modal-after="initModalClarificationPreviewAdd">
                    Request clarification
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card mb-3" style="margin: 0; background-color: #c4d8ff;">
            <div class="center card-header" style="background-color: inherit; border-bottom: 0 solid red;">
                Clarifications
            </div>
            <div class="card-body" style="padding: 0">
                {% if clarifications is empty %}
                    <p class="nodata">No clarifications.</p>
                {% else %}
                    {% include 'team/partials/clarification_list_suggested.html.twig' with {clarifications: clarifications} %}
                {% endif %}
            </div>
        </div>
        <div class="card mb-3" style="padding: 0; background-color: #c4d8ff;"">
            <div class="card-header">
                Clarification Requests
                <a style="float: right;" href="{{ path('team_clarification_add') }}" class="btn btn-secondary btn-sm" data-ajax-modal data-ajax-modal-after="initModalClarificationPreviewAdd">
                    Request clarification
                </a>
            </div>
            <div class="card-body" style="padding: 0">
                {% if clarificationRequests is empty %}
                    <p class="nodata">No clarification request.</p>
                {% else %}
                    {% include 'team/partials/clarification_list_suggested.html.twig' with {clarifications: clarificationRequests} %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div>    
    <div class="row">
        <div class="col">
            <h1 class="teamoverview">Submissions</h1>

            {% include 'team/partials/submission_list.html.twig' %}
        </div>
        <div class="col">
            <h1 class="teamoverview">Clarifications</h1>
            {% if clarifications is empty %}
                <p class="nodata">No clarifications.</p>
            {% else %}
                {% include 'team/partials/clarification_list.html.twig' with {clarifications: clarifications} %}
            {% endif %}

            <h1 class="teamoverview">Clarification Requests</h1>
            {% if clarificationRequests is empty %}
                <p class="nodata">No clarification request.</p>
            {% else %}
                {% include 'team/partials/clarification_list.html.twig' with {clarifications: clarificationRequests} %}
            {% endif %}

            <div class="m-1">
                <a href="{{ path('team_clarification_add') }}" class="btn btn-secondary btn-sm" data-ajax-modal data-ajax-modal-after="initModalClarificationPreviewAdd">
                    Request clarification
                </a>
            </div>
        </div>
    </div>
{% endif %}

{% if ajax is defined and ajax %}
    {% include 'partials/scoreboard_progress_bar.html.twig' with {margin: -9, contest: current_team_contest} %}
{% endif %}
