{% if judging is empty or (not showTooLateResult and judging.submission.submittime >= current_team_contest.endtime) or (verificationRequired and not judging.verified) %}
    <div class="alert alert-danger">Submission not found for this team or not judged yet.</div>
{% else %}
    <div class="container">
        {% if not judging.valid %}
            <div class="alert alert-warning">This submission is being ignored. It is not used in determining your
                score.
            </div>
        {% endif %}

        <div class="d-flex flex-row">
            <div class="p-2">
                Problem:
                <b>
                        <span class="probid">
                            {{ judging.submission.contestProblem.shortname }}</span> -
                    {{ judging.submission.contestProblem.problem.name }}
                </b>
            </div>
            <div class="p-2">
                Submitted:
                <b>{{ judging.submission.submittime | printtime(null, current_team_contest) }}</b>
            </div>
            <div class="p-2">
                Language:
                <b>{{ judging.submission.language.name }}</b>
            </div>
            {% if not showCompile %}
                <div class="p-2">
                    Compilation:
                    {% if judging.result == 'compiler-error' %}
                        <span class="badge text-bg-danger">failed</span>
                    {% else %}
                        <span class="badge text-bg-success">successful</span>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        {% if judging.result != 'compiler-error' %}
            <div class="d-flex flex-row">
                <div class="p-2">
                    Result: {{ judging.result | printResult }}
                </div>
                {% if judging.result == 'correct' and judging.submission.contest.getRuntimeAsScoreTiebreaker() %}
                    <div class="p-2">
                        Max. Runtime: <b>{{ "%0.3f s" | format(judging.getMaxRuntime()) }}</b>
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% if allowDownload %}
            <div class="d-flex flex-row">
                <div class="p-2">
                    <a title="Download submission ZIP" aria-label="download submission zip" class="btn btn-primary" href="{{ path('team_submission_download', {'submitId': judging.submission.submitid}) }}">
                        <i class="fa fa-file-archive"></i> Download submission ZIP
                    </a>
                </div>
            </div>
        {% endif %}

        {% if showCompile %}
            <hr/>
            <h6 class="text-center">
                Compilation
                {% if judging.result == 'compiler-error' %}
                    <span class="badge text-bg-danger">failed</span>
                {% else %}
                    <span class="badge text-bg-success">successful</span>
                {% endif %}
                with the following output
            </h6>
            {% if judging.outputCompile(true) is not empty %}
                <pre class="output_text pre-scrollable">{{ judging.outputCompile(true) }}</pre>
            {% else %}
                <p class="nodata">There were no compiler errors or warnings.</p>
            {% endif %}
        {% endif %}

        {% if showSampleOutput and judging.result != 'compiler-error' %}
            <hr/>
            {# Display failing testcase #}
            {% set failingTestcase = null %}
            {% set failingTestcaseId = null %}
            {% for idx, run in runs %}
                {% if not failingTestcase %}
                    {% set judgingRun = run.0.judgingRuns.first %}
                    {% if judgingRun.runresult != 'correct' %}
                        {% set failingTestcase = run %}
                        {% set failingTestcaseId = idx %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if failingTestcase %}

                <h4 class="text-center">Failing run: run {{ failingTestcase.0.rank }}</h4>

                {% include 'team/partials/testcase.html.twig' with {idx: failingTestcaseId, run: failingTestcase} %}
            {% endif %}
            <hr/>

            {% if runs is empty %}
                <p class="nodata">No runs available.</p>
            {% else %}
                {% for idx, run in runs %}
                    <h5 id="run-{{ run.0.rank }}" class="text-center mt-4">Run {{ run.0.rank }}</h5>

                    {% include 'team/partials/testcase.html.twig' %}
                {% endfor %}
            {% endif %} {# not runs is empty #}
        {% endif %} {# showSampleOutput and judging.result != 'compiler-error' #}
    </div>
{% endif %} {# not (judging is empty or judging.submission.submittime >= current_team_contest.endtime or (verificationRequired and not judging.verified)) #}
