{% extends "@DOMJudge/jury/base.html.twig" %}
{% import _self as self %}

{% block title %}Clarification - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
{% endblock %}

{% block content %}

<div class="container clarificationform">
<h1>Send Clarification</h1>
<form action="./clarification.php" method="post" id="sendclar" onsubmit="return confirmClar();">

<div class="form-group">
<label for="sendto">Send to:</label>
<select id="sendto" name="sendto" class="custom-select">
{% for id,team in teams %}
<option value="{{id}}"{% if toteam is defined and toteam == id %} selected{% endif %}>{{team}}</option>
{% endfor %}
</select>
</div>

<div class="form-group">
<label for="subject">Subject:</label>
<select name="problem" id="subject" class="custom-select">
{% for contest,subject in subjects %}
<optgroup label="{{ contest }}">
{% for id,descr in subject %}
<option value="{{id}}">{{descr}}</option>
{% endfor %}
</optgroup>
{% endfor %}
</select>
</div>

<div class="form-group">
<label for="bodytext">Message:</label>
<textarea class="form-control" name="bodytext" id="bodytext" rows="5" cols="85" required></textarea>
</div>


<div class="form-group">
<button type="submit" name="submit" class="btn btn-primary"><i class="fas fa-envelope"></i> Send</button>
</div>
</form>
</div>

</main>

{% endblock %}
