{% extends "@DOMJudge/jury/base.html.twig" %}
{% import _self as self %}
{% import "@DOMJudge/jury/jury_macros.twig" as macros %}

{% block title %}Executables - {{ parent() }}{% endblock %}

{% block extrahead %}
{{ parent() }}
{{ macros.table_extrahead() }}
{% endblock %}

{% block content %}

<h1>Executables</h1>

{{ macros.table(executables, table_fields) }}

<p>
    {{ button(path('legacy.jury_executable', {'cmd': 'add'}), 'Add new executable', 'primary', 'plus') }}
</p>
<form style="display:inline;" action="{{ path('legacy.jury_executable') }}" method="post" enctype="multipart/form-data">
Executable archive(s): <select name="type" id="type">
<option value="compare">compare</option>
<option value="compile">compile</option>
<option value="run">run</option>
</select>
<input type="file" name="executable_archive[]" id="executable_archive__" required="" multiple="" accept="application/zip">
<input type="submit" name="upload" id="upload" value="Upload">
</form>

{% endblock %}
