{% extends "@DOMJudge/jury/base.html.twig" %}
{% import _self as self %}

{% block title %}{{ parent() }} - Jury Interface{% endblock %}

{% block extrahead %}
{{ parent() }}
{% endblock %}

{% block content %}
<h1>DOMjudge Jury interface</h1>

<a href="https://www.domjudge.org/">
  <img src="../images/DOMjudgelogo.png" id="djlogo" alt="DOMjudge logo" class="float-right d-none d-lg-block" title="The DOMjudge logo: free as in beer!" />
</a>

{% for error in errors %}
<div class="alert alert-danger" role="alert">{{ error }}</div>
{% endfor %}

<div class="row equal mt-3">
  <div class="col-lg-4 col-sm-6 mt-3">
    <div class="card">
      <div class="card-header">
        Overviews:
      </div>
      <div class="card-body">
        <ul>
          <li><a href="{{ path('legacy.jury_balloons') }}">Balloon Status</a></li>
          {% if is_granted('ROLE_JURY') %}
            <li><a href="{{ path('legacy.jury_clarifications') }}">Clarifications</a></li>
            <li><a href="{{ path('legacy.jury_contests') }}">Contests</a></li>
            <li><a href="{{ path('jury_executables') }}">Executables</a></li>
            <li><a href="{{ path('legacy.jury_internal_errors') }}">Internal Errors</a></li>
            <li><a href="{{ path('legacy.jury_judgehosts') }}">Judgehosts</a></li>
            <li><a href="{{ path('legacy.jury_judgehost_restrictions') }}">Judgehost Restrictions</a></li>
            <li><a href="{{ path('legacy.jury_languages') }}">Languages</a></li>
            <li><a href="{{ path('legacy.jury_problems') }}">Problems</a></li>
          {% endif %}
          {% if have_printing %}
            <li><a href="{{ path('jury_print') }}">Print</a></li>
          {% endif %}
          {% if is_granted('ROLE_JURY') %}
            <li><a href="{{ path('legacy.jury_rejudgings') }}">Rejudgings</a></li>
            <li><a href="{{ path('legacy.jury_scoreboard') }}">Scoreboard</a></li>
            <li><a href="{{ path('analysis_index') }}">Statistics/Analysis</a></li>
            <li><a href="{{ path('legacy.jury_submissions') }}">Submissions</a></li>
            <li><a href="{{ path('legacy.jury_users') }}">Users</a></li>
            <li><a href="{{ path('jury_teams') }}">Teams</a></li>
            <li><a href="{{ path('legacy.jury_team_categories') }}">Team Categories</a></li>
            <li><a href="{{ path('legacy.jury_team_affiliations') }}">Team Affiliations</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>


  <div class="col-lg-3 col-sm-6 mt-3">
  {% if is_granted('ROLE_ADMIN') %}
    <div class="card mb-3">
      <div class="card-header">
        Administrator:
      </div>
      <div class="card-body">
        <ul>
          <li><a href="{{ path('legacy.jury_config') }}">Configuration settings</a></li>
          <li><a href="{{ path('legacy.jury_checkconfig') }}">Config checker</a></li>
          <li><a href="{{ path('legacy.jury_impexp') }}">Import / export</a></li>
          <li><a href="{{ path('legacy.jury_genpasswds') }}">Manage team passwords</a></li>
          <li><a href="{{ path('legacy.jury_refresh_cache') }}">Refresh scoreboard cache</a></li>
          <li><a href="{{ path('legacy.jury_check_judgings') }}">Judging verifier</a></li>
          <li><a href="{{ path('legacy.jury_auditlog') }}">Activity log</a></li>
        </ul>
      </div>
    </div>
  {% endif %}
    <div class="card">
      <div class="card-header">
        Documentation:
      </div>
      <div class="card-body">
        <ul>
        <li><a href="doc/judge/judge-manual.html">Judge manual</a>
            (also <a href="doc/judge/judge-manual.pdf">PDF</a>)</li>
        <li><a href="doc/admin/admin-manual.html">Administrator manual</a>
            (also <a href="doc/admin/admin-manual.pdf">PDF</a>)</li>
        <li><a href="doc/team/team-manual.pdf">Team manual</a>
            (PDF only)</li>
        <li><a href="../api/doc">API documentation</a><br />
            See also the <a href="https://clics.ecs.baylor.edu/index.php/Contest_API">ICPC Contest API</a>.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
