{% macro select2_extrahead() %}

    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/select2-bootstrap.min.css') }}">
    <script src="{{ asset('js/select2.min.js') }}"></script>
    <script>
        $(function () {
            $.fn.select2.defaults.set("theme", "bootstrap");

            $('select[multiple]').select2();
        });
    </script>
{% endmacro %}

{% macro toggle_extrahead() %}

    <link rel="stylesheet" href="{{ asset('css/bootstrap-toggle.min.css') }}">
    <script src="{{ asset('js/bootstrap-toggle.min.js') }}"></script>
{% endmacro %}


{% macro jscolor_extrahead() %}
    <script src="{{ asset('js/jscolor.js') }}"></script>
{% endmacro %}

{% macro table_extrahead() %}

    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap4.min.css') }}">
    <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
    <style>
        .data-table td a, .data-table td a:hover {
            display: block;
            text-decoration: none;
            color: inherit;
        }

        .data-table th {
            white-space: nowrap;
        }

        .data-table td {
            white-space: nowrap;
            padding-top: 1px;
            padding-bottom: 1px;
        }

        .dataTables_filter {
            text-align: inherit;
        }

        .table-wrapper {
            display: inline-block;
        }
    </style>
{% endmacro %}

{% macro table(data, fields, num_actions, options) %}

    <div class="table-wrapper">
        <table class="data-table table table-sm table-striped" style="width:auto">
            <thead class="">
            <tr>
                {%- set default_sort = 0 %}
                {%- set default_sort_order = 'asc' %}
                {%- for key,column in fields %}
                    {%- if column.default_sort|default(false) %}
                        {%- set default_sort = loop.index0 %}
                        {%- if column.default_sort_order is defined %}
                            {%- set default_sort_order = column.default_sort_order %}
                        {%- endif %}
                    {%- endif %}

                    <th scope="col" class="
                        {%- if column.sort is defined and column.sort %}sortable{%- endif %}
                        {%- if (column.search is not defined) or column.search %} searchable{%- endif %}">
                        {{- column.title | raw -}}
                    </th>
                {%- endfor %}
                {%- if num_actions > 0 %}
                    {%- for i in 1..num_actions %}

                        <th scope="col"></th>
                    {%- endfor %}
                {%- endif %}

            </tr>
            </thead>
            <tbody>
            {%- for row in data %}

                <tr class="{{ row.cssclass|default('') }}"
                        {%- if row.style is defined %} style="{{ row.style }}"{% endif %}>
                    {%- for key,column in fields %}
                        {%- set item = attribute(row.data, key) %}

                        <td
                           class="{{ item.cssclass|default('') }}{% if key == "status" %} {{ item.value|statusClass() }}{% endif %}"
                                {%- if item.title is defined %} title="{{ item.title }}"{% endif %}
                                {%- if item.sortvalue is defined %} data-sort="{{ item.sortvalue }}"{% endif %}>
                            {%- if item.link is defined %}<a href="{{ item.link }}">
                                {%- elseif row.link is defined %}<a href="{{ row.link }}">{% endif %}
                                    {% if key == "status" %}
                                    {{- (item.value|default(item.default|default('')))|statusIcon()|raw -}}
                                    {% else %}
                                    {{- (item.value|default(item.default|default('')))|raw -}}
                                    {% endif %}
                                    {%- if item.link is defined or row.link is defined -%}</a>{% endif %}
                        </td>
                    {%- endfor %}
                    {%- for action in row.actions %}

                        <td>
                            {%- if action %}

                                <a href="{{ action.link }}" title="{{ action.title }}" {% if action.ajaxModal is defined and action.ajaxModal %}data-ajax-modal{% endif %}>
                                    <i class="fas fa-{{ action.icon }}"></i>
                                </a>
                            {%- endif %}

                        </td>
                    {%- endfor %}

                </tr>
            {%- endfor %}

            </tbody>
        </table>
    </div>
    <script>
        $().ready(function () {
            $('.data-table').DataTable({
                "paging": false,
                "searching": {{ options.searching | default('true') }},
                "ordering": {{ options.ordering | default('true') }},
                "order": [[ {{ default_sort }}, '{{ default_sort_order }}']],
                "info": false,
                "autoWidth": true,
                "language": {
                    "searchPlaceholder": "filter table",
                    "search": "_INPUT_",
                },
                'aoColumnDefs': [
                    {aTargets: ['sortable'], bSortable: true},
                    {aTargets: ['searchable'], bSearchable: true},
                    {aTargets: ['_all'], bSortable: false, bSearchable: false}
                ],
            });
        });
    </script>
{% endmacro %}

{% macro collection_scripts() %}
    <script>
        var $collectionHolder;

        $(function () {
            $collectionHolder = $('[data-collection-holder]');
            $collectionHolder.data('index', $collectionHolder.find('tr').length);
            $('[data-add]').on('click', function () {
                addCollectionItem($collectionHolder);
            });

            $('[data-delete]').on('click', function () {
                $(this).closest('tr').remove();
            });

            function addCollectionItem($collectionHolder) {
                var prototype = $('[data-prototype]').text();
                var index = $collectionHolder.data('index');
                prototype = prototype.replace(/__name__/g, index);
                $collectionHolder.data('index', index + 1);
                var $prototype = $(prototype);
                $prototype.find('[data-delete]').on('click', function () {
                    $(this).closest('tr').remove();
                });

                $collectionHolder.append($prototype);

                if ($collectionHolder.data('after-add')) {
                    window[$collectionHolder.data('after-add')]();
                }
            }
        });
    </script>
{% endmacro %}
