{% extends "@DOMJudge/jury/base.html.twig" %}
{% import _self as self %}
{% import "@DOMJudge/jury/jury_macros.twig" as macros %}

{% block title %}Problems - {{ parent() }}{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}

    <h1>Problems</h1>

    {{ macros.table(problems, table_fields, num_actions) }}

    {% if is_granted('ROLE_ADMIN') %}
        <p>
            {{ button(path('legacy.jury_problem', {cmd: 'add'}), 'Add new problem', 'primary', 'plus') }}
        </p>

        <form action="{{ path('legacy.jury_problem') }}" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label for="type">Contest</label>
                    <select name="type" id="type" class="custom-select">
                        <option value="-1">Do not link to a contest</option>
                        {% for contest in contests %}
                            <option value="{{ contest.cid }}" {% if current_contest and current_contest.cid == contest.cid %}selected="selected"{% endif %}>
                                c{{ contest.cid }}: {{ contest.shortname }} - {{ contest.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label for="executable_archive__">Problem archive(s)</label>
                    <input type="file" name="problem_archive[]" id="problem_archive__" required="" multiple=""
                           accept="application/zip" class="form-control-file">
                </div>
            </div>
            <input type="submit" name="upload" class="btn btn-primary" id="upload" value="Upload">
        </form>
    {% endif %}
{% endblock %}
