{% set pageTitle = 'Submissions' %}

{% extends '@DOMjudgeJury/base.html.twig' %}

{% block body %}
	<p>
		{{ form_start(filterForm) }}
			Show submissions:
			{{ form_widget(filterForm.newest) }}
			{{ form_widget(filterForm.unverified) }}
			{{ form_widget(filterForm.unjudged) }}
			{{ form_widget(filterForm.all) }}
		{{ form_end(filterForm) }}
	</p>
	
	{{ submissions(submissions, true, null, showContestColumn) }}
	{{ submission_counts(total, correct, unverified, ignored, queued) }}
{% endblock %}
