{% extends "public/base.html.twig" %}

{% block extrahead %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/blog.css") }}">
{% endblock %}

{% block title %}News{% endblock %}
{% block content %}
    <div class="container">
        <h1>News</h1>
        {% for post in posts %}
            {% include 'public/partials/blog_post_in_list.html.twig' with {'post': post} %}
            <hr>
        {% endfor %}

        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item{% if page < 2 %} disabled{% endif %}">
                    <a class="page-link"
                        {% if page >= 2 %}
                            href="{{ path('public_blog_list', {'page': page - 1}) }}"
                        {% else %}
                            href="#"
                        {% endif %}
                    >Previous</a>
                </li>

                {% if page >= 2 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('public_blog_list', {'page': page - 1}) }}">
                            {{ page - 1 }}
                        </a>
                    </li>
                {% endif %}

                <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>

                {% if page < totalPages %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('public_blog_list', {'page': page + 1}) }}">
                            {{ page + 1 }}
                        </a>
                    </li>
                {% endif %}

                <li class="page-item {% if page >= totalPages %} disabled{% endif %}">
                    <a class="page-link"
                       {% if page < totalPages %}
                           href="{{ path('public_blog_list', {'page': page + 1}) }}"
                       {% else %}
                           href="#"
                       {% endif %}
                    >Next</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}
