{% extends "public/base.html.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container">
        <h1>{{ title }}</h1>
        <h4 class="text-left text-muted">{{ subtitle }}</h4>
        <p>{{ publishTime|date }}</p>

        <div>
            {{ body|raw }}
            <h5 class="text-muted">{{ author }}</h5>
        </div>

        <a href="{{ path('public_blog_list') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Zpět ke všem článkům</a>
    </div>
{% endblock %}
