<nav class="navbar navbar-expand-xl fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand hidden-sm-down" href="{{ path('public_index') }}">DOMjudge</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuDefault"
            aria-controls="menuDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    {% set current_route = app.request.attributes.get('_route') %}

    <div class="collapse navbar-collapse" id="menuDefault">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link{% if current_route in ['public_blog_list'] %} active{% endif %}"
                    href="{{ path('public_blog_list') }}">
                    <i class="fa-regular fa-newspaper"></i> News
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if current_route in ['public_scoreboard', 'public_team'] %} active{% endif %}"
                    href="{{ path('public_scoreboard', {'cid': current_public_contest.cid}) }}"><i class="fas fa-list-ol"></i> Scoreboard</a>
            </li>
            <li class="nav-item">
                {% if is_granted('ROLE_JURY') or (current_public_contest is not null and current_public_contest.freezeData.started) %}
                    <a class="nav-link{% if current_route == 'public_problems' %} active{% endif %}"
                        href="{{ path('public_problems', {'cid': current_public_contest.cid}) }}">
                        <i class="fas fa-book-open"></i> Problemset
                    </a>
                {% else %}
                    <a class="nav-link disabled"><i class="fas fa-book-open"></i> Problemset</a>
                {% endif %}
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   target="_blank"
                   href="https://github.com/delta-cs/seminar">
                    <i class="fa-solid fa-graduation-cap"></i> Study
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   target="_blank"
                   href="https://github.com/delta-cs/seminar-archive">
                    <i class="fa-solid fa-box-archive"></i> Archive
                </a>
            </li>

            {% if is_granted('ROLE_TEAM') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('team_index') }}">
                        <i class="fas fa-arrow-right"></i> Team
                    </a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_JURY') or is_granted('ROLE_BALLOON') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('jury_index') }}"><i class="fas fa-arrow-right"></i> Jury</a>
                </li>
            {% endif %}
        </ul>

        {% include 'partials/menu_help_button.html.twig' %}

        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAuth" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownAuth">
                    {% include 'partials/menu_login_logout_button.html.twig' %}
                </div>
            </li>
        </ul>

        <ul class="navbar-nav">
            {% if current_public_contests | length > 1 %}
                {% include 'partials/menu_change_contest.html.twig' with {contest: current_public_contest, contests: current_public_contests, change_path: 'public_change_contest', show_no_contest: false} %}
            {% endif %}
        </ul>

        {% include 'partials/menu_countdown.html.twig' with {contest: current_public_contest} %}

        {% include 'partials/menu_theme_switcher.html.twig' %}
    </div>
  </div>
</nav>
