{# Render a list of balloons for a jury page #}
{# @var \App\Entity\Balloon balloonfoo #}

{% if balloons is empty %}
    <div class="alert alert-warning">No balloons</div>
{% else %}
    <table class="data-table table table-hover table-striped table-sm balloons-table" style="width:auto">
        <thead class="thead-light">
        <tr>
            <th scope="col">&nbsp;</th>
            <th scope="col">ID</th>
            <th scope="col">time</th>
            <th scope="col">solved</th>
            <th scope="col">team</th>
            <th scope="col">affiliation</th>
            <th scope="col">location</th>
            <th scope="col">category</th>
            <th scope="col">total</th>
            <th scope="col">awards</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {%- for balloon in balloons %}
            <tr class="{% if balloon.data.done %}disabled{% endif %}"
                data-affiliation-id="{{ balloon.data.affiliationid }}"
                data-location-str="{{ balloon.data.location }}">
                <td>
                {%- if balloon.data.done -%}
                    <i class="far fa-check-circle"></i>
                {%- else -%}
                    <i class="far fa-hourglass"></i>
                {%- endif -%}
                <td>{{ balloon.data.balloonid }}</td>
                <td>{{ balloon.data.time | printtime }}</td>
                <td><i style="color: {{ balloon.data.color }}" class="fas fa-golf-ball"></i> {{ balloon.data.problem }}</td>
                <td>{{ balloon.data.team | truncate(30) }}</td>
                <td>{{ balloon.data.affiliation }}</td>
                <td>{{ balloon.data.location }}</td>
                <td>{{ balloon.data.category }}</td>
                <td>
                {%- for totalballoon in balloon.data.total -%}
                    <i style="color: {{ totalballoon }}" class="fas fa-golf-ball"></i>
                {%- endfor -%}
                </td>
                <td>{{ balloon.data.awards }}</td>
                <td>
                    {%- if not balloon.data.done -%}
                    {%- set link = path('jury_balloons_setdone', {balloonId: balloon.data.balloonid}) %}
                    <a href="{{ link }}" title="mark balloon as done">
                    <i class="fas fa-running"></i>
                    </a>
                </td>
                {%- endif -%}
            </tr>
        {%- endfor %}

        </tbody>
    </table>

{% endif %}
