{{ form_start(form) }}
{{ form_row(form.recipient) }}
{{ form_row(form.subject) }}
{{ form_row(form.message) }}
<div class="mb-3">
    <div class="card">
        <div class="card-body">
            <label class="form-label text-muted"><small>rendered preview</small></label>
            <div id="messagepreview">Start typing to see a preview of your message</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <div class="mb-3">
            <button type="submit" name="submit" class="btn btn-primary"><i class="fas fa-envelope"></i> Send</button>
        </div>
    </div>

    <div class="col-sm text-end">
        {% if answers is defined and answers|length > 0 %}
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-fish"></i></span>
                <select class="form-select form-control-sm" id="clar_answers">
                    <option selected value="_default">Add canned answer...</option>
                    {% for item in answers %}
                        <option>{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
    </div>

</div>
{{ form_end(form) }}
