{{ form_start(form) }}
{{ form_row(form.recipient) }}
{{ form_row(form.subject) }}
{{ form_row(form.message) }}
<div class="mb-3">
    <div class="card">
        <div class="card-body">
            <label class="rendered-preview-badge">rendered preview</label>
            <div id="messagepreview">Start typing to see a preview of your message</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <div class="mb-3">
            <button type="submit" name="submit" class="btn btn-primary"><i class="fas fa-envelope"></i> Send</button>
        </div>
    </div>

    <div class="col-sm text-end">
        {% if answers is defined and answers|length > 0 %}
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-fish"></i></span>
                <select class="form-select form-control-sm" id="clar_answers">
                    <option selected value="_default">Add canned answer...</option>
                    {% for item in answers %}
                        <option>{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
    </div>

</div>
{{ form_end(form) }}

<script>
    $(function () {
        var $body = $('body');

        $body.on('submit', 'form[name=jury_clarification]', function () {
            var clarid = {{ origclar | json_encode(constant('JSON_HEX_TAG')) | raw }}.clarid;

            fetch(`/jury/clarifications/check-claimed?clarid=${clarid}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.isClaimedByOther === true) {
                    confirm(`This clarification has been claimed by ${data.ClaimedBy}. Are you sure you want to send this message?`);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while checking claim status.');
            });
        });
    });
</script>
