<div class="row">
    <div class="col-lg-6">
        <table class="table table-sm table-striped">
            <tr>
                <th>ID</th>
                <td>{{ externalContestSource.extsourceid }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>
                    {{ externalContestSource.getReadableType }}
                    at
                    <code>{{ externalContestSource.source }}</code>
                </td>
            </tr>
            {% if externalContestSource.username %}
                <tr>
                    <th>Username</th>
                    <td><code>{{ externalContestSource.username }}</code></td>
                </tr>
            {% endif %}
            {% if externalContestSource.password %}
                <tr>
                    <th>Password</th>
                    <td>
                        <code data-password-hidden>
                            ••••••••
                        </code>
                        <code data-password class="d-none">
                            {{ externalContestSource.password }}
                        </code>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>Command</th>
                <td>
                    <code>{{ webappDir }}/bin/console import:eventfeed {{ current_contest.cid }}</code>
                </td>
            </tr>
            <tr>
                <th>Status</th>
                <td>
                    {% if not externalContestSource.lastPollTime %}
                        Event feed reader never checked in.
                    {% else %}
                        {{ status }}, last checked in {{ externalContestSource.lastPollTime | printtimediff }}s ago.
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Last event ID</th>
                <td>
                    {{ externalContestSource.lastEventId | default('-') }}
                </td>
            </tr>
            <tr>
                <th>External contest information</th>
                <td>
                    Valid: {{ sourceService.validContestSource | printYesNo }}<br/>
                    {% if not sourceService.validContestSource %}
                        Error: {{ sourceService.loadingError }}
                    {% else %}
                        ID: {{ sourceService.contestId }}<br/>
                        Name: {{ sourceService.contestName }}<br/>
                        Start time: {{ sourceService.contestStartTime | printtime('Y-m-d H:i:s (T)') }}<br/>
                        Duration: {{ sourceService.contestDuration }}
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
</div>

<style>
    code[data-password], code[data-password-hidden] {
        cursor: pointer;
    }
</style>

<script>
    $(function() {
        var $password = $('code[data-password]');
        var $passwordHidden = $('code[data-password-hidden]');
        $password.on('click', function() {
            $password.addClass('d-none');
            $passwordHidden.removeClass('d-none');
        });
        $passwordHidden.on('click', function() {
            $passwordHidden.addClass('d-none');
            $password.removeClass('d-none');
        });
    });
</script>
