<div class="row">
    <div class="col-lg-4">
        {{ form_start(form) }}
        {{ form_row(form.contest) }}
        {{ form_row(form.enabled) }}
        {{ form_row(form.type) }}
        {{ form_row(form.source) }}
        <div data-type-ccs-api>
            {{ form_row(form.username) }}
            {{ form_row(form.password) }}
        </div>
        {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>
</div>

<script>
    $(function () {
        var type = $('#external_contest_source_type');
        var typeChanged = function () {
            var ccsApiFields = $('[data-type-ccs-api]');
            switch (type.val()) {
                case '{{ constant('\App\\Entity\\ExternalContestSource::TYPE_CCS_API') }}':
                    ccsApiFields.show();
                    break;
                default:
                    ccsApiFields.hide();
                    break;
            }
        };
        type.on('change', typeChanged);
        typeChanged();
    })
</script>
