<div class="row">
    <div class="col-lg-4">
        {{ form_start(form) }}
        {% if form.offsetExists('langid') %}
            {{ form_row(form.langid) }}
        {% endif %}
        {% if form.offsetExists('externalid') %}
            {{ form_row(form.externalid) }}
        {% endif %}
        {{ form_row(form.name) }}
        {{ form_row(form.requireEntryPoint) }}
        {{ form_row(form.entryPointDescription) }}
        {{ form_row(form.allowSubmit) }}
        {{ form_row(form.allowJudge) }}
        <div class="form-group">
            {{ form_label(form.timeFactor) }}
            <div class="input-group">
                {{ form_widget(form.timeFactor) }}
                <div class="input-group-append">
                    <div class="input-group-text">&times;</div>
                </div>
            </div>
        </div>
        {{ form_row(form.compileExecutable) }}
        {{ form_row(form.extensions) }}
        {{ form_row(form.filterCompilerFiles) }}
        {{ form_end(form) }}
    </div>
</div>

<script>
    var $extensionsHolder;
    var $addExtensionButton = $('<button type="button" class="btn btn-secondary"><i class="fas fa-plus"></i></button>');

    $(function () {
        $extensionsHolder = $('div#language_extensions');
        $extensionsHolder.append($addExtensionButton);

        $extensionsHolder.data('index', $extensionsHolder.find(':input').length);

        $addExtensionButton.on('click', function (e) {
            addExtension($extensionsHolder, $addExtensionButton);
        });

        $extensionsHolder.find('div.form-group').each(function() {
            addDeleteLink($(this));
        });

        function addExtension($extensionsHolder, $addExtensionButton) {
            var prototype = $extensionsHolder.data('prototype');
            var index = $extensionsHolder.data('index');
            var newForm = prototype;
            newForm = newForm.replace(/__name__/g, index);
            $extensionsHolder.data('index', index + 1);
            var $newForm = $(newForm);
            $addExtensionButton.before($newForm);
            addDeleteLink($newForm);
        }

        function addDeleteLink($extensionDiv) {
            var $removeFormButton = $('<button type="button" class="input-group-append btn btn-danger"><i class="fas fa-trash"></i></button>');
            var $inputGroup = $('<div class="input-group"></div>');
            var $formControl = $extensionDiv.find('.form-control');
            $inputGroup.append($formControl);
            $inputGroup.append($removeFormButton);
            $extensionDiv.html($inputGroup);

            $removeFormButton.on('click', function(e) {
                $extensionDiv.remove();
            });
        }
    });
</script>
