{% macro form_table_row(field, attr) %}
<tr {{ attr | default('') }}>
    <th>{{ field.vars.label | default(field.vars.name | humanize) }}</th>
    <td>
        {{ form_errors(field) }}
        {{ form_widget(field, {label: false}) }}
        {{ form_help(field) }}
    </td>
</tr>
{% endmacro %}

{% macro section_header(icon, title) %}
<tr class="contest-form-section-header">
    <td colspan="2"><i class="fas fa-{{ icon }} me-2"></i>{{ title }}</td>
</tr>
{% endmacro %}

{{ form_start(form) }}
<div class="row">
    <div class="col-lg-6">

        {{ form_errors(form) }}

        <table class="table table-sm mb-0 contest-fields-table">
            <tbody>
                {{ _self.section_header('tag', 'Identity') }}
                {% if form.externalid is defined %}
                    {{ _self.form_table_row(form.externalid) }}
                {% endif %}
                {{ _self.form_table_row(form.name) }}

                {{ _self.section_header('paper-plane', 'Submitting & Judging') }}
                {{ _self.form_table_row(form.allowSubmit) }}
                {{ _self.form_table_row(form.allowJudge) }}
                {{ _self.form_table_row(form.timeFactor) }}
                {{ _self.form_table_row(form.requireEntryPoint) }}
                {{ _self.form_table_row(form.entryPointDescription) }}

                {{ _self.section_header('cogs', 'Compilation') }}
                {{ _self.form_table_row(form.compileExecutable) }}
                {{ _self.form_table_row(form.extensions) }}
                {{ _self.form_table_row(form.filterCompilerFiles) }}

                {{ _self.section_header('info-circle', 'Version Info') }}
                {{ _self.form_table_row(form.compilerVersionCommand) }}
                {{ _self.form_table_row(form.runnerVersionCommand) }}

                {{ _self.section_header('filter', 'Restrictions') }}
                {{ _self.form_table_row(form.contests) }}
                {{ _self.form_table_row(form.problems) }}
            </tbody>
        </table>
    </div>
</div>

{{ form_widget(form.save) }}
{{ form_end(form) }}

<script>
    var $extensionsHolder;
    var $addExtensionButton = $('<button type="button" class="btn btn-secondary"><i class="fas fa-plus"></i></button>');

    $(function () {
        $extensionsHolder = $('div#language_extensions');
        $extensionsHolder.append($addExtensionButton);

        $extensionsHolder.data('index', $extensionsHolder.find(':input').length);

        $addExtensionButton.on('click', function (e) {
            addExtension($extensionsHolder, $addExtensionButton);
        });

        $extensionsHolder.find('div:not(.invalid-feedback)').each(function() {
            addDeleteLink($(this));
        });

        function addExtension($extensionsHolder, $addExtensionButton) {
            var prototype = $extensionsHolder.data('prototype');
            var index = $extensionsHolder.data('index');
            var newForm = prototype;
            newForm = newForm.replace(/__name__/g, index);
            $extensionsHolder.data('index', index + 1);
            var $newForm = $(newForm);
            $addExtensionButton.before($newForm);
            addDeleteLink($newForm);
        }

        function addDeleteLink($extensionDiv) {
            var $removeFormButton = $('<button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button>');
            var $inputGroup = $('<div class="input-group"></div>');
            var $formControl = $extensionDiv.find('.form-control');
            var $feedbackBlock = $extensionDiv.find('.invalid-feedback');
            $inputGroup.append($formControl);
            $inputGroup.append($removeFormButton);
            $inputGroup.append($feedbackBlock);
            $extensionDiv.html($inputGroup);

            $removeFormButton.on('click', function(e) {
                $extensionDiv.remove();
            });
        }
    });
</script>
