{# Output a rejudge form #}

{% apply spaceless %}
    {% set buttonText = 'Rejudge all for ' ~ table ~ ' ' ~ id %}
    {% set questionText = 'Rejudge all submissions for this ' ~ table ~ '?' %}
    {% set buttonDisabled = false %}
    {% set isRestart = false %}
    {% if is_granted('ROLE_ADMIN') %}
        {% set includeAllButton = true %}
    {% else %}
        {% set includeAllButton = false %}
    {% endif %}
    {% if buttonClass is not defined %}
        {% set buttonClass = 'btn-outline-primary btn-sm' %}
    {% endif %}

    {% if table == 'submission' and submission is defined and judgings is defined %}
        {% set buttonText = 'Rejudge this submission' %}
        {% set questionText = 'Rejudge submission s' ~ id ~ '?' %}
        {% set includeAllButton = false %}
        {# Check if we have a valid result #}
        {% set validResult = false %}
        {% for judging in judgings %}
            {% if judging.valid %}
                {% set validResult = judging.result %}
            {% endif %}
        {% endfor %}

        {% if is_granted('ROLE_ADMIN') %}
            {% if not validResult %}
                {% set questionText = 'Restart judging of PENDING submission s' ~ id ~ ', are you sure?' %}
                {% set buttonText = 'Restart judging' %}
                {% set isRestart = true %}
            {% elseif validResult == 'correct' %}
                {% set questionText = 'Rejudge CORRECT submission s' ~ id ~ ', are you sure?' %}
            {% endif %}
        {% else %}
            {% if not validResult or validResult == 'correct' %}
                {% set buttonDisabled = true %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endapply %}

<button type="button" class="btn {{ buttonClass }}" data-bs-toggle="modal" data-bs-target="#rejudge-modal">
    <i class="fas fa-sync"></i> Rejudge
</button>

<!-- Modal -->
<div class="modal fade" id="rejudge-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ buttonText }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ path('jury_create_rejudge') }}" method="post">
                <div class="modal-body">
                    <input type="hidden" name="table" value="{{ table }}"/>
                    <input type="hidden" name="id" value="{{ id }}"/>
                    {%- if includeAllButton %}

                        <div class="form-check">
                            <label class="form-check-label" for="include_all">Include pending/correct
                                submissions</label>
                            <input type="checkbox" class="form-check-input" id="include_all" name="include_all">
                        </div>
                    {%- endif %}

                    {% if isRestart %}
                        <input type="hidden" id="auto_apply" name="auto_apply" value="1">
                        <input type="hidden" name="repeat" id="repeat" value="1">
                        <input type="hidden" name="reason" id="reason" value="">
                    {% else %}
                    <div class="form-check mb-3">
                        <label class="form-check-label" for="auto_apply">Automatically apply judging(s) when ready</label>
                        <input type="checkbox" class="form-check-input" id="auto_apply" name="auto_apply">
                    </div>
                    <div id="rejudge-repeat" class="mb-3">
                        <label for="repeat">Number of times to repeat this rejudging</label>
                        <input type="number" class="form-control" name="repeat" id="repeat" value="1" min="1" max="999" step="1">
                    </div>
                    <div id="rejudge-reason" class="mb-3">
                        <label for="reason">Reason</label>
                        <input type="text" class="form-control" name="reason" id="reason" maxlength="255">
                    </div>
                    <div id="rejudge-priority" class="mb-3">
                        <label for="priority">Priority</label>
                        <select class="form-control" name="priority" id="priority">
                            <option value="low">low</option>
                            <option value="default" selected>default</option>
                            <option value="high">high</option>
                        </select>
                    </div>
                    <div id="rejudge-overshoot" class="mb-3">
                        <label for="overshoot">Additional grace time (in s)</label>
                        <input type="number" class="form-control" name="overshoot" id="overshoot" value="0" min="0" max="999" step="1">
                    </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <input type="submit" value="{{ buttonText }}" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#full_rejudge').on('change', function () {
            if ($(this).is(':checked')) {
                $('#rejudge-reason').removeClass('d-none');
            } else {
                $('#rejudge-reason').addClass('d-none');
            }
        });
    });
</script>
