<div id="{{ editor_id }}-wrapper" class="flex-pass">
    {# Mark the first tab that is shown as active. #}
    {% set extra_css_classes = "active" %}
    <ul class="nav nav-tabs source-tab-nav align-items-end">
        {%- for name, name_files in files %}
            {% set diff_id = "diff-" ~ name %}
            {% if name_files[submission.submitid] is defined %}        
                {% set rank = name_files[submission.submitid].rank %}
            {% else %}
                {% set rank = null %}
            {% endif %}
            <li class="nav-item">
                <a id="{{ diff_id }}-link" class="nav-link {{ extra_css_classes }}" data-bs-toggle="tab" data-rank="{{ rank }}" href="#{{ diff_id }}-tab" role="tab"><i class="fas fa-fw fa-file"></i> {{ name }}</a>
            </li>
            {% set extra_css_classes = "" %}
        {%- endfor %}

        <li class="nav-item flex-grow-1 text-end mb-1">
            <a class="download btn btn-secondary btn-sm" href="{{ path('jury_submission_source', {submission: submission.submitid, fetch: 0}) }}">
                <i class="fas fa-download"></i> Download
            </a>
            {% if allowEdit %}
                <a class="edit btn btn-secondary btn-sm" href="{{ path('jury_submission_edit_source', {submission: submission.submitid, rank: 0}) }}">
                    <i class="fas fa-pencil-alt"></i> Edit
                </a>
            {% endif %}
            <div class="btn-group">
                <a href="#" role="button" class="btn btn-secondary btn-sm pe-none" aria-disabled="true"><i class="fas fa-code-branch"></i></a>
                <select class="diff-select btn btn-secondary btn-sm form-select-sm text-start" aria-label="Submission to diff against" {%- if otherSubmissions is empty %}disabled="true" aria-disabled="true"{%- endif %}>
                    <option value="" data-tag="no-diff">No diff</option>
                    {%- for other in otherSubmissions %}
                        <option value="{{ other.submitid }}" data-url="{{ path('jury_submission', {submitId: other.submitid}) }}" {%- if other.tag %} data-tag="{{ other.tag }}" {%- endif %}>
                            s{{ other.submitid }} {%- if other.tag %} ({{ other.tag }}) {%- endif %}
                        </option>
                    {%- endfor %}
                </select>
            </div>
            <div class="diff-mode btn-group d-none d-md-inline-flex">
                <a href="#" role="button" class="btn btn-secondary btn-sm pe-none" aria-disabled="true"><i class="fas fa-plus-minus"></i></a>
                {%- for mode_id, mode in diff_modes %}
                    <input type="radio" class="btn-check" name="{{ editor_id }}-mode" id="{{ editor_id }}-{{ mode_id }}" value="{{ mode_id }}">
                    <label class="btn btn-outline-secondary btn-sm" for="{{ editor_id }}-{{ mode_id }}">{{ mode.name }}</label>
                {%- endfor %}
            </div>
        </li>
    </ul>
    <script>
    $(() => {
        require(['vs/editor/editor.main'], () => {
            initDiffEditor('{{ editor_id }}');
        });
    });
    </script>
    {% set extra_css_classes = "show active" %}
    <div class="tab-content source-tab flex-pass">
        {%- for name, name_files in files %}
            {% set diff_id = "diff-" ~ name %}
            <div class="tab-pane fade flex-pass {{ extra_css_classes }}" id="{{ diff_id }}-tab" role="tabpanel">
                {{ showDiff(editor_id, diff_id, submission.submitid, name, name_files) }}
            </div>
            {% set extra_css_classes = "" %}
        {%- endfor %}
    </div>
</div>
