{# Render a list of submissions for a jury page #}
{# @var \App\Entity\ExternalJudgement externalJudgement #}

{% if showExternalResult is not defined %}
    {% set showExternalResult = false %}
{% endif %}
{% if showExternalTestcases is not defined %}
    {% set showExternalTestcases = false %}
{% endif %}

{% set rowSpan = 1 %}
{% set tdExtraClass = '' %}
{% if showExternalResult and showExternalTestcases %}
    {% set rowSpan = 3 %}
    {% set tdExtraClass = ' thick-border' %}
{% endif %}

{% if submissions is empty %}
    <div class="alert alert-warning">No submissions</div>
{% else %}
    <div>
        <span class="badge badge-info">{{ submissionCounts.total }} submitted</span>
        <span class="badge badge-success">{{ submissionCounts.correct }} correct</span>

        {% if submissionCounts.unverified > 0 %}
            <span class="badge badge-warning">{{ submissionCounts.unverified }} unverified</span>
        {% endif %}

        {% if submissionCounts.ignored > 0 %}
            <span class="badge badge-dark">{{ submissionCounts.ignored }} ignored</span>
        {% endif %}

        {% if submissionCounts.judging > 0 %}
            <span class="badge badge-primary">{{ submissionCounts.judging }} judging</span>
        {% endif %}

        {% if submissionCounts.queued > 0 %}
            <span class="badge badge-danger">{{ submissionCounts.queued }} queued (from {{submissionCounts.perteam}} teams)</span>
        {% endif %}
    </div>

    <table class="data-table table table-hover table{% if showExternalResult and showExternalTestcases %}-3{% endif %}-striped table-sm submissions-table">
        <thead class="thead-light">
        <tr>
            {% if showExternalResult and showExternalTestcases %}
                <th scope="col" colspan="2">ID</th>
            {% else %}
                <th scope="col">ID</th>
            {% endif %}
            {%- if showContest %}

                <th scope="col">contest</th>
            {%- endif %}

            <th scope="col">time</th>
            <th scope="col" colspan="2">team</th>
            <th scope="col">problem</th>
            <th scope="col">lang</th>
            {% if showExternalResult and showExternalTestcases %}
                <th scope="col" colspan="2">result</th>
            {% else %}
                <th scope="col">result</th>
            {% endif %}
            {% if showExternalResult and not showExternalTestcases %}
                <th scope="col">external result</th>
            {% endif %}
            {% if not showExternalResult or not showExternalTestcases %}
                <th scope="col">verified</th>
                <th scope="col">by</th>
            {% endif %}
            {%- if rejudging is defined %}

                <th scope="col">old result</th>
            {%- endif %}
            {%- if showTestcases is defined and showTestcases %}

                <th scope="col" class="not-sortable not-searchable">test results</th>
            {%- endif %}

        </tr>
        </thead>
        <tbody>
        {%- for submission in submissions %}
            {%- if rejudging is defined %}
                {%- set link = path('jury_submission', {submitId: submission.submitid, rejudgingid: rejudging.rejudgingid}) %}
            {%- else %}
                {%- set link = path('jury_submission', {submitId: submission.submitid}) %}
            {%- endif %}

            <tr class="{% if not submission.valid %}ignore{% endif %}"
                data-problem-id="{{ submission.problem.probid }}"
                data-team-id="{{ submission.team.teamid }}"
                data-category-id="{{ submission.team.category.categoryid }}"
                data-language-id="{{ submission.language.langid }}"
                data-submission-id="{{ submission.submitid }}"
                data-result="{{ submission | printValidJurySubmissionResult(false) }}">
                {% if showExternalResult and showExternalTestcases %}
                    <td class="{{ tdExtraClass }}">
                        <a href="{{ link }}">
                            Local
                        </a>
                    </td>
                {% endif %}
                <td class="{{ tdExtraClass }}">
                    <a href="{{ link }}">
                        s{{ submission.submitid }}
                        {% if submission.externalid %}
                            ({{ submission.externalid }})
                        {% endif %}
                    </a>
                </td>
                {%- if showContest %}
                    <td class="{{ tdExtraClass }}"><a href="{{ link }}">c{{ submission.contest.cid }}</a></td>
                {%- endif %}

                <td rowspan="{{ rowSpan }}" class="{{ tdExtraClass }}">
                    <a href="{{ link }}">{{ submission.submittime | printtime(null, submission.contest) }}</a>
                </td>
                <td rowspan="{{ rowSpan }}" class="{{ tdExtraClass }}" style="text-align: right;">
                    <a href="{{ link }}">
                        {{ submission.team | entityIdBadge('t') }}
                    </a>
                </td>
                <td rowspan="{{ rowSpan }}" class="{{ tdExtraClass }}">
                    <a href="{{ link }}">
                        {{ submission.team.effectiveName | u.truncate(teamname_max_length, '…') }}
                    </a>
                </td>
                <td class="probid{{ tdExtraClass }}" rowspan="{{ rowSpan }}">
                    <a href="{{ link }}"
                       title="{{ submission.problem.name }}">{{ submission.contestProblem | problemBadge }}</a>
                </td>
                <td class="langid{{ tdExtraClass }}" rowspan="{{ rowSpan }}">
                    <a href="{{ link }}"
                       title="{{ submission.language.name }}">{{ submission.language.langid }}</a>
                </td>
                {% if showExternalResult and showExternalTestcases %}
                    <td class="{{ tdExtraClass }}">
                        <a href="{{ link }}">
                            Local
                        </a>
                    </td>
                {% endif %}
                <td class="{{ tdExtraClass }}">
                    <a href="{{ link }}">
                        {{ submission | printValidJurySubmissionResult }}
                    </a>
                </td>
                {% if showExternalResult and not showExternalTestcases %}
                    {% if submission.externalJudgements.empty %}
                        {% set externalJudgement = null %}
                    {% else %}
                        {% set externalJudgement = submission.externalJudgements.first %}
                    {% endif %}
                    <td class="{{ tdExtraClass }}">
                        <a href="{{ link }}">
                            {% if submission.externalid is null %}
                                {{- 'n / a' | printValidJuryResult -}}
                            {% elseif externalJudgement is null or externalJudgement.result is empty %}
                                {{- 'pending' | printValidJuryResult -}}
                            {% else %}
                                {{- externalJudgement.result | printValidJuryResult -}}
                            {% endif %}
                        </a>
                    </td>
                {% endif %}
                {% if not showExternalResult or not showExternalTestcases %}
                    {%- set claim = false %}
                    {%- if submission.judgings.first is empty or submission.judgings.first.result is empty -%}
                        {%- set verified = '' %}
                        {%- set juryMember = '' %}
                    {%- else %}
                        {%- set juryMember = submission.judgings.first.juryMember %}
                        {%- if submission.judgings.first.verified %}
                            {%- set verified = 'yes' %}
                        {%- else %}
                            {%- set verified = 'no' %}
                            {%- if submission.judgings.first.juryMember is empty %}
                                {%- set claim = true %}
                            {%- else %}
                                {%- set verified = 'claimed' %}
                            {%- endif %}
                        {%- endif %}
                    {%- endif %}
                    {%- if claim %}
                        {%- set claimArg = {claim: 1} %}
                    {%- else %}
                        {%- set claimArg = {unclaim: 1} %}
                    {%- endif %}
                    <td class="{{ tdExtraClass }}"><a href="{{ link }}">{{ verified }}</a></td>
                    {% if not showExternalResult or not showExternalTestcases %}
                        <td class="{{ tdExtraClass }}">
                            {%- if rejudging is defined %}
                                {%- set claimLink = path('jury_submission', claimArg | merge({submitId: submission.submitid, rejudgingid: rejudging.rejudgingid})) %}
                            {%- else %}
                                {%- set claimLink = path('jury_submission', claimArg | merge({submitId: submission.submitid})) %}
                            {%- endif %}
                            {%- if claim -%}
                                <a class="btn btn-outline-secondary btn-sm"
                                   href="{{ claimLink }}">claim</a>
                            {%- elseif (not submission.judgings.first or not submission.judgings.first.verified) and juryMember == app.user.username -%}
                                <a class="btn btn-info btn-sm" href="{{ claimLink }}">unclaim</a>
                            {%- else -%}
                                <a href="{{ link }}">{{ juryMember }}</a>
                            {%- endif -%}
                        </td>
                    {% endif %}
                {% endif %}
                {%- if rejudging is defined %}

                    <td class="{{ tdExtraClass }}"><a href="{{ path('jury_submission', {submitId: submission.submitid}) }}">
                            {{ submission.oldResult | printValidJuryResult }}
                        </a></td>
                {%- endif %}
                {%- if showTestcases is defined and showTestcases %}

                    <td class="testcase-results{{ tdExtraClass }}">
                        {{- submission | testcaseResults -}}
                    </td>
                {%- endif %}

            </tr>
            {% if showExternalResult and showExternalTestcases %}
                <tr>
                    {% if submission.externalJudgements.empty %}
                        {% set externalJudgement = null %}
                    {% else %}
                        {% set externalJudgement = submission.externalJudgements.first %}
                    {% endif %}
                    {% if external_ccs_submission_url is not empty %}
                        {% set externalSubmissionUrl = submission | externalCcsUrl %}
                    {% else %}
                        {% set externalSubmissionUrl = null %}
                    {% endif %}
                    <td rowspan="2">
                        <a {% if externalSubmissionUrl is not null %}href="{{ externalSubmissionUrl }}"{% endif %}>
                            External
                        </a>
                    </td>
                    <td rowspan="2">
                        <a {% if externalSubmissionUrl is not null %}href="{{ externalSubmissionUrl }}"{% endif %}>
                            {{ submission.externalid }}
                        </a>
                    </td>
                    <td>
                        <a {% if externalSubmissionUrl is not null %}href="{{ externalSubmissionUrl }}"{% endif %}>
                            External
                        </a>
                    </td>
                    <td>
                        <a {% if externalSubmissionUrl is not null %}href="{{ externalSubmissionUrl }}"{% endif %}>
                            {% if externalJudgement is null or externalJudgement.result is empty %}
                                {{- 'pending' | printValidJuryResult -}}
                            {% else %}
                                {{- externalJudgement.result | printValidJuryResult -}}
                            {% endif %}
                        </a>
                    </td>
                    <td class="testcase-results">
                        {{- submission | testcaseResults(true) -}}
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="inline-verify-form">
                        {% if externalJudgement is not null %}
                            {% include 'jury/partials/verify_form.html.twig' with {
                                label: 'Shadow difference verified',
                                judging: externalJudgement,
                                form_action: path('jury_shadow_difference_verify', {extjudgementid: externalJudgement.extjudgementid}),
                                show_form: true,
                                show_icat: false} %}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {%- endfor %}

        </tbody>
    </table>
{% endif %}
