<div class="row">
    <div class="col-lg-4">
        {{ form_start(form) }}
        {% if form.offsetExists('externalid') %}
            {{ form_row(form.externalid) }}
        {% endif %}
        {{ form_row(form.icpcid) }}
        {{ form_row(form.name) }}
        {{ form_row(form.displayName) }}
        {{ form_row(form.category) }}
        {{ form_row(form.publicdescription) }}
        {{ form_row(form.affiliation) }}
        {{ form_row(form.penalty) }}
        {{ form_row(form.room) }}
        {{ form_row(form.internalcomments) }}
        {{ form_row(form.contests) }}
        {{ form_row(form.enabled) }}
        {% if form.offsetExists('existingUser') %}
            {{ form_row(form.addUserForTeam) }}
            <div data-existing-user>
                {{ form_row(form.existingUser) }}
            </div>
            <div data-new-username>
                {{ form_row(form.newUsername) }}
            </div>
        {% endif %}
        {{ form_end(form) }}
    </div>
</div>

<script>
    $(function () {
        var $addUserForTeam = $('#team_addUserForTeam');
        var addUserForTeamChanged = function () {
            var $existingUserField = $('[data-existing-user]');
            var $newUsernameField = $('[data-new-username]');
            switch ($addUserForTeam.val()) {
                case 'dont-add-user':
                    $existingUserField.hide();
                    $newUsernameField.hide();
                    $newUsernameField.find('input').attr('required', false);
                    break;
                case 'create-new-user':
                    $existingUserField.hide();
                    $newUsernameField.show();
                    $newUsernameField.find('input').attr('required', true);
                    break;
                case 'add-existing-user':
                    $existingUserField.show();
                    $newUsernameField.hide();
                    $newUsernameField.find('input').attr('required', false);
                    break;
            }
        };
        $addUserForTeam.on('change', addUserForTeamChanged);
        addUserForTeamChanged();
    })
</script>
