<div class="row">
    <div class="col-lg-4">
        {{ form_start(form) }}
        {{ form_row(form.icpcid) }}
        {{ form_row(form.name) }}
        {{ form_row(form.displayName) }}
        {{ form_row(form.category) }}
        {{ form_row(form.members) }}
        {{ form_row(form.affiliation) }}
        {{ form_row(form.penalty) }}
        {{ form_row(form.room) }}
        {{ form_row(form.comments) }}
        {{ form_row(form.contests) }}
        {{ form_row(form.enabled) }}
        {% if form.offsetExists('users') %}
            {{ form_row(form.addUserForTeam) }}
            <div data-user-field>
                {{ form_row(form.users) }}
            </div>
        {% endif %}
        {{ form_end(form) }}
    </div>
</div>

<script>
    $(function () {
        $('#team_addUserForTeam').on('change', function () {
            if ($(this).is(':checked')) {
                $('[data-user-field]').show();
            } else {
                $('[data-user-field]').hide();
            }
        });
    })
</script>
