<div class="row">
    <div class="col-lg-4">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.sortorder) }}
        <div class="form-group">
            {{ form_label(form.color) }}
            {{ form_widget(form.color) }}
            <small class="form-text text-muted">
                <a target="_blank" href="https://en.wikipedia.org/wiki/Web_colors"><i class="fas fa-question-circle"></i></a>
            </small>
        </div>
        {{ form_row(form.visible) }}
        {{ form_end(form) }}
    </div>
</div>
