{% macro form_table_row(field, attr) %}
<tr {{ attr | default('') }}>
    <th>{{ field.vars.label | default(field.vars.name | humanize) }}</th>
    <td>
        {{ form_errors(field) }}
        {{ form_widget(field, {label: false}) }}
        {{ form_help(field) }}
    </td>
</tr>
{% endmacro %}

{% macro section_header(icon, title) %}
<tr class="contest-form-section-header">
    <td colspan="2"><i class="fas fa-{{ icon }} me-2"></i>{{ title }}</td>
</tr>
{% endmacro %}

{{ form_start(form) }}
<div class="row">
    <div class="col-lg-6">

        {{ form_errors(form) }}

        <table class="table table-sm mb-0 contest-fields-table">
            <tbody>
                {{ _self.section_header('tag', 'Identity') }}
                {% if form.externalid is defined %}
                    {{ _self.form_table_row(form.externalid) }}
                {% endif %}
                {% if form.username is defined %}
                    {{ _self.form_table_row(form.username) }}
                {% endif %}
                {{ _self.form_table_row(form.name) }}
                {{ _self.form_table_row(form.email) }}

                {{ _self.section_header('key', 'Authentication') }}
                {{ _self.form_table_row(form.plainPassword) }}
                {{ _self.form_table_row(form.ipAddress) }}
                {{ _self.form_table_row(form.enabled) }}

                {{ _self.section_header('shield-alt', 'Permissions') }}
                {{ _self.form_table_row(form.team) }}
                {{ _self.form_table_row(form.user_roles) }}
            </tbody>
        </table>
    </div>
</div>

{{ form_widget(form.save) }}
{{ form_end(form) }}
