<div class="row">
    <div class="col-lg-4">
        {{ form_start(form) }}
        {% if form.offsetExists('username') %}
            {{ form_row(form.username) }}
        {% endif %}
        {{ form_row(form.name) }}
        {{ form_row(form.email, { 'attr': {'autocomplete': 'new-password'} }) }}
        <div class="form-group">
            {{ form_label(form.plainPassword) }}
            {{ form_widget(form.plainPassword, { 'attr': {'autocomplete': 'new-password'} }) }}
            {{ form_help(form.plainPassword) }}
        </div>
        {{ form_row(form.ipAddress) }}
        {{ form_row(form.enabled) }}
        {{ form_row(form.team) }}
        {{ form_row(form.user_roles) }}
        {{ form_end(form) }}
    </div>
</div>
